Repository GoogleCloudPlatform/khi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

feat(web): add v6 parser binary reader and parser (#630)
  web/src/app/common/misc-util.spec.ts
  web/src/app/common/misc-util.ts
  web/src/app/parser/README.md
  web/src/app/parser/core/binary-reader.spec.ts
  web/src/app/parser/core/binary-reader.ts
  web/src/app/parser/core/file-parser.spec.ts
  web/src/app/parser/core/file-parser.ts
  web/src/app/parser/core/interfaces.ts
Owners: @kyasbal, @renamoo, @jyane

fixed minor issues on Makefile
  .agents/rules/markdown-coding-rule.md
  GEMINI.md
  docs/en/development-contribution/development-guide.md
  docs/ja/development-contribution/development-guide.md
  scripts/make/build.mk
  scripts/make/hooks.mk
  scripts/make/lint.mk
  scripts/make/testing.mk
Owners: none

fixed minor issues on Makefile (#644)
  .agents/rules/markdown-coding-rule.md
  GEMINI.md
  docs/en/development-contribution/development-guide.md
  docs/ja/development-contribution/development-guide.md
  scripts/make/build.mk
  scripts/make/hooks.mk
  scripts/make/lint.mk
  scripts/make/testing.mk
Owners: none

Merge epic/csm-parser into main (#645)
  pkg/model/history/resourcepath/gcp.go
  pkg/task/inspection/googlecloudcommon/contract/fieldset.go
  pkg/task/inspection/googlecloudcommon/contract/fieldset_test.go
  pkg/task/inspection/googlecloudcommon/contract/operation_tracker.go
  pkg/task/inspection/googlecloudcommon/contract/operation_tracker_test.go
  pkg/task/inspection/googlecloudk8scommon/contract/inventory.go
  pkg/task/inspection/googlecloudk8scommon/impl/negtobackendservice_inventory.go
  pkg/task/inspection/googlecloudk8scommon/impl/registration.go
  pkg/task/inspection/googlecloudlogcsm/README.md
  pkg/task/inspection/googlecloudlogcsm/contract/taskid.go
  pkg/task/inspection/googlecloudlogcsm/impl/cluster_identifier_task.go
  pkg/task/inspection/googlecloudlogcsm/impl/cluster_identifier_task_test.go
  pkg/task/inspection/googlecloudlogcsm/impl/form_task.go
  pkg/task/inspection/googlecloudlogcsm/impl/registration.go
  pkg/task/inspection/googlecloudlogcsm/impl/traffic_director_parser_task.go
  pkg/task/inspection/googlecloudlogcsm/impl/traffic_director_parser_task_test.go
  pkg/task/inspection/googlecloudlogcsm/impl/traffic_director_query_task.go
  pkg/task/inspection/googlecloudlogcsm/impl/traffic_director_query_task_test.go
  pkg/task/inspection/googlecloudlogk8saudit/contract/taskid.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/neg_discovery_task.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/neg_discovery_task_test.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/parser.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/registration.go
  pkg/task/inspection/googlecloudlogk8sevent/contract/taskid.go
  pkg/task/inspection/googlecloudlogk8sevent/impl/neg_discovery_task.go
  pkg/task/inspection/googlecloudlogk8sevent/impl/neg_discovery_task_test.go
  pkg/task/inspection/googlecloudlogk8sevent/impl/registration.go
  pkg/task/inspection/googlecloudlognetworkapiaudit/impl/parser_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

:bug: fix set-input suggestion being wrapped for every lines (#638)
  web/src/app/shared/components/set-input/default-chip.component.scss
  web/src/app/timeline-toolbar/components/set-input-popup.component.scss
Owners: @kyasbal, @renamoo, @jyane

Added serializer for timeline registry to flush contents as proto (#634)
  pkg/model/khifile/v6/timeline_path.go
  pkg/model/khifile/v6/timeline_registry.go
  pkg/model/khifile/v6/timeline_serializer.go
  pkg/model/khifile/v6/timeline_serializer_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Added interned pool types and struct decoder
  pkg/generated/khifile/v6/intern_pool.pb.go
  pkg/model/khifile/v6/intern.go
  proto/khifile/v6/intern_pool.proto
  web/src/app/generated/khifile/v6/intern_pool_pb.d.ts
  web/src/app/generated/khifile/v6/intern_pool_pb.js
  web/src/app/store/domain/intern-pool-store.spec.ts
  web/src/app/store/domain/intern-pool-store.ts
  web/src/app/store/domain/struct-decoder.spec.ts
  web/src/app/store/domain/struct-decoder.ts
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

Added interned pool types and struct decoder (#640)
  pkg/generated/khifile/v6/intern_pool.pb.go
  pkg/model/khifile/v6/intern.go
  proto/khifile/v6/intern_pool.proto
  web/src/app/generated/khifile/v6/intern_pool_pb.d.ts
  web/src/app/generated/khifile/v6/intern_pool_pb.js
  web/src/app/store/domain/intern-pool-store.spec.ts
  web/src/app/store/domain/intern-pool-store.ts
  web/src/app/store/domain/struct-decoder.spec.ts
  web/src/app/store/domain/struct-decoder.ts
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

feat: Adding TimelineStyleRegistry
  .github/workflows/pullrequest.yaml
  .gitignore
  pkg/model/khifile/v6/style/timeline.go
  pkg/model/khifile/v6/style/timeline_test.go
  scripts/make/codegen.mk
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

feat: Adding TimelineStyleRegistry (#639)
  .github/workflows/pullrequest.yaml
  .gitignore
  pkg/model/khifile/v6/style/timeline.go
  pkg/model/khifile/v6/style/timeline_test.go
  scripts/make/codegen.mk
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Fix bugs to register the CSM TD parser tasks
  pkg/task/inspection/googlecloudlogk8saudit/impl/neg_discovery_task.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/neg_discovery_task_test.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/parser.go
  pkg/task/inspection/googlecloudlogk8sevent/impl/parser_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Fix bugs to register the CSM TD parser tasks (#647)
  pkg/task/inspection/googlecloudlogk8saudit/impl/neg_discovery_task.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/neg_discovery_task_test.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/parser.go
  pkg/task/inspection/googlecloudlogk8sevent/impl/parser_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Addming make clean command
  Makefile
Owners: none

Change input of style registration not to depend on proto
  pkg/model/khifile/v6/style/timeline.go
  pkg/model/khifile/v6/style/timeline_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Fix the same issue of #638
  web/src/app/timeline-toolbar/components/set-input-popup.component.scss
Owners: @kyasbal, @renamoo, @jyane

Fix the same issue of #638 (#659)
  web/src/app/timeline-toolbar/components/set-input-popup.component.scss
Owners: @kyasbal, @renamoo, @jyane

Adding metadata accumulator
  pkg/core/inspection/metadata/query_metadata.go
  pkg/generated/khifile/v6/metadata.pb.go
  pkg/generated/khifile/v6/shared.pb.go
  pkg/model/khifile/v6/generator.go
  pkg/model/khifile/v6/generator_test.go
  pkg/model/khifile/v6/metadata_accumulator.go
  pkg/model/khifile/v6/metadata_accumulator_test.go
  pkg/model/khifile/v6/style/assets/zzz-icon-codepoints.json
  pkg/model/khifile/v6/style/assets/zzz-material-icons-msdf.json
  pkg/model/khifile/v6/style/assets/zzz-material-icons-msdf.png
  pkg/model/khifile/v6/style/assets/zzz-roboto-number-msdf.json
  pkg/model/khifile/v6/style/assets/zzz-roboto-number-msdf.png
  proto/khifile/v6/metadata.proto
  proto/khifile/v6/shared.proto
  proto/khifile/v6/timeline.proto
  web/src/app/generated/khifile/v6/metadata_pb.d.ts
  web/src/app/generated/khifile/v6/metadata_pb.js
  web/src/app/generated/khifile/v6/shared_pb.js
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

Added style related domain stores
  web/src/app/store/domain/style-store.spec.ts
  web/src/app/store/domain/style-store.ts
  web/src/app/store/domain/style.ts
  web/src/app/store/domain/types.ts
Owners: @kyasbal, @renamoo, @jyane

fixed commented points
  Makefile
  pkg/generated/.gitkeep
  scripts/backend-codegen/main.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Adding make clean command (#651)
  Makefile
  pkg/generated/.gitkeep
  scripts/backend-codegen/main.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

removed prefix 'v2' in shader files
  web/src/app/timeline/components/canvas/timeline-events-renderer.ts
  web/src/app/timeline/components/canvas/timeline-revisions-renderer.ts
  web/src/assets/event.color-fragment.glsl
  web/src/assets/event.hittest-fragment.glsl
  web/src/assets/event.shared.glsl
  web/src/assets/event.vertex.glsl
  web/src/assets/revision.color-fragment.glsl
  web/src/assets/revision.hittest-fragment.glsl
  web/src/assets/revision.shared.glsl
  web/src/assets/revision.vertex.glsl
  web/src/assets/shared.glsl
Owners: @kyasbal, @renamoo, @jyane

removed prefix 'v2' in shader files (#661)
  web/src/app/timeline/components/canvas/timeline-events-renderer.ts
  web/src/app/timeline/components/canvas/timeline-revisions-renderer.ts
  web/src/assets/event.color-fragment.glsl
  web/src/assets/event.hittest-fragment.glsl
  web/src/assets/event.shared.glsl
  web/src/assets/event.vertex.glsl
  web/src/assets/revision.color-fragment.glsl
  web/src/assets/revision.hittest-fragment.glsl
  web/src/assets/revision.shared.glsl
  web/src/assets/revision.vertex.glsl
  web/src/assets/shared.glsl
Owners: @kyasbal, @renamoo, @jyane

improved sticky header to show resource layer
  web/src/app/timeline/components/calculator/vertical-scroll-calculator.spec.ts
  web/src/app/timeline/components/calculator/vertical-scroll-calculator.ts
  web/src/app/timeline/components/timeline-frame.component.html
  web/src/app/timeline/components/timeline-frame.component.scss
  web/src/app/timeline/components/timeline-frame.component.ts
Owners: @kyasbal, @renamoo, @jyane

Added style related domain stores (#658)
  web/src/app/store/domain/style-store.spec.ts
  web/src/app/store/domain/style-store.ts
  web/src/app/store/domain/style.ts
  web/src/app/store/domain/types.ts
Owners: @kyasbal, @renamoo, @jyane

Adding metadata accumulator (#646)
  pkg/core/inspection/metadata/query_metadata.go
  pkg/generated/khifile/v6/metadata.pb.go
  pkg/generated/khifile/v6/shared.pb.go
  pkg/model/khifile/v6/generator.go
  pkg/model/khifile/v6/generator_test.go
  pkg/model/khifile/v6/metadata_accumulator.go
  pkg/model/khifile/v6/metadata_accumulator_test.go
  pkg/model/khifile/v6/style/assets/zzz-icon-codepoints.json
  pkg/model/khifile/v6/style/assets/zzz-material-icons-msdf.json
  pkg/model/khifile/v6/style/assets/zzz-material-icons-msdf.png
  pkg/model/khifile/v6/style/assets/zzz-roboto-number-msdf.json
  pkg/model/khifile/v6/style/assets/zzz-roboto-number-msdf.png
  proto/khifile/v6/metadata.proto
  proto/khifile/v6/shared.proto
  proto/khifile/v6/timeline.proto
  web/src/app/generated/khifile/v6/metadata_pb.d.ts
  web/src/app/generated/khifile/v6/metadata_pb.js
  web/src/app/generated/khifile/v6/shared_pb.js
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

Change input of style registration not to depend on proto (#656)
  pkg/model/khifile/v6/style/timeline.go
  pkg/model/khifile/v6/style/timeline_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Adding KHI file format spec and serializer/deserializer spec
  docs/en/architecture/khi-backend-serializer.md
  docs/en/architecture/khi-file-format.md
  docs/en/architecture/khi-frontend-parser.md
  docs/ja/architecture/khi-backend-serializer.md
  docs/ja/architecture/khi-file-format.md
  docs/ja/architecture/khi-frontend-parser.md
Owners: none

Adding KHI file format spec and serializer/deserializer spec (#650)
  docs/en/architecture/khi-backend-serializer.md
  docs/en/architecture/khi-file-format.md
  docs/en/architecture/khi-frontend-parser.md
  docs/ja/architecture/khi-backend-serializer.md
  docs/ja/architecture/khi-file-format.md
  docs/ja/architecture/khi-frontend-parser.md
Owners: none

fixed the flaky backend test due to race condition
  pkg/core/inspection/progressutil/progress_updator_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

add v6 khi file builder
  pkg/model/khifile/v6/builder.go
  pkg/model/khifile/v6/builder_test.go
  pkg/model/khifile/v6/generator.go
  pkg/model/khifile/v6/timeline_accumulator.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

adding changeset utility
  docs/en/architecture/khi-backend-serializer.md
  docs/en/architecture/khi-file-format.md
  docs/en/architecture/khi-frontend-parser.md
  docs/ja/architecture/khi-backend-serializer.md
  docs/ja/architecture/khi-file-format.md
  docs/ja/architecture/khi-frontend-parser.md
  pkg/core/inspection/metadata/query_metadata.go
  pkg/generated/khifile/v6/metadata.pb.go
  pkg/generated/khifile/v6/shared.pb.go
  pkg/model/khifile/v6/generator.go
  pkg/model/khifile/v6/generator_test.go
  pkg/model/khifile/v6/metadata_accumulator.go
  pkg/model/khifile/v6/metadata_accumulator_test.go
  pkg/model/khifile/v6/style/timeline.go
  pkg/model/khifile/v6/style/timeline_test.go
  proto/khifile/v6/metadata.proto
  proto/khifile/v6/shared.proto
  proto/khifile/v6/timeline.proto
  web/src/app/generated/khifile/v6/metadata_pb.d.ts
  web/src/app/generated/khifile/v6/metadata_pb.js
  web/src/app/generated/khifile/v6/shared_pb.js
  web/src/app/store/domain/style-store.spec.ts
  web/src/app/store/domain/style-store.ts
  web/src/app/store/domain/style.ts
  web/src/app/store/domain/types.ts
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

fixed the flaky backend test due to race condition (#665)
  pkg/core/inspection/progressutil/progress_updator_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

improve ts coding rule
  .agents/rules/ts-coding-rule.md
Owners: none

improve ts coding rule (#667)
  .agents/rules/ts-coding-rule.md
Owners: none

Removed InternedStuctDTO
  buf.yaml
  pkg/generated/khifile/shared.pb.go
  pkg/generated/khifile/v6/log.pb.go
  pkg/generated/khifile/v6/timeline.pb.go
  pkg/model/khifile/v6/struct.go
  pkg/model/khifile/v6/struct_test.go
  proto/khifile/shared.proto
  proto/khifile/v6/log.proto
  proto/khifile/v6/timeline.proto
  web/src/app/generated/khifile/shared_pb.d.ts
  web/src/app/generated/khifile/shared_pb.js
  web/src/app/generated/khifile/v6/log_pb.d.ts
  web/src/app/generated/khifile/v6/log_pb.js
  web/src/app/generated/khifile/v6/shared_pb.js
  web/src/app/generated/khifile/v6/timeline_pb.d.ts
  web/src/app/generated/khifile/v6/timeline_pb.js
  web/src/app/store/domain/struct-decoder.spec.ts
  web/src/app/store/domain/struct-decoder.ts
  web/src/app/store/domain/types.ts
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

Added log related domain stores
  web/src/app/store/domain/log-store.spec.ts
  web/src/app/store/domain/log-store.ts
  web/src/app/store/domain/log.ts
  web/src/app/utils/bigint-time-util.spec.ts
  web/src/app/utils/bigint-time-util.ts
Owners: @kyasbal, @renamoo, @jyane

Added Timeline related domain types
  web/src/app/common/misc-util.ts
  web/src/app/store/domain/timeline-store.spec.ts
  web/src/app/store/domain/timeline-store.ts
  web/src/app/store/domain/timeline.spec.ts
  web/src/app/store/domain/timeline.ts
Owners: @kyasbal, @renamoo, @jyane

improved sticky header to show resource layer (#663)
  web/src/app/timeline/components/calculator/vertical-scroll-calculator.spec.ts
  web/src/app/timeline/components/calculator/vertical-scroll-calculator.ts
  web/src/app/timeline/components/timeline-frame.component.html
  web/src/app/timeline/components/timeline-frame.component.scss
  web/src/app/timeline/components/timeline-frame.component.ts
Owners: @kyasbal, @renamoo, @jyane

Merge main branch into epic/file-schema-v6 (#670)
  .agents/rules/ts-coding-rule.md
  pkg/core/inspection/progressutil/progress_updator_test.go
  web/src/app/timeline/components/calculator/vertical-scroll-calculator.spec.ts
  web/src/app/timeline/components/calculator/vertical-scroll-calculator.ts
  web/src/app/timeline/components/timeline-frame.component.html
  web/src/app/timeline/components/timeline-frame.component.scss
  web/src/app/timeline/components/timeline-frame.component.ts
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

Removed InternedStuctDTO
  buf.yaml
  pkg/generated/khifile/shared.pb.go
  pkg/generated/khifile/v6/log.pb.go
  pkg/generated/khifile/v6/timeline.pb.go
  pkg/model/khifile/v6/struct.go
  pkg/model/khifile/v6/struct_test.go
  proto/khifile/shared.proto
  proto/khifile/v6/log.proto
  proto/khifile/v6/timeline.proto
  web/src/app/generated/khifile/shared_pb.d.ts
  web/src/app/generated/khifile/shared_pb.js
  web/src/app/generated/khifile/v6/log_pb.d.ts
  web/src/app/generated/khifile/v6/log_pb.js
  web/src/app/generated/khifile/v6/shared_pb.js
  web/src/app/generated/khifile/v6/timeline_pb.d.ts
  web/src/app/generated/khifile/v6/timeline_pb.js
  web/src/app/store/domain/struct-decoder.spec.ts
  web/src/app/store/domain/struct-decoder.ts
  web/src/app/store/domain/types.ts
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

.github/CODEOWNERS:

# Github Actions
.github/ @kyasbal
.cloudbuild/ @kyasbal

# Golang related files
cmd/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima
pkg/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima
test/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima

# Web front related files
web/ @kyasbal @renamoo @jyane
