Repository GoogleCloudPlatform/khi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

.github/CODEOWNERS:

# Github Actions
.github/ @kyasbal
.cloudbuild/ @kyasbal

# Golang related files
cmd/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima
pkg/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima
test/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima

# Web front related files
web/ @kyasbal @renamoo @jyane

fix suggested by gemini-code-assist
  web/src/app/diff/diff-view.component.ts
Owners: @kyasbal, @renamoo, @jyane

fix suggested by gemini-code-assist
  web/src/app/services/selection-manager.service.ts
Owners: @kyasbal, @renamoo, @jyane

Fix DoubleIntTask function signature
  docs/en/khi-task-system-concept.md
Owners: none

:bug: fix sticky timelines showed wrong timelines
  web/src/app/timeline/components/calculator/vertical-scroll-calculator.spec.ts
  web/src/app/timeline/components/calculator/vertical-scroll-calculator.ts
Owners: @kyasbal, @renamoo, @jyane

:bug: Timeline could be scaled with wrong aspect ratio
  web/src/app/timeline/components/canvas/timeline-renderer.ts
Owners: @kyasbal, @renamoo, @jyane

fix suggested by gemini-code-assist
  web/src/app/timeline/components/canvas/timeline-renderer.ts
Owners: @kyasbal, @renamoo, @jyane

fix control plane parser to associate logs to the right PV name when the log has the longer name
  pkg/task/inspection/googlecloudlogk8scontrolplane/contract/fieldset.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/contract/fieldset_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Optimized memory allocation for WebGL renderers
  web/src/app/timeline/components/canvas/glutil.ts
  web/src/app/timeline/components/canvas/hittest-shared-resource.ts
  web/src/app/timeline/components/canvas/timeline-events-renderer.ts
  web/src/app/timeline/components/canvas/timeline-renderer.ts
  web/src/app/timeline/components/canvas/timeline-revisions-renderer.ts
  web/src/app/timeline/components/canvas/timeline-shared-resource.ts
Owners: @kyasbal, @renamoo, @jyane

Added loading screen for timeline renderer
  web/src/app/timeline/components/canvas/glcontextmanager.ts
  web/src/app/timeline/components/timeline-chart.component.html
  web/src/app/timeline/components/timeline-chart.component.scss
  web/src/app/timeline/components/timeline-chart.component.ts
  web/src/app/timeline/components/timeline-chart.stories.ts
Owners: @kyasbal, @renamoo, @jyane

fix suggested by gemini-code-assist
  web/src/app/timeline/components/canvas/glutil.ts
  web/src/app/timeline/components/canvas/timeline-shared-resource.ts
Owners: @kyasbal, @renamoo, @jyane

fix suggested by gemini code assist
  web/src/app/timeline/components/timeline-chart.component.html
  web/src/app/timeline/components/timeline-chart.component.ts
Owners: @kyasbal, @renamoo, @jyane

fixed failing test
  web/src/app/timeline/components/canvas/glcontextmanager.spec.ts
Owners: @kyasbal, @renamoo, @jyane

build(web): update dependencies
  web/package-lock.json
  web/package.json
Owners: @kyasbal, @renamoo, @jyane

build(web): update dependencies and fix lockfile resolution
  web/package-lock.json
  web/package.json
Owners: @kyasbal, @renamoo, @jyane

fix(inspection): sort deduplicated cluster names in autocomplete results
  pkg/task/inspection/googlecloudk8scommon/impl/inputclustername_task.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputclustername_task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix broken style on new-inspection dialog
  web/src/app/dialogs/new-inspection/new-inspection.component.scss
Owners: @kyasbal, @renamoo, @jyane

fix style bug
  web/src/app/dialogs/new-inspection/new-inspection.component.scss
Owners: @kyasbal, @renamoo, @jyane

:bug: renderer wrongly uses cached gl resources
  web/src/app/store/inspection-data.ts
  web/src/app/timeline/components/canvas/timeline-renderer.ts
  web/src/app/timeline/components/timeline-chart.viewmodel.ts
  web/src/app/timeline/components/timeline-frame.component.ts
  web/src/app/timeline/timeline-smart.component.html
  web/src/app/timeline/timeline-smart.component.ts
Owners: @kyasbal, @renamoo, @jyane

Add JSONL log parser in logutil
  pkg/core/inspection/logutil/jsonl.go
  pkg/core/inspection/logutil/jsonl_test.go
  pkg/core/inspection/logutil/legacyklog.go
  pkg/core/inspection/logutil/logfmt.go
  pkg/core/inspection/logutil/type.go
  pkg/task/inspection/googlecloudlogk8snode/impl/common_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Update pkg/core/inspection/logutil/jsonl.go
  pkg/core/inspection/logutil/jsonl.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

add logic to trim whitespace
  pkg/core/inspection/logutil/jsonl.go
  pkg/core/inspection/logutil/jsonl_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Removed the legacy klog parser
  pkg/core/inspection/logutil/legacyklog.go
  pkg/core/inspection/logutil/legacyklog_test.go
  pkg/model/log/common_field_set.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/contract/fieldset.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/contract/fieldset_test.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/scheduler_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Generalize bisect utility
  web/src/app/common/misc-util.spec.ts
  web/src/app/common/misc-util.ts
  web/src/app/log/components/resource-reference-list.stories.ts
  web/src/app/timeline/components/calculator/vertical-scroll-calculator.ts
Owners: @kyasbal, @renamoo, @jyane

fix suggested by gemini
  web/src/app/common/misc-util.spec.ts
  web/src/app/log/components/resource-reference-list.stories.ts
Owners: @kyasbal, @renamoo, @jyane

Generalize more on bisectLeft,bisectRight
  web/src/app/common/misc-util.spec.ts
  web/src/app/common/misc-util.ts
  web/src/app/timeline/components/calculator/vertical-scroll-calculator.ts
Owners: @kyasbal, @renamoo, @jyane

Refactoring log related components
  web/src/app/log/components/log-content-header.component.html
  web/src/app/log/components/log-content-header.component.scss
  web/src/app/log/components/log-content-header.component.ts
  web/src/app/log/components/log-content-header.stories.ts
  web/src/app/log/components/log-content.component.html
  web/src/app/log/components/log-content.component.scss
  web/src/app/log/components/log-content.component.ts
  web/src/app/log/components/log-content.stories.ts
  web/src/app/log/components/log-list.component.html
  web/src/app/log/components/log-list.component.scss
  web/src/app/log/components/log-list.component.ts
  web/src/app/log/components/log-list.stories.ts
  web/src/app/log/components/log-view-log-line.component.html
  web/src/app/log/components/log-view-log-line.component.scss
  web/src/app/log/components/log-view-log-line.component.ts
  web/src/app/log/components/log-view-log-line.stories.ts
  web/src/app/log/icon-toggle-button.component.html
  web/src/app/log/icon-toggle-button.component.scss
  web/src/app/log/icon-toggle-button.component.ts
  web/src/app/log/log-smart.component.html
  web/src/app/log/log-smart.component.scss
  web/src/app/log/log-smart.component.spec.ts
  web/src/app/log/log-smart.component.ts
  web/src/app/log/log-view-log-line.component.spec.ts
  web/src/app/log/log-view-log-line.component.ts
  web/src/app/log/log-view.component.html
  web/src/app/log/log-view.component.ts
  web/src/app/pages/main/main.component.html
  web/src/app/pages/main/main.component.ts
  web/src/app/utils/observable-css-class-binder.ts
Owners: @kyasbal, @renamoo, @jyane

Removed unused id and class
  web/src/app/log/components/log-view-log-line.component.html
Owners: @kyasbal, @renamoo, @jyane

Refactor log related components. Removing service dependency from dumb components
  web/src/app/annotator/common-field-annotator.component.html
  web/src/app/annotator/common-field-annotator.component.ts
  web/src/app/annotator/timeline/default.ts
  web/src/app/annotator/timeline/resolver.ts
  web/src/app/diff/diff-view.component.html
  web/src/app/diff/diff-view.component.ts
  web/src/app/log/components/log-content-header.component.html
  web/src/app/log/components/log-content-header.component.ts
  web/src/app/log/components/log-content.component.html
  web/src/app/log/components/log-content.component.ts
  web/src/app/log/components/log-content.stories.ts
  web/src/app/log/components/resource-reference-list.component.ts
  web/src/app/log/log-smart.component.html
  web/src/app/log/log-smart.component.ts
  web/src/app/pages/diff/diff.component.html
  web/src/app/pages/diff/diff.component.ts
  web/src/app/root.module.ts
Owners: @kyasbal, @renamoo, @jyane

fix failing frontend test
  web/src/app/pages/diff/diff.component.spec.ts
Owners: @kyasbal, @renamoo, @jyane

fix failing frontend test
  web/src/app/diff/diff-view.component.spec.ts
Owners: @kyasbal, @renamoo, @jyane

Remove service dependency from dumb components (#532)
  web/src/app/annotator/common-field-annotator.component.html
  web/src/app/annotator/common-field-annotator.component.ts
  web/src/app/annotator/timeline/default.ts
  web/src/app/annotator/timeline/resolver.ts
  web/src/app/diff/diff-view.component.html
  web/src/app/diff/diff-view.component.spec.ts
  web/src/app/diff/diff-view.component.ts
  web/src/app/log/components/log-content-header.component.html
  web/src/app/log/components/log-content-header.component.ts
  web/src/app/log/components/log-content.component.html
  web/src/app/log/components/log-content.component.ts
  web/src/app/log/components/log-content.stories.ts
  web/src/app/log/components/resource-reference-list.component.ts
  web/src/app/log/log-smart.component.html
  web/src/app/log/log-smart.component.ts
  web/src/app/pages/diff/diff.component.html
  web/src/app/pages/diff/diff.component.spec.ts
  web/src/app/pages/diff/diff.component.ts
  web/src/app/root.module.ts
Owners: @kyasbal, @renamoo, @jyane

Migrated airflow-scheduler,airflow-worker parsers to the new parser base classes
  go.mod
  go.sum
  pkg/model/history/resourcepath/apacheairflow.go
  pkg/model/history/resourcepath/apacheairflow_test.go
  pkg/task/inspection/googlecloudclustercomposer/contract/fieldset.go
  pkg/task/inspection/googlecloudclustercomposer/contract/fieldset_test.go
  pkg/task/inspection/googlecloudclustercomposer/contract/taskid.go
  pkg/task/inspection/googlecloudclustercomposer/contract/types.go
  pkg/task/inspection/googlecloudclustercomposer/impl/airflow-common/util.go
  pkg/task/inspection/googlecloudclustercomposer/impl/airflow-dag-processor-manager/parser.go
  pkg/task/inspection/googlecloudclustercomposer/impl/airflow-dag-processor-manager/parser_test.go
  pkg/task/inspection/googlecloudclustercomposer/impl/airflow-scheduler/parser.go
  pkg/task/inspection/googlecloudclustercomposer/impl/airflow-scheduler/parser_test.go
  pkg/task/inspection/googlecloudclustercomposer/impl/airflow-worker/parser.go
  pkg/task/inspection/googlecloudclustercomposer/impl/airflow-worker/parser_test.go
  pkg/task/inspection/googlecloudclustercomposer/impl/airflow_util.go
  pkg/task/inspection/googlecloudclustercomposer/impl/fieldsetreader_task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/parser_task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/query_task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/query_task_test.go
  pkg/task/inspection/googlecloudclustercomposer/impl/registration.go
  pkg/task/inspection/googlecloudclustercomposer/impl/scheduler.go
  pkg/task/inspection/googlecloudclustercomposer/impl/worker.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Added tabulate table parser and migrated dag-processor-manager parser to the new parser structure
  pkg/core/inspection/logutil/tabulate.go
  pkg/core/inspection/logutil/tabulate_test.go
  pkg/task/inspection/googlecloudclustercomposer/contract/taskid.go
  pkg/task/inspection/googlecloudclustercomposer/contract/types.go
  pkg/task/inspection/googlecloudclustercomposer/impl/airflow-dag-processor-manager/parser.go
  pkg/task/inspection/googlecloudclustercomposer/impl/airflow-dag-processor-manager/parser_test.go
  pkg/task/inspection/googlecloudclustercomposer/impl/dag_processor_manager_mapper.go
  pkg/task/inspection/googlecloudclustercomposer/impl/dag_processor_manager_mapper_test.go
  pkg/task/inspection/googlecloudclustercomposer/impl/fieldsetreader_task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/parser_task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/registration.go
  pkg/task/inspection/googlecloudclustercomposer/impl/scheduler.go
  pkg/task/inspection/googlecloudclustercomposer/impl/scheduler_test.go
  pkg/task/inspection/googlecloudclustercomposer/impl/worker_test.go
  pkg/task/inspection/googlecloudcommon/contract/legacy_query_task.go
  pkg/task/inspection/googlecloudcommon/contract/listlogentries_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Migrated airflow-scheduler,airflow-worker parsers to the new parser base classes
  pkg/task/inspection/googlecloudclustercomposer/contract/types.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Added tabulate table parser and migrated dag-processor-manager parser to the new parser structure
  pkg/task/inspection/googlecloudclustercomposer/contract/types.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Added composer inspection type list and added sorter task before dag manager log mapper
  pkg/task/inspection/googlecloudclustercomposer/contract/taskid.go
  pkg/task/inspection/googlecloudclustercomposer/impl/autocomplete.go
  pkg/task/inspection/googlecloudclustercomposer/impl/autocompletecomposerclusternames_task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/dag_processor_manager_mapper.go
  pkg/task/inspection/googlecloudclustercomposer/impl/registration.go
  pkg/task/inspection/googlecloudclustercomposer/impl/scheduler.go
  pkg/task/inspection/googlecloudclustercomposer/impl/worker.go
  pkg/task/inspection/googlecloudinspectiontypegroup/contract/inspection_type.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fixed typo
  pkg/task/inspection/googlecloudclustercomposer/impl/clusteridentity_task.go
  pkg/task/inspection/googlecloudk8scommon/contract/taskid.go
  pkg/task/inspection/googlecloudk8scommon/impl/autocomplete.go
  pkg/task/inspection/googlecloudk8scommon/impl/clusteridentity.go
  pkg/task/inspection/googlecloudlogcomputeapiaudit/impl/clusteridentity_task.go
  pkg/task/inspection/googlecloudlogcsm/impl/clusteridentity_task.go
  pkg/task/inspection/googlecloudloggkeapiaudit/impl/clusteridentity_task.go
  pkg/task/inspection/googlecloudloggkeautoscaler/impl/query.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/query.go
  pkg/task/inspection/googlecloudlogk8scontainer/impl/clusteridentity_task.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/clusteridentity_task.go
  pkg/task/inspection/googlecloudlogk8sevent/impl/clusteridentity_task.go
  pkg/task/inspection/googlecloudlogk8snode/impl/clusteridentity_task.go
  pkg/task/inspection/googlecloudlogmulticloudapiaudit/impl/clusteridentity_task.go
  pkg/task/inspection/googlecloudlognetworkapiaudit/impl/clusteridentity_task.go
  pkg/task/inspection/googlecloudlogonpremapiaudit/impl/clusteridentity_task.go
  pkg/task/inspection/googlecloudlogserialport/impl/clusteridentity_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Refactor log components to use signals rather than observables and removed annotator functionality (#516)
  web/src/app/log/log-smart.component.scss
  web/src/app/log/log-smart.component.spec.ts
  web/src/app/root.module.ts
Owners: @kyasbal, @renamoo, @jyane

Refactoring log related components (#527)
  web/src/app/log/log-smart.component.scss
  web/src/app/log/log-smart.component.ts
Owners: @kyasbal, @renamoo, @jyane

Remove service dependency from dumb components (#532)
  web/src/app/log/log-smart.component.ts
Owners: @kyasbal, @renamoo, @jyane
