Repository GoogleCloudPlatform/khi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

Add set parameter form types on the backend side
  pkg/core/inspection/formtask/setform.go
  pkg/core/inspection/formtask/setform_test.go
  pkg/core/inspection/metadata/form_metadata.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Changed embedded frontend file folder due to the Angular compiler update (#427)
  .github/workflows/pullrequest.yaml
  pkg/server/embedfs_test.go
  pkg/server/server.go
  pkg/server/server_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Add set parameter form types on the backend side (#428)
  pkg/core/inspection/formtask/setform.go
  pkg/core/inspection/formtask/setform_test.go
  pkg/core/inspection/metadata/form_metadata.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Replacing current text form based set parameters with the new set parameter type
  pkg/task/inspection/googlecloudclustercomposer/impl/autocompletecomposerclusternames_task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/autocompletecomposerclusternames_task_test.go
  pkg/task/inspection/googlecloudclustergke/contract/taskid.go
  pkg/task/inspection/googlecloudclustergke/impl/autocomplete.go
  pkg/task/inspection/googlecloudclustergke/impl/registration.go
  pkg/task/inspection/googlecloudk8scommon/contract/autocomplete.go
  pkg/task/inspection/googlecloudk8scommon/contract/taskid.go
  pkg/task/inspection/googlecloudk8scommon/impl/autocomplete.go
  pkg/task/inspection/googlecloudk8scommon/impl/autocompleteclustername_task.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputclustername_task.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputclustername_task_test.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputkindfilter_task.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputkindfilter_task_test.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputnamespacefilter_task.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputnamespacefilter_task_test.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputnodename_task.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputnodename_task_test.go
  pkg/task/inspection/googlecloudk8scommon/impl/registration.go
  pkg/task/inspection/googlecloudlogcsm/impl/form_task.go
  pkg/task/inspection/googlecloudlogk8scontainer/impl/form_task.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/form_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Update pkg/task/inspection/googlecloudclustergke/impl/autocomplete.go
  pkg/task/inspection/googlecloudclustergke/impl/autocomplete.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Replace set parameter text form fields with set parameter and introduced multiple useful autocompletions (#429)
  pkg/task/inspection/googlecloudclustercomposer/impl/autocompletecomposerclusternames_task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/autocompletecomposerclusternames_task_test.go
  pkg/task/inspection/googlecloudclustergke/contract/taskid.go
  pkg/task/inspection/googlecloudclustergke/impl/autocomplete.go
  pkg/task/inspection/googlecloudclustergke/impl/registration.go
  pkg/task/inspection/googlecloudk8scommon/contract/autocomplete.go
  pkg/task/inspection/googlecloudk8scommon/contract/taskid.go
  pkg/task/inspection/googlecloudk8scommon/impl/autocomplete.go
  pkg/task/inspection/googlecloudk8scommon/impl/autocompleteclustername_task.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputclustername_task.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputclustername_task_test.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputkindfilter_task.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputkindfilter_task_test.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputnamespacefilter_task.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputnamespacefilter_task_test.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputnodename_task.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputnodename_task_test.go
  pkg/task/inspection/googlecloudk8scommon/impl/registration.go
  pkg/task/inspection/googlecloudlogcsm/impl/form_task.go
  pkg/task/inspection/googlecloudlogk8scontainer/impl/form_task.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/form_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

minor style update and usability improve
  web/src/app/dialogs/new-inspection/components/set-parameter.component.html
  web/src/app/shared/components/set-input/set-input.component.scss
  web/src/app/shared/components/set-input/set-input.component.ts
Owners: @kyasbal, @renamoo, @jyane

minor style update and usability improve (#431)
  web/src/app/dialogs/new-inspection/components/set-parameter.component.html
  web/src/app/shared/components/set-input/set-input.component.scss
  web/src/app/shared/components/set-input/set-input.component.ts
Owners: @kyasbal, @renamoo, @jyane

Updated git hook script to make it ready used in git worktree env
  Makefile
  README.md
  docs/en/development-contribution/development-guide.md
  docs/ja/development-contribution/development-guide.md
  scripts/make/build.mk
  scripts/make/hooks.mk
  scripts/pre-commit
Owners: none

Add VSCode setting files
  .gitignore
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  README.ja.md
  docs/en/development-contribution/development-guide.md
  docs/ja/development-contribution/development-guide.md
  scripts/make/build.mk
  web/package.json
Owners: @kyasbal, @renamoo, @jyane

Updated KHI task concept document
  docs/en/khi-task-system-concept.md
  docs/ja/khi-task-system-concept.md
Owners: none

Apply suggestions from code review
  docs/en/khi-task-system-concept.md
Owners: none

Remove unused code
  pkg/core/inspection/progressutil/indeterminate_updator.go
  pkg/core/inspection/progressutil/indeterminate_updator_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Split icon registry logic in a module
  web/.storybook/preview-head.html
  web/src/app/root.module.ts
  web/src/app/shared/components/set-input/set-input.component.ts
  web/src/app/shared/module/icon-registration.module.ts
Owners: @kyasbal, @renamoo, @jyane

Add PATCH /api/v3/inspection/:taskID to change inspection title
  pkg/core/inspection/metadata/header_metadata.go
  pkg/core/inspection/runner.go
  pkg/server/server.go
  pkg/server/server_test.go
  pkg/server/types.go
  web/src/app/common/schema/api-types.ts
  web/src/app/common/schema/metadata-types.ts
  web/src/app/dialogs/startup/startup.component.spec.ts
  web/src/app/services/api/backend-api-interface.ts
  web/src/app/services/api/backend-api.service.spec.ts
  web/src/app/services/api/backend-api.service.ts
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

fix regarding the code review comment
  pkg/server/server.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Splitting task card component on the startup dialog component
  web/src/app/dialogs/startup/components/task-card-item.component.html
  web/src/app/dialogs/startup/components/task-card-item.component.scss
  web/src/app/dialogs/startup/components/task-card-item.component.spec.ts
  web/src/app/dialogs/startup/components/task-card-item.component.ts
  web/src/app/dialogs/startup/components/task-card-item.stories.ts
  web/src/app/dialogs/startup/components/task-card-list.component.html
  web/src/app/dialogs/startup/components/task-card-list.component.scss
  web/src/app/dialogs/startup/components/task-card-list.component.spec.ts
  web/src/app/dialogs/startup/components/task-card-list.component.ts
  web/src/app/dialogs/startup/components/task-card-list.stories.ts
Owners: @kyasbal, @renamoo, @jyane

Split the left side of start dialog component
  web/src/app/dialogs/startup/components/startup-header.component.html
  web/src/app/dialogs/startup/components/startup-header.component.scss
  web/src/app/dialogs/startup/components/startup-header.component.spec.ts
  web/src/app/dialogs/startup/components/startup-header.component.ts
  web/src/app/dialogs/startup/components/startup-header.stories.ts
Owners: @kyasbal, @renamoo, @jyane

Apply suggestions from code review
  web/src/app/dialogs/startup/components/task-card-item.component.html
  web/src/app/dialogs/startup/components/task-card-item.component.ts
Owners: @kyasbal, @renamoo, @jyane

Split the left side of start dialog component
  web/src/app/dialogs/startup/components/startup-header.component.scss
Owners: @kyasbal, @renamoo, @jyane

Split the left side of start dialog component
  web/src/app/dialogs/startup/components/startup-header.component.scss
Owners: @kyasbal, @renamoo, @jyane

Replace the startup dialog with the one using splitted components
  web/src/app/dialogs/startup/startup.component.html
  web/src/app/dialogs/startup/startup.component.scss
  web/src/app/dialogs/startup/startup.component.ts
Owners: @kyasbal, @renamoo, @jyane

fix problems pointed by gemini-code-assist
  web/src/app/dialogs/startup/startup.component.spec.ts
  web/src/app/dialogs/startup/startup.component.ts
Owners: @kyasbal, @renamoo, @jyane

Fix Multicloud GKE cluster auto complete suggestions
  pkg/task/inspection/googlecloudclustercomposer/contract/taskid.go
  pkg/task/inspection/googlecloudclustergdcbaremetal/contract/taskid.go
  pkg/task/inspection/googlecloudclustergdcvmware/contract/taskid.go
  pkg/task/inspection/googlecloudclustergke/contract/taskid.go
  pkg/task/inspection/googlecloudclustergkeonaws/contract/taskid.go
  pkg/task/inspection/googlecloudclustergkeonazure/contract/taskid.go
  pkg/task/inspection/googlecloudk8scommon/contract/taskid.go
  pkg/task/inspection/googlecloudk8scommon/impl/autocomplete.go
  pkg/task/inspection/googlecloudk8scommon/impl/autocomplete_test.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputclustername_task.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputclustername_task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Accepted gemini's suggestion
  pkg/task/inspection/googlecloudk8scommon/impl/autocomplete.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Fixed the launch.json to follow the new folder structure
  .vscode/launch.json
Owners: none

Add MSDF texture generation scripts
  Makefile
  pkg/model/enum/revision_state.go
  scripts/frontend-codegen/main.go
  scripts/frontend-codegen/templates/generated.ts.gtpl
  scripts/make/codegen.mk
  web/.storybook/preview-head.html
  web/msdf/.gitignore
  web/msdf/README.md
  web/msdf/icons.json
  web/msdf/index.js
  web/msdf/package-lock.json
  web/msdf/package.json
  web/msdf/setup.sh
  web/src/assets/icon-codepoints.json
  web/src/assets/material-icons-msdf.json
  web/src/assets/material-icons-msdf.png
  web/src/assets/roboto-number-msdf.json
  web/src/assets/roboto-number-msdf.png
  web/src/index.html
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

Removed font generation step from CI
  Makefile
  scripts/make/codegen.mk
  web/src/assets/icon-codepoints.json
  web/src/assets/material-icons-msdf.json
  web/src/assets/roboto-number-msdf.json
Owners: @kyasbal, @renamoo, @jyane

Applied fixes suggested by gemini
  scripts/frontend-codegen/main.go
  web/msdf/index.js
Owners: @kyasbal, @renamoo, @jyane

Apply suggestions from code review
  pkg/model/enum/revision_state.go
  web/msdf/README.md
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

formatted icons.json
  web/msdf/icons.json
Owners: @kyasbal, @renamoo, @jyane

fixed lint issue
  pkg/model/enum/revision_state.go
  web/msdf/icons.json
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

Removed icons.json because it's intermediate generated file
  web/msdf/.gitignore
  web/msdf/icons.json
Owners: @kyasbal, @renamoo, @jyane

Fix the lint issue and align the folder location with other generate task
  .gitignore
  .markdownlint-cli2.yaml
  Makefile
  scripts/frontend-codegen/main.go
  scripts/make/codegen.mk
  scripts/msdf-generator/README.md
  scripts/msdf-generator/index.js
  scripts/msdf-generator/package-lock.json
  scripts/msdf-generator/package.json
  scripts/msdf-generator/setup.sh
  web/msdf/.gitignore
  web/src/assets/icon-codepoints.json
  web/src/assets/material-icons-msdf.json
  web/src/assets/material-icons-msdf.png
Owners: @kyasbal, @renamoo, @jyane

Add MSDF texture generation scripts (#445)
  .gitignore
  Makefile
  pkg/model/enum/revision_state.go
  scripts/frontend-codegen/main.go
  scripts/frontend-codegen/templates/generated.ts.gtpl
  scripts/make/codegen.mk
  scripts/msdf-generator/README.md
  scripts/msdf-generator/index.js
  scripts/msdf-generator/package-lock.json
  scripts/msdf-generator/package.json
  scripts/msdf-generator/setup.sh
  web/.storybook/preview-head.html
  web/src/assets/icon-codepoints.json
  web/src/assets/material-icons-msdf.json
  web/src/assets/material-icons-msdf.png
  web/src/assets/roboto-number-msdf.json
  web/src/assets/roboto-number-msdf.png
  web/src/index.html
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

Make msdf generator not to produce diffs
  .prettierignore
  scripts/msdf-generator/index.js
  web/src/assets/icon-codepoints.json
  web/src/assets/material-icons-msdf.json
  web/src/assets/material-icons-msdf.png
Owners: @kyasbal, @renamoo, @jyane

Make msdf generator not to produce diffs (#448)
  .prettierignore
  scripts/msdf-generator/index.js
  web/src/assets/icon-codepoints.json
  web/src/assets/material-icons-msdf.json
  web/src/assets/material-icons-msdf.png
Owners: @kyasbal, @renamoo, @jyane

Add TimelineCornerIndicatorComponent and TimelineLegendComponent
  web/src/app/timeline/components/timeline-corner-indicator.component.html
  web/src/app/timeline/components/timeline-corner-indicator.component.scss
  web/src/app/timeline/components/timeline-corner-indicator.component.ts
  web/src/app/timeline/components/timeline-corner-indicator.stories.ts
  web/src/app/timeline/components/timeline-legend.component.html
  web/src/app/timeline/components/timeline-legend.component.scss
  web/src/app/timeline/components/timeline-legend.component.ts
  web/src/app/timeline/components/timeline-legend.stories.ts
Owners: @kyasbal, @renamoo, @jyane

fix issues pointed by gemini-code-assist
  web/src/app/timeline/components/timeline-legend.component.html
  web/src/app/timeline/components/timeline-legend.component.scss
Owners: @kyasbal, @renamoo, @jyane

fix the issue pointed by gemini-code-assist
  web/src/app/timeline/components/timeline-corner-indicator.component.html
  web/src/app/timeline/components/timeline-corner-indicator.component.scss
Owners: @kyasbal, @renamoo, @jyane

.github/CODEOWNERS:

# Github Actions
.github/ @kyasbal
.cloudbuild/ @kyasbal

# Golang related files
cmd/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima
pkg/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima
test/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima

# Web front related files
web/ @kyasbal @renamoo @jyane
