Repository GoogleCloudPlatform/khi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

.github/CODEOWNERS:

# Github Actions
.github/ @kyasbal
.cloudbuild/ @kyasbal

# Golang related files
cmd/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima
pkg/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima
test/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima

# Web front related files
web/ @kyasbal @renamoo @jyane

fix: Condition "Unknown" was shown for the condition without containing the status body
  pkg/model/history/timeline_builder.go
  pkg/task/inspection/commonlogk8sauditv2/impl/condition_historymodifier_task.go
  pkg/task/inspection/commonlogk8sauditv2/impl/condition_historymodifier_task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Update pkg/task/inspection/commonlogk8sauditv2/impl/condition_historymodifier_task_test.go
  pkg/task/inspection/commonlogk8sauditv2/impl/condition_historymodifier_task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Update pkg/task/inspection/commonlogk8sauditv2/impl/condition_historymodifier_task_test.go
  pkg/task/inspection/commonlogk8sauditv2/impl/condition_historymodifier_task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Complement conditions modified by PATCH request from later complete log with lastTransitionTime
  pkg/task/inspection/commonlogk8sauditv2/impl/condition_historymodifier_task.go
  pkg/task/inspection/commonlogk8sauditv2/impl/condition_historymodifier_task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix the failed test
  pkg/task/inspection/commonlogk8sauditv2/impl/condition_historymodifier_task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix gemini-code-assist suggestions
  pkg/task/inspection/commonlogk8sauditv2/impl/condition_historymodifier_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Use xx-version-file to specify compiler/runtime version on release Github Action script
  .github/workflows/release.yaml
Owners: @kyasbal

use Cloud Monitoring for GKE cluster autocomplete
  go.mod
  pkg/api/googlecloud/clientfactory.go
  pkg/task/inspection/googlecloudclustergke/contract/gkeclusterlistfetcher.go
  pkg/task/inspection/googlecloudclustergke/contract/gkeclusterlistfetcher_test.go
  pkg/task/inspection/googlecloudclustergke/impl/autocompletegkeclusternames_task.go
  pkg/task/inspection/googlecloudclustergke/impl/autocompletegkeclusternames_task_test.go
  pkg/task/inspection/googlecloudk8scommon/contract/autocomplete.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputclustername_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Update pkg/core/inspection/taskbase/logingester_task.go
  pkg/core/inspection/taskbase/logingester_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Apply suggestions from code review
  pkg/core/inspection/taskbase/mapper_task_test.go
  pkg/task/inspection/commonlogk8sauditv2/contract/taskid.go
  pkg/task/inspection/commonlogk8sauditv2/impl/lifetimetracker_task.go
  pkg/task/inspection/googlecloudlogcomputeapiaudit/contract/taskid.go
  pkg/task/inspection/googlecloudlogcomputeapiaudit/impl/parser_tasks_test.go
  pkg/task/inspection/googlecloudlogcsm/contract/taskid.go
  pkg/task/inspection/googlecloudloggkeapiaudit/contract/taskid.go
  pkg/task/inspection/googlecloudloggkeapiaudit/impl/parser_tasks_test.go
  pkg/task/inspection/googlecloudlogk8scontainer/contract/taskid.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/contract/taskid.go
  pkg/task/inspection/googlecloudlogk8sevent/contract/taskid.go
  pkg/task/inspection/googlecloudlogk8snode/contract/taskid.go
  pkg/task/inspection/googlecloudlogmulticloudapiaudit/contract/taskid.go
  pkg/task/inspection/googlecloudlogmulticloudapiaudit/impl/parser_tasks_test.go
  pkg/task/inspection/googlecloudlognetworkapiaudit/contract/taskid.go
  pkg/task/inspection/googlecloudlogonpremapiaudit/contract/taskid.go
  pkg/task/inspection/googlecloudlogonpremapiaudit/impl/parser_tasks_test.go
  pkg/task/inspection/googlecloudlogserialport/contract/taskid.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix compilation errors
  pkg/core/inspection/taskbase/logingester_task.go
  pkg/core/inspection/taskbase/logingester_task_test.go
  pkg/core/inspection/taskbase/mapper_task_test.go
  pkg/task/inspection/commonlogk8sauditv2/impl/conditionmapper_task.go
  pkg/task/inspection/commonlogk8sauditv2/impl/endpointmapper_task.go
  pkg/task/inspection/commonlogk8sauditv2/impl/lifetimetracker_task.go
  pkg/task/inspection/commonlogk8sauditv2/impl/logsummary_task.go
  pkg/task/inspection/commonlogk8sauditv2/impl/ownerreferencemapper_task.go
  pkg/task/inspection/googlecloudlogcomputeapiaudit/impl/parser_tasks.go
  pkg/task/inspection/googlecloudlogcomputeapiaudit/impl/parser_tasks_test.go
  pkg/task/inspection/googlecloudlogcsm/impl/parser_task.go
  pkg/task/inspection/googlecloudloggkeapiaudit/impl/parser_tasks.go
  pkg/task/inspection/googlecloudloggkeapiaudit/impl/parser_tasks_test.go
  pkg/task/inspection/googlecloudloggkeautoscaler/impl/parser.go
  pkg/task/inspection/googlecloudlogk8scontainer/impl/parser_task.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/common_task.go
  pkg/task/inspection/googlecloudlogk8sevent/impl/parser_task.go
  pkg/task/inspection/googlecloudlogk8snode/impl/common_task.go
  pkg/task/inspection/googlecloudlogmulticloudapiaudit/impl/parser_tasks.go
  pkg/task/inspection/googlecloudlogmulticloudapiaudit/impl/parser_tasks_test.go
  pkg/task/inspection/googlecloudlognetworkapiaudit/impl/parser_task.go
  pkg/task/inspection/googlecloudlogonpremapiaudit/impl/parser_tasks.go
  pkg/task/inspection/googlecloudlogonpremapiaudit/impl/parser_tasks_test.go
  pkg/task/inspection/googlecloudlogserialport/impl/parser_tasks.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Apply suggestions from code review
  pkg/core/inspection/taskbase/logingester_task.go
  pkg/core/inspection/taskbase/mapper_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Added progress reporting feature on ManifestGeneratorTask
  pkg/task/inspection/commonlogk8sauditv2/impl/manifest_generator_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Updated CLI and angular to 21
  web/karma.conf.js
  web/package-lock.json
  web/package.json
  web/src/app/annotator/common-field-annotator.component.html
  web/src/app/annotator/common-toolbar-button.component.ts
  web/src/app/annotator/log/resource-reference-list.component.html
  web/src/app/common/components/meta-table-row.component.html
  web/src/app/common/components/meta-table-row.component.ts
  web/src/app/dialogs/inspection-metadata/inspection-metadata.component.html
  web/src/app/dialogs/inspection-metadata/inspection-metadata.component.ts
  web/src/app/dialogs/new-inspection/components/file-parameter.component.spec.ts
  web/src/app/dialogs/new-inspection/components/group-parameter.component.spec.ts
  web/src/app/dialogs/new-inspection/components/parameter-header.component.spec.ts
  web/src/app/dialogs/new-inspection/components/parameter-hint.component.spec.ts
  web/src/app/dialogs/new-inspection/components/text-parameter.component.spec.ts
  web/src/app/dialogs/new-inspection/new-inspection.component.html
  web/src/app/dialogs/progress/progress.component.html
  web/src/app/dialogs/request-user-action-popup/request-user-action-popup.component.html
  web/src/app/dialogs/startup/startup.component.html
  web/src/app/diff/diff-view.component.html
  web/src/app/header/regex-input.component.html
  web/src/app/header/regex-input.component.ts
  web/src/app/header/set-input.component.html
  web/src/app/header/titlebar.component.html
  web/src/app/header/toolbar.component.html
  web/src/app/log/body.component.html
  web/src/app/log/header.component.html
  web/src/app/pages/diff/diff.component.html
  web/src/app/pages/main/main.component.html
  web/src/app/timeline/navigator/navigator.component.html
  web/src/app/timeline/timeline.component.html
  web/src/app/utils/observable-util.spec.ts
  web/src/main.ts
  web/tsconfig.json
Owners: @kyasbal, @renamoo, @jyane

Updated angular.json for updating angular 21
  scripts/generate-angular-json.sh
  web/angular-template.json
Owners: @kyasbal, @renamoo, @jyane

Updated Angular Material and fixed compilation error
  web/package-lock.json
  web/package.json
  web/src/app/annotator/common-toolbar-button.component.ts
  web/src/app/header/titlebar.component.html
  web/src/app/services/data-loader.service.ts
Owners: @kyasbal, @renamoo, @jyane

Updated lint related dependencies
  web/package-lock.json
  web/package.json
  web/src/app/annotator/common-reference-list.component.html
Owners: @kyasbal, @renamoo, @jyane

Fix lint error and Gemini code assist's pointing out
  web/angular-template.json
  web/package.json
  web/src/app/annotator/common-field-annotator.component.html
  web/src/app/annotator/common-reference-list.component.html
  web/src/app/annotator/log/resource-reference-list.component.html
  web/src/app/common/components/meta-table-row.component.html
  web/src/app/dialogs/inspection-metadata/inspection-metadata.component.ts
  web/src/app/dialogs/new-inspection/components/file-parameter.component.spec.ts
  web/src/app/dialogs/new-inspection/components/group-parameter.component.spec.ts
  web/src/app/dialogs/new-inspection/components/parameter-header.component.spec.ts
  web/src/app/dialogs/new-inspection/components/parameter-hint.component.spec.ts
  web/src/app/dialogs/new-inspection/components/text-parameter.component.spec.ts
  web/src/app/dialogs/new-inspection/new-inspection.component.html
  web/src/app/dialogs/request-user-action-popup/request-user-action-popup.component.html
  web/src/app/dialogs/startup/startup.component.html
  web/src/app/diff/diff-view.component.html
  web/src/app/header/regex-input.component.html
  web/src/app/header/regex-input.component.ts
  web/src/app/header/set-input.component.html
  web/src/app/header/titlebar.component.html
  web/src/app/header/toolbar.component.html
  web/src/app/log/body.component.html
  web/src/app/pages/diff/diff.component.html
  web/src/app/pages/main/main.component.html
  web/src/app/services/data-loader.service.ts
  web/src/app/timeline/timeline.component.html
  web/src/app/utils/observable-util.spec.ts
  web/src/main.ts
Owners: @kyasbal, @renamoo, @jyane

Add storybook dependency
  web/.eslintrc.json
  web/.gitignore
  web/.storybook/main.ts
  web/.storybook/preview.ts
  web/.storybook/tsconfig.doc.json
  web/.storybook/tsconfig.json
  web/.storybook/typings.d.ts
  web/angular-template.json
  web/package-lock.json
  web/package.json
  web/src/stories/assets/accessibility.png
  web/src/stories/assets/accessibility.svg
  web/src/stories/assets/addon-library.png
  web/src/stories/assets/assets.png
  web/src/stories/assets/avif-test-image.avif
  web/src/stories/assets/context.png
  web/src/stories/assets/discord.svg
  web/src/stories/assets/docs.png
  web/src/stories/assets/figma-plugin.png
  web/src/stories/assets/github.svg
  web/src/stories/assets/share.png
  web/src/stories/assets/styling.png
  web/src/stories/assets/testing.png
  web/src/stories/assets/theming.png
  web/src/stories/assets/tutorials.svg
  web/src/stories/assets/youtube.svg
  web/src/stories/button.component.ts
  web/src/stories/button.css
  web/src/stories/button.stories.ts
  web/src/stories/header.component.ts
  web/src/stories/header.css
  web/src/stories/header.stories.ts
  web/src/stories/page.component.ts
  web/src/stories/page.css
  web/src/stories/page.stories.ts
  web/src/stories/user.ts
  web/tsconfig.app.json
Owners: @kyasbal, @renamoo, @jyane

Removed samples and added an example story for a component in KHI
  web/src/app/dialogs/progress/progress.component.stories.ts
  web/src/stories/assets/accessibility.png
  web/src/stories/assets/accessibility.svg
  web/src/stories/assets/addon-library.png
  web/src/stories/assets/assets.png
  web/src/stories/assets/avif-test-image.avif
  web/src/stories/assets/context.png
  web/src/stories/assets/discord.svg
  web/src/stories/assets/docs.png
  web/src/stories/assets/figma-plugin.png
  web/src/stories/assets/github.svg
  web/src/stories/assets/share.png
  web/src/stories/assets/styling.png
  web/src/stories/assets/testing.png
  web/src/stories/assets/theming.png
  web/src/stories/assets/tutorials.svg
  web/src/stories/assets/youtube.svg
  web/src/stories/button.component.ts
  web/src/stories/button.css
  web/src/stories/button.stories.ts
  web/src/stories/header.component.ts
  web/src/stories/header.css
  web/src/stories/header.stories.ts
  web/src/stories/page.component.ts
  web/src/stories/page.css
  web/src/stories/page.stories.ts
  web/src/stories/user.ts
Owners: @kyasbal, @renamoo, @jyane

Add watch-storybook target on Makefile and document about storybook
  docs/en/development-contribution/development-guide.md
  docs/ja/development-contribution/development-guide.md
  scripts/make/build.mk
Owners: none

Update docs/en/development-contribution/development-guide.md
  docs/en/development-contribution/development-guide.md
Owners: none

Update web/.storybook/preview.ts
  web/.storybook/preview.ts
Owners: @kyasbal, @renamoo, @jyane

Update web/.storybook/main.ts
  web/.storybook/main.ts
Owners: @kyasbal, @renamoo, @jyane

fix suggested by gemini-code-assist
  web/src/app/dialogs/progress/progress.component.stories.ts
Owners: @kyasbal, @renamoo, @jyane

fix missing license headers
  web/.storybook/main.ts
  web/.storybook/preview.ts
  web/.storybook/typings.d.ts
  web/src/app/dialogs/progress/progress.component.stories.ts
Owners: @kyasbal, @renamoo, @jyane

fix lint errors
  web/.eslintrc.json
  web/.storybook/main.ts
  web/.storybook/preview.ts
  web/.storybook/tsconfig.doc.json
  web/.storybook/tsconfig.json
  web/angular-template.json
  web/src/app/dialogs/progress/progress.component.stories.ts
Owners: @kyasbal, @renamoo, @jyane

Add customizable shared input for set values
  web/.storybook/preview-head.html
  web/angular-template.json
  web/src/app/shared/components/set-input/default-chip.component.html
  web/src/app/shared/components/set-input/default-chip.component.scss
  web/src/app/shared/components/set-input/default-chip.component.ts
  web/src/app/shared/components/set-input/default-option.component.html
  web/src/app/shared/components/set-input/default-option.component.scss
  web/src/app/shared/components/set-input/default-option.component.ts
  web/src/app/shared/components/set-input/set-input.component.html
  web/src/app/shared/components/set-input/set-input.component.scss
  web/src/app/shared/components/set-input/set-input.component.spec.ts
  web/src/app/shared/components/set-input/set-input.component.ts
  web/src/app/shared/components/set-input/set-input.stories.ts
Owners: @kyasbal, @renamoo, @jyane

Add missing licenses on headers
  web/.storybook/preview-head.html
  web/src/app/shared/components/set-input/default-chip.component.html
  web/src/app/shared/components/set-input/default-chip.component.scss
  web/src/app/shared/components/set-input/default-option.component.html
  web/src/app/shared/components/set-input/default-option.component.scss
Owners: @kyasbal, @renamoo, @jyane

Update web/src/app/shared/components/set-input/set-input.component.ts
  web/src/app/shared/components/set-input/set-input.component.ts
Owners: @kyasbal, @renamoo, @jyane

fix issues pointed by gemini-code-assist
  web/src/app/shared/components/set-input/set-input.component.ts
Owners: @kyasbal, @renamoo, @jyane

fix lint issue
  web/angular-template.json
  web/src/app/shared/components/set-input/default-option.component.scss
  web/src/app/shared/components/set-input/set-input.component.scss
  web/src/app/shared/components/set-input/set-input.component.ts
  web/src/app/shared/components/set-input/set-input.stories.ts
Owners: @kyasbal, @renamoo, @jyane

fix lint issue(again)
  web/src/app/shared/components/set-input/set-input.component.ts
Owners: @kyasbal, @renamoo, @jyane

Add set parameter type on new inspection dialog
  web/src/app/common/schema/form-types.ts
  web/src/app/dialogs/new-inspection/components/alias-chip.component.html
  web/src/app/dialogs/new-inspection/components/alias-chip.component.scss
  web/src/app/dialogs/new-inspection/components/alias-chip.component.ts
  web/src/app/dialogs/new-inspection/components/group-parameter.component.html
  web/src/app/dialogs/new-inspection/components/group-parameter.component.ts
  web/src/app/dialogs/new-inspection/components/set-parameter.component.html
  web/src/app/dialogs/new-inspection/components/set-parameter.component.scss
  web/src/app/dialogs/new-inspection/components/set-parameter.component.spec.ts
  web/src/app/dialogs/new-inspection/components/set-parameter.component.ts
  web/src/app/dialogs/new-inspection/components/set-parameter.stories.ts
  web/src/app/dialogs/new-inspection/new-inspection.component.ts
Owners: @kyasbal, @renamoo, @jyane

Add set parameter input for new inspection dialog
  web/src/app/common/schema/form-types.ts
  web/src/app/dialogs/new-inspection/components/alias-chip.component.html
  web/src/app/dialogs/new-inspection/components/alias-chip.component.scss
  web/src/app/dialogs/new-inspection/components/alias-chip.component.ts
  web/src/app/dialogs/new-inspection/components/option-item.component.html
  web/src/app/dialogs/new-inspection/components/option-item.component.scss
  web/src/app/dialogs/new-inspection/components/option-item.component.ts
  web/src/app/dialogs/new-inspection/components/set-parameter.component.html
  web/src/app/dialogs/new-inspection/components/set-parameter.component.scss
  web/src/app/dialogs/new-inspection/components/set-parameter.component.ts
  web/src/app/dialogs/new-inspection/components/set-parameter.stories.ts
  web/src/app/shared/components/set-input/set-input.component.scss
Owners: @kyasbal, @renamoo, @jyane

fix issues pointed by the review
  web/src/app/shared/components/set-input/set-input.component.ts
Owners: @kyasbal, @renamoo, @jyane

Add customizable shared input for set values (#422)
  web/.storybook/preview-head.html
  web/angular-template.json
  web/src/app/shared/components/set-input/default-chip.component.html
  web/src/app/shared/components/set-input/default-chip.component.scss
  web/src/app/shared/components/set-input/default-chip.component.ts
  web/src/app/shared/components/set-input/default-option.component.html
  web/src/app/shared/components/set-input/default-option.component.scss
  web/src/app/shared/components/set-input/default-option.component.ts
  web/src/app/shared/components/set-input/set-input.component.html
  web/src/app/shared/components/set-input/set-input.component.scss
  web/src/app/shared/components/set-input/set-input.component.spec.ts
  web/src/app/shared/components/set-input/set-input.component.ts
  web/src/app/shared/components/set-input/set-input.stories.ts
Owners: @kyasbal, @renamoo, @jyane

Add set parameter input for new inspection dialog
  web/src/app/common/schema/form-types.ts
  web/src/app/dialogs/new-inspection/components/alias-chip.component.html
  web/src/app/dialogs/new-inspection/components/alias-chip.component.scss
  web/src/app/dialogs/new-inspection/components/alias-chip.component.ts
  web/src/app/dialogs/new-inspection/components/group-parameter.component.html
  web/src/app/dialogs/new-inspection/components/group-parameter.component.ts
  web/src/app/dialogs/new-inspection/components/option-item.component.html
  web/src/app/dialogs/new-inspection/components/option-item.component.scss
  web/src/app/dialogs/new-inspection/components/option-item.component.ts
  web/src/app/dialogs/new-inspection/components/set-parameter.component.html
  web/src/app/dialogs/new-inspection/components/set-parameter.component.scss
  web/src/app/dialogs/new-inspection/components/set-parameter.component.spec.ts
  web/src/app/dialogs/new-inspection/components/set-parameter.component.ts
  web/src/app/dialogs/new-inspection/components/set-parameter.stories.ts
  web/src/app/dialogs/new-inspection/new-inspection.component.ts
Owners: @kyasbal, @renamoo, @jyane

Add set parameter input for new inspection dialog (#426)
  web/src/app/common/schema/form-types.ts
  web/src/app/dialogs/new-inspection/components/alias-chip.component.html
  web/src/app/dialogs/new-inspection/components/alias-chip.component.scss
  web/src/app/dialogs/new-inspection/components/alias-chip.component.ts
  web/src/app/dialogs/new-inspection/components/group-parameter.component.html
  web/src/app/dialogs/new-inspection/components/group-parameter.component.ts
  web/src/app/dialogs/new-inspection/components/option-item.component.html
  web/src/app/dialogs/new-inspection/components/option-item.component.scss
  web/src/app/dialogs/new-inspection/components/option-item.component.ts
  web/src/app/dialogs/new-inspection/components/set-parameter.component.html
  web/src/app/dialogs/new-inspection/components/set-parameter.component.scss
  web/src/app/dialogs/new-inspection/components/set-parameter.component.spec.ts
  web/src/app/dialogs/new-inspection/components/set-parameter.component.ts
  web/src/app/dialogs/new-inspection/components/set-parameter.stories.ts
  web/src/app/dialogs/new-inspection/new-inspection.component.ts
Owners: @kyasbal, @renamoo, @jyane

Changed embedded frontend file folder due to the Angular compiler update
  .github/workflows/pullrequest.yaml
  pkg/server/embedfs_test.go
  pkg/server/server.go
  pkg/server/server_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima
