Repository GoogleCloudPlatform/khi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

Add TimelineIndexComponent
  web/src/app/timeline/components/timeline-index.component.html
  web/src/app/timeline/components/timeline-index.component.scss
  web/src/app/timeline/components/timeline-index.component.ts
  web/src/app/timeline/components/timeline-index.stories.ts
Owners: @kyasbal, @renamoo, @jyane

fix compilation error
  web/src/app/store/revision.ts
  web/src/app/store/timeline.ts
Owners: @kyasbal, @renamoo, @jyane

Adding missing code from the commit
  web/src/app/timeline/components/interaction-model.ts
Owners: @kyasbal, @renamoo, @jyane

fix stylesheet issues pointed by gemini-code-assist
  web/src/app/timeline/components/timeline-index.component.scss
Owners: @kyasbal, @renamoo, @jyane

Added angular-split used in the later commit
  web/package-lock.json
  web/package.json
Owners: @kyasbal, @renamoo, @jyane

Fixed the event legend message
  web/src/app/store/revision.ts
  web/src/app/timeline/components/timeline-legend.component.html
Owners: @kyasbal, @renamoo, @jyane

Adds algorithmic utility to implement timeline view
  web/src/app/common/lru-cache.ts
  web/src/app/common/misc-util.ts
Owners: @kyasbal, @renamoo, @jyane

Add TimelineCornerIndicatorComponent and TimelineLegendComponent (#449)
  web/src/app/store/revision.ts
  web/src/app/timeline/components/timeline-corner-indicator.component.html
  web/src/app/timeline/components/timeline-corner-indicator.component.scss
  web/src/app/timeline/components/timeline-corner-indicator.component.ts
  web/src/app/timeline/components/timeline-corner-indicator.stories.ts
  web/src/app/timeline/components/timeline-legend.component.html
  web/src/app/timeline/components/timeline-legend.component.scss
  web/src/app/timeline/components/timeline-legend.component.ts
  web/src/app/timeline/components/timeline-legend.stories.ts
Owners: @kyasbal, @renamoo, @jyane

Added angular-split used in the later commit (#451)
  web/package-lock.json
  web/package.json
Owners: @kyasbal, @renamoo, @jyane

Fix typos in the comment
  web/src/app/timeline/components/timeline-index.component.ts
Owners: @kyasbal, @renamoo, @jyane

Added base utilities for canvas
  web/src/app/timeline/components/gl/glcontextmanager.spec.ts
  web/src/app/timeline/components/gl/glcontextmanager.ts
  web/src/app/timeline/components/gl/rendering-loop-manager.spec.ts
  web/src/app/timeline/components/gl/rendering-loop-manager.ts
Owners: @kyasbal, @renamoo, @jyane

Add TimelineIndexComponent (#450)
  web/src/app/store/timeline.ts
  web/src/app/timeline/components/interaction-model.ts
  web/src/app/timeline/components/timeline-index.component.html
  web/src/app/timeline/components/timeline-index.component.scss
  web/src/app/timeline/components/timeline-index.component.ts
  web/src/app/timeline/components/timeline-index.stories.ts
Owners: @kyasbal, @renamoo, @jyane

Update web/src/app/timeline/components/gl/glcontextmanager.ts
  web/src/app/timeline/components/gl/glcontextmanager.ts
Owners: @kyasbal, @renamoo, @jyane

fixed issues pointed by gemini-code-assist
  web/src/app/common/lru-cache.spec.ts
  web/src/app/common/lru-cache.ts
  web/src/app/common/misc-util.spec.ts
Owners: @kyasbal, @renamoo, @jyane

Added base utilities for canvas (#453)
  web/src/app/timeline/components/gl/glcontextmanager.spec.ts
  web/src/app/timeline/components/gl/glcontextmanager.ts
  web/src/app/timeline/components/gl/rendering-loop-manager.spec.ts
  web/src/app/timeline/components/gl/rendering-loop-manager.ts
Owners: @kyasbal, @renamoo, @jyane

Adds algorithmic utility to implement timeline view (#452)
  web/src/app/common/lru-cache.spec.ts
  web/src/app/common/lru-cache.ts
  web/src/app/common/misc-util.spec.ts
  web/src/app/common/misc-util.ts
Owners: @kyasbal, @renamoo, @jyane

Removed sRGB hex notation in the generated SCSS
  pkg/document/model/feature.go
  pkg/document/model/relationship.go
  pkg/model/enum/colorutil.go
  pkg/model/enum/colorutil_test.go
  pkg/model/enum/log_type.go
  pkg/model/enum/log_type_test.go
  pkg/model/enum/parent_relationship.go
  pkg/model/enum/parent_relationship_test.go
  pkg/model/enum/revision_state.go
  pkg/model/enum/revision_state_test.go
  pkg/model/enum/severity.go
  pkg/model/enum/severity_test.go
  pkg/model/enum/verb.go
  pkg/model/enum/verb_test.go
  scripts/frontend-codegen/main.go
  scripts/frontend-codegen/templates/generated.scss.gtpl
  scripts/frontend-codegen/templates/generated.ts.gtpl
  web/src/app/timeline/background-canvas.ts
  web/src/app/timeline/canvas/shared_gl_resource.ts
  web/src/app/timeline/components/gl/convertutil.spec.ts
  web/src/app/timeline/components/gl/convertutil.ts
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

fix issues pointed by gemini-code-assist
  web/src/app/timeline/components/gl/convertutil.spec.ts
  web/src/app/timeline/components/gl/convertutil.ts
Owners: @kyasbal, @renamoo, @jyane

Add mising change expected to add in the commit
  web/src/app/timeline/components/timeline-legend.component.ts
Owners: @kyasbal, @renamoo, @jyane

Removed sRGB hex notation in the generated SCSS (#454)
  pkg/document/model/feature.go
  pkg/document/model/relationship.go
  pkg/model/enum/colorutil.go
  pkg/model/enum/colorutil_test.go
  pkg/model/enum/log_type.go
  pkg/model/enum/log_type_test.go
  pkg/model/enum/parent_relationship.go
  pkg/model/enum/parent_relationship_test.go
  pkg/model/enum/revision_state.go
  pkg/model/enum/revision_state_test.go
  pkg/model/enum/severity.go
  pkg/model/enum/severity_test.go
  pkg/model/enum/verb.go
  pkg/model/enum/verb_test.go
  scripts/frontend-codegen/main.go
  scripts/frontend-codegen/templates/generated.scss.gtpl
  scripts/frontend-codegen/templates/generated.ts.gtpl
  web/src/app/timeline/background-canvas.ts
  web/src/app/timeline/canvas/shared_gl_resource.ts
  web/src/app/timeline/components/gl/convertutil.spec.ts
  web/src/app/timeline/components/gl/convertutil.ts
  web/src/app/timeline/components/timeline-legend.component.ts
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

Move folder from gl to canvas
  web/src/app/timeline/canvas/shared_gl_resource.ts
  web/src/app/timeline/components/canvas/convertutil.spec.ts
  web/src/app/timeline/components/canvas/convertutil.ts
  web/src/app/timeline/components/canvas/glcontextmanager.spec.ts
  web/src/app/timeline/components/canvas/glcontextmanager.ts
  web/src/app/timeline/components/canvas/rendering-loop-manager.spec.ts
  web/src/app/timeline/components/canvas/rendering-loop-manager.ts
  web/src/app/timeline/components/timeline-legend.component.ts
Owners: @kyasbal, @renamoo, @jyane

Added utility for drawing timeline header histogram
  web/src/app/timeline/components/calculator/human-friendly-tick.spec.ts
  web/src/app/timeline/components/calculator/human-friendly-tick.ts
  web/src/app/timeline/components/misc/histogram-cache.spec.ts
  web/src/app/timeline/components/misc/histogram-cache.ts
Owners: @kyasbal, @renamoo, @jyane

fixed issues pointed by gemini-code-assist
  web/src/app/timeline/components/calculator/human-friendly-tick.ts
Owners: @kyasbal, @renamoo, @jyane

Move folder from gl to canvas (#456)
  web/src/app/timeline/canvas/shared_gl_resource.ts
  web/src/app/timeline/components/canvas/convertutil.spec.ts
  web/src/app/timeline/components/canvas/convertutil.ts
  web/src/app/timeline/components/canvas/glcontextmanager.spec.ts
  web/src/app/timeline/components/canvas/glcontextmanager.ts
  web/src/app/timeline/components/canvas/rendering-loop-manager.spec.ts
  web/src/app/timeline/components/canvas/rendering-loop-manager.ts
  web/src/app/timeline/components/timeline-legend.component.ts
Owners: @kyasbal, @renamoo, @jyane

Add utility functions and types used for implementing the timeline header component (#457)
  web/src/app/timeline/components/calculator/human-friendly-tick.spec.ts
  web/src/app/timeline/components/calculator/human-friendly-tick.ts
  web/src/app/timeline/components/misc/histogram-cache.spec.ts
  web/src/app/timeline/components/misc/histogram-cache.ts
Owners: @kyasbal, @renamoo, @jyane

Fixed issues pointed by gemini-code-assist and fixed some styles
  web/src/app/timeline/components/canvas/timeline-ruler-renderer.ts
  web/src/app/timeline/components/timeline-ruler.component.html
  web/src/app/timeline/components/timeline-ruler.component.scss
  web/src/app/timeline/components/timeline-ruler.component.ts
  web/src/app/timeline/components/timeline-ruler.stories.ts
  web/src/app/timeline/components/timeline-ruler.viewmodel.ts
Owners: @kyasbal, @renamoo, @jyane

Add timeline header component
  web/src/app/timeline/components/canvas/timeline-ruler-renderer.ts
  web/src/app/timeline/components/style-model.ts
  web/src/app/timeline/components/timeline-ruler.component.html
  web/src/app/timeline/components/timeline-ruler.component.scss
  web/src/app/timeline/components/timeline-ruler.component.ts
  web/src/app/timeline/components/timeline-ruler.stories.ts
  web/src/app/timeline/components/timeline-ruler.viewmodel.spec.ts
  web/src/app/timeline/components/timeline-ruler.viewmodel.ts
Owners: @kyasbal, @renamoo, @jyane

fix issue pointed by gemini-code-assist
  web/src/app/timeline/components/canvas/timeline-ruler-renderer.ts
  web/src/app/timeline/components/timeline-ruler.component.scss
Owners: @kyasbal, @renamoo, @jyane

bugfix: EndpointSliceMapper can panic with dereference nil pointer
  pkg/task/inspection/commonlogk8sauditv2/impl/endpointmapper_task.go
  pkg/task/inspection/commonlogk8sauditv2/impl/endpointmapper_task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix typos
  web/src/app/common/resizable-pane/resizing-calculator.spec.ts
  web/src/app/timeline/components/timeline-ruler.component.ts
  web/src/app/timeline/components/timeline-ruler.viewmodel.ts
Owners: @kyasbal, @renamoo, @jyane

Added timeline header components (#458)
  web/src/app/common/resizable-pane/resizing-calculator.spec.ts
  web/src/app/timeline/components/canvas/timeline-ruler-renderer.ts
  web/src/app/timeline/components/style-model.ts
  web/src/app/timeline/components/timeline-ruler.component.html
  web/src/app/timeline/components/timeline-ruler.component.scss
  web/src/app/timeline/components/timeline-ruler.component.ts
  web/src/app/timeline/components/timeline-ruler.stories.ts
  web/src/app/timeline/components/timeline-ruler.viewmodel.spec.ts
  web/src/app/timeline/components/timeline-ruler.viewmodel.ts
Owners: @kyasbal, @renamoo, @jyane

Add the timeline renderer
  web/src/app/timeline/components/canvas/glutil.ts
  web/src/app/timeline/components/canvas/hittest-shared-resource.ts
  web/src/app/timeline/components/canvas/timeline-background-renderer.ts
  web/src/app/timeline/components/canvas/timeline-events-renderer.ts
  web/src/app/timeline/components/canvas/timeline-renderer.ts
  web/src/app/timeline/components/canvas/timeline-revisions-renderer.ts
  web/src/app/timeline/components/canvas/timeline-shared-resource.ts
  web/src/assets/event-v2.color-fragment.glsl
  web/src/assets/event-v2.hittest-fragment.glsl
  web/src/assets/event-v2.shared.glsl
  web/src/assets/event-v2.vertex.glsl
  web/src/assets/revision-v2.color-fragment.glsl
  web/src/assets/revision-v2.hittest-fragment.glsl
  web/src/assets/revision-v2.shared.glsl
  web/src/assets/revision-v2.vertex.glsl
  web/src/assets/v2.shared.glsl
Owners: @kyasbal, @renamoo, @jyane

Add WebGL related types used in revision renderer and event renderer
  web/src/app/timeline/components/canvas/glutil.ts
  web/src/app/timeline/components/canvas/hittest-shared-resource.ts
  web/src/app/timeline/components/canvas/timeline-shared-resource.ts
  web/src/assets/v2.shared.glsl
Owners: @kyasbal, @renamoo, @jyane

fixed issues pointed by gemini-code-assist
  web/src/app/timeline/components/canvas/glutil.ts
  web/src/app/timeline/components/canvas/hittest-shared-resource.ts
  web/src/app/timeline/components/canvas/timeline-shared-resource.ts
Owners: @kyasbal, @renamoo, @jyane

Add renderer for drawing event points
  web/src/app/timeline/components/canvas/timeline-events-renderer.ts
  web/src/assets/event-v2.color-fragment.glsl
  web/src/assets/event-v2.hittest-fragment.glsl
  web/src/assets/event-v2.shared.glsl
  web/src/assets/event-v2.vertex.glsl
Owners: @kyasbal, @renamoo, @jyane

fix suggested by gemini-code-assist
  web/src/app/timeline/components/canvas/timeline-events-renderer.ts
  web/src/assets/event-v2.color-fragment.glsl
  web/src/assets/event-v2.shared.glsl
  web/src/assets/event-v2.vertex.glsl
Owners: @kyasbal, @renamoo, @jyane

Add renderer drawing revision rectangles
  web/src/app/timeline/components/canvas/timeline-revisions-renderer.ts
  web/src/assets/revision-v2.color-fragment.glsl
  web/src/assets/revision-v2.hittest-fragment.glsl
  web/src/assets/revision-v2.shared.glsl
  web/src/assets/revision-v2.vertex.glsl
Owners: @kyasbal, @renamoo, @jyane

fix issue pointed by gemini-code-assist
  web/src/assets/revision-v2.shared.glsl
Owners: @kyasbal, @renamoo, @jyane

Add WebGL related types used in revision renderer and event renderer (#463)
  web/src/app/timeline/components/canvas/glutil.ts
  web/src/app/timeline/components/canvas/hittest-shared-resource.ts
  web/src/app/timeline/components/canvas/timeline-shared-resource.ts
  web/src/assets/v2.shared.glsl
Owners: @kyasbal, @renamoo, @jyane

Add renderer for drawing event points (#464)
  web/src/app/timeline/components/canvas/timeline-events-renderer.ts
  web/src/assets/event-v2.color-fragment.glsl
  web/src/assets/event-v2.hittest-fragment.glsl
  web/src/assets/event-v2.shared.glsl
  web/src/assets/event-v2.vertex.glsl
Owners: @kyasbal, @renamoo, @jyane

.github/CODEOWNERS:

# Github Actions
.github/ @kyasbal
.cloudbuild/ @kyasbal

# Golang related files
cmd/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima
pkg/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima
test/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima

# Web front related files
web/ @kyasbal @renamoo @jyane
