Repository GoogleCloudPlatform/khi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

.github/CODEOWNERS:

# Github Actions
.github/ @kyasbal
.cloudbuild/ @kyasbal

# Golang related files
cmd/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima
pkg/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima
test/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima

# Web front related files
web/ @kyasbal @renamoo @jyane

fix issues pointed by gemini-code-assist
  pkg/task/inspection/googlecloudlogk8saudit/impl/fieldset.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/fieldset_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix issues pointed by gemini-code-assist
  pkg/task/inspection/commonlogk8sauditv2/impl/common_task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Adding grouping related tasks and tasks for gathering k8s audit logs from Cloud Logging (#378)
  pkg/task/inspection/googlecloudlogk8saudit/impl/fieldset.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/fieldset_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix issues pointed by gemini-code-assist
  pkg/task/inspection/commonlogk8sauditv2/impl/common_task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Adding k8s audit log parser tasks
  pkg/task/inspection/commonlogk8sauditv2/impl/common_task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix issues pointed by gemini-code-assist
  pkg/task/inspection/googlecloudlogk8saudit/impl/fieldset.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/fieldset_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix issues pointed by gemini-code-assist
  pkg/testutil/testchangeset/changeset.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix issue pointed by gemini-code-assist
  pkg/core/inspection/taskbase/inventory_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Migrate containerID discovery tasks to use the inventory task and implemented resource UID inventory
  pkg/core/inspection/test/testutil.go
  pkg/task/inspection/commonlogk8sauditv2/contract/inventory.go
  pkg/task/inspection/commonlogk8sauditv2/contract/taskid.go
  pkg/task/inspection/commonlogk8sauditv2/contract/type.go
  pkg/task/inspection/commonlogk8sauditv2/impl/container_historymodifier_task.go
  pkg/task/inspection/commonlogk8sauditv2/impl/container_historymodifier_task_test.go
  pkg/task/inspection/commonlogk8sauditv2/impl/containeridinventory_task.go
  pkg/task/inspection/commonlogk8sauditv2/impl/registration.go
  pkg/task/inspection/commonlogk8sauditv2/impl/resourceuidinventory_task.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/parser.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/controllermanager_task.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/controllermanager_task_test.go
  pkg/task/inspection/googlecloudlogk8snode/contract/containerd_relationship.go
  pkg/task/inspection/googlecloudlogk8snode/contract/containerd_relationship_test.go
  pkg/task/inspection/googlecloudlogk8snode/contract/taskid.go
  pkg/task/inspection/googlecloudlogk8snode/impl/common_task.go
  pkg/task/inspection/googlecloudlogk8snode/impl/containerd_task.go
  pkg/task/inspection/googlecloudlogk8snode/impl/containerd_task_test.go
  pkg/task/inspection/googlecloudlogk8snode/impl/kubelet_task.go
  pkg/task/inspection/googlecloudlogk8snode/impl/kubelet_task_test.go
  pkg/task/inspection/googlecloudlogk8snode/impl/registration.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Improved containerd,kubelet and controlplane ID matchers to use inventory tasks
  pkg/common/patternfinder/finder.go
  pkg/common/patternfinder/finder_test.go
  pkg/task/inspection/googlecloudlogk8snode/contract/containerd_relationship.go
  pkg/task/inspection/googlecloudlogk8snode/contract/containerd_relationship_test.go
  pkg/task/inspection/googlecloudlogk8snode/contract/taskid.go
  pkg/task/inspection/googlecloudlogk8snode/impl/containerd_task.go
  pkg/task/inspection/googlecloudlogk8snode/impl/containerd_task_test.go
  pkg/task/inspection/googlecloudlogk8snode/impl/kubelet_task.go
  pkg/task/inspection/googlecloudlogk8snode/impl/kubelet_task_test.go
  pkg/task/inspection/googlecloudlogk8snode/impl/parser_utility.go
  pkg/task/inspection/googlecloudlogk8snode/impl/parser_utility_test.go
  pkg/task/inspection/googlecloudlogk8snode/impl/registration.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Improved container ID discovery tasks and implemented pod uid discovery tasks (#396)
  pkg/common/patternfinder/finder.go
  pkg/common/patternfinder/finder_test.go
  pkg/core/inspection/taskbase/inventory_task.go
  pkg/core/inspection/test/testutil.go
  pkg/task/inspection/commonlogk8sauditv2/contract/inventory.go
  pkg/task/inspection/commonlogk8sauditv2/contract/taskid.go
  pkg/task/inspection/commonlogk8sauditv2/contract/type.go
  pkg/task/inspection/commonlogk8sauditv2/impl/container_historymodifier_task.go
  pkg/task/inspection/commonlogk8sauditv2/impl/container_historymodifier_task_test.go
  pkg/task/inspection/commonlogk8sauditv2/impl/containeridinventory_task.go
  pkg/task/inspection/commonlogk8sauditv2/impl/registration.go
  pkg/task/inspection/commonlogk8sauditv2/impl/resourceuidinventory_task.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/parser.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/controllermanager_task.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/controllermanager_task_test.go
  pkg/task/inspection/googlecloudlogk8snode/contract/containerd_relationship.go
  pkg/task/inspection/googlecloudlogk8snode/contract/containerd_relationship_test.go
  pkg/task/inspection/googlecloudlogk8snode/contract/taskid.go
  pkg/task/inspection/googlecloudlogk8snode/impl/common_task.go
  pkg/task/inspection/googlecloudlogk8snode/impl/containerd_task.go
  pkg/task/inspection/googlecloudlogk8snode/impl/containerd_task_test.go
  pkg/task/inspection/googlecloudlogk8snode/impl/kubelet_task.go
  pkg/task/inspection/googlecloudlogk8snode/impl/kubelet_task_test.go
  pkg/task/inspection/googlecloudlogk8snode/impl/parser_utility.go
  pkg/task/inspection/googlecloudlogk8snode/impl/parser_utility_test.go
  pkg/task/inspection/googlecloudlogk8snode/impl/registration.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Added new fieldset related tasks and history modifiers for error audit logs
  pkg/task/inspection/googlecloudlogk8saudit/impl/fieldset.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/fieldset_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Adding grouping related tasks and tasks for gathering k8s audit logs from Cloud Logging (#378)
  pkg/task/inspection/googlecloudlogk8saudit/impl/fieldset.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/fieldset_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix issues pointed by gemini-code-assist
  pkg/task/inspection/commonlogk8sauditv2/impl/common_task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Adding k8s audit log parser tasks
  pkg/task/inspection/commonlogk8sauditv2/impl/common_task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix issues pointed by gemini-code-assist
  pkg/task/inspection/commonlogk8sauditv2/impl/common_task_test.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/fieldset.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Adding k8s audit log parser tasks
  pkg/task/inspection/commonlogk8sauditv2/impl/common_task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix issues pointed by gemini-code-assist
  pkg/task/inspection/googlecloudlogk8saudit/impl/fieldset.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/fieldset_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Adding k8s audit log parser tasks
  pkg/task/inspection/commonlogk8sauditv2/impl/common_task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Added several test asserter for changeset testing
  pkg/testutil/testchangeset/changeset.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix issues pointed by gemini-code-assist
  pkg/task/inspection/commonlogk8sauditv2/impl/common_task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix issues pointed by gemini-code-assist
  pkg/task/inspection/googlecloudlogk8saudit/impl/fieldset.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/fieldset_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix issues pointed by gemini-code-assist
  pkg/testutil/testchangeset/changeset.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Implemented inventory for IP leases and NEG names
  pkg/model/history/builder.go
  pkg/model/history/resourceinfo/cluster.go
  pkg/model/history/resourceinfo/container.go
  pkg/model/history/resourceinfo/resourcelease/history.go
  pkg/model/history/resourceinfo/resourcelease/lease_holder.go
  pkg/task/inspection/commonlogk8sauditv2/contract/inventory.go
  pkg/task/inspection/commonlogk8sauditv2/contract/taskid.go
  pkg/task/inspection/commonlogk8sauditv2/contract/type.go
  pkg/task/inspection/commonlogk8sauditv2/impl/iplease_inventory.go
  pkg/task/inspection/commonlogk8sauditv2/impl/iplease_inventory_test.go
  pkg/task/inspection/commonlogk8sauditv2/impl/registration.go
  pkg/task/inspection/googlecloudk8scommon/contract/inventory.go
  pkg/task/inspection/googlecloudk8scommon/contract/taskid.go
  pkg/task/inspection/googlecloudk8scommon/impl/negnames_inventory_task.go
  pkg/task/inspection/googlecloudk8scommon/impl/registration.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/parser.go
  pkg/task/inspection/googlecloudlognetworkapiaudit/impl/parser_task.go
  pkg/task/inspection/googlecloudlognetworkapiaudit/impl/query_task.go
  pkg/task/inspection/ossclusterk8s/impl/auditlog_parsers.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix issues pointed by gemini-code-assist
  pkg/model/history/resourceinfo/resourcelease/history.go
  pkg/model/history/resourceinfo/resourcelease/lease_holder.go
  pkg/task/inspection/commonlogk8sauditv2/impl/iplease_inventory.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

bug: deletionGracePeriodSeconds=0 was always treated as completely removed even when finalizers exists
  pkg/task/inspection/commonlogk8sauditv2/impl/lifetimetracker_task.go
  pkg/task/inspection/commonlogk8sauditv2/impl/lifetimetracker_task_test.go
  pkg/task/inspection/commonlogk8sauditv2/impl/resourcerevision_task.go
  pkg/task/inspection/commonlogk8sauditv2/impl/resourcerevision_task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Adding inventory tasks for IP leasing history and NEG names (#397)
  pkg/model/history/builder.go
  pkg/model/history/resourceinfo/cluster.go
  pkg/model/history/resourceinfo/container.go
  pkg/model/history/resourceinfo/resourcelease/history.go
  pkg/model/history/resourceinfo/resourcelease/lease_holder.go
  pkg/task/inspection/commonlogk8sauditv2/contract/inventory.go
  pkg/task/inspection/commonlogk8sauditv2/contract/taskid.go
  pkg/task/inspection/commonlogk8sauditv2/contract/type.go
  pkg/task/inspection/commonlogk8sauditv2/impl/iplease_inventory.go
  pkg/task/inspection/commonlogk8sauditv2/impl/iplease_inventory_test.go
  pkg/task/inspection/commonlogk8sauditv2/impl/registration.go
  pkg/task/inspection/googlecloudk8scommon/contract/inventory.go
  pkg/task/inspection/googlecloudk8scommon/contract/taskid.go
  pkg/task/inspection/googlecloudk8scommon/impl/negnames_inventory_task.go
  pkg/task/inspection/googlecloudk8scommon/impl/registration.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/parser.go
  pkg/task/inspection/googlecloudlognetworkapiaudit/impl/parser_task.go
  pkg/task/inspection/googlecloudlognetworkapiaudit/impl/query_task.go
  pkg/task/inspection/ossclusterk8s/impl/auditlog_parsers.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

bug: deletionGracePeriodSeconds=0 was always treated as completely removed even when finalizers exists (#398)
  pkg/task/inspection/commonlogk8sauditv2/impl/lifetimetracker_task.go
  pkg/task/inspection/commonlogk8sauditv2/impl/lifetimetracker_task_test.go
  pkg/task/inspection/commonlogk8sauditv2/impl/resourcerevision_task.go
  pkg/task/inspection/commonlogk8sauditv2/impl/resourcerevision_task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Fix concurrent map access on the processContainerIDDiscoveryForLog
  pkg/task/inspection/googlecloudlogk8snode/impl/containerd_task.go
  pkg/task/inspection/googlecloudlogk8snode/impl/containerd_task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix issues pointed by gemini-code-assist
  pkg/task/inspection/googlecloudlogk8snode/impl/containerd_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

bug: fix leaked channel
  pkg/task/inspection/googlecloudlogk8snode/impl/containerd_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Added a new GitHub Action to build binaries and attach it to the draft release
  .github/workflows/pullrequest.yaml
  .github/workflows/release.yaml
  scripts/make/build.mk
Owners: @kyasbal

fix CI failure
  .github/workflows/pullrequest.yaml
  scripts/make/build.mk
Owners: @kyasbal

Updated package-lock.json & fixed several compile errors due to updates
  web/package-lock.json
  web/src/app/common/misc-util.ts
  web/src/app/common/schema/graph-schema.ts
  web/src/app/dialogs/new-inspection/components/service/file-uploader.ts
  web/src/app/services/filter/chain.ts
  web/src/app/services/filter/timeline-filter-chain.ts
  web/src/app/services/frame-connection/window-connection-provider.service.ts
Owners: @kyasbal, @renamoo, @jyane

Update web/src/app/common/misc-util.ts
  web/src/app/common/misc-util.ts
Owners: @kyasbal, @renamoo, @jyane

Updated package-lock.json & fixed several compile errors due to updates (#403)
  web/package-lock.json
  web/src/app/common/misc-util.ts
  web/src/app/common/schema/graph-schema.ts
  web/src/app/dialogs/new-inspection/components/service/file-uploader.ts
  web/src/app/services/filter/chain.ts
  web/src/app/services/filter/timeline-filter-chain.ts
  web/src/app/services/frame-connection/window-connection-provider.service.ts
Owners: @kyasbal, @renamoo, @jyane

Updated Go dependency
  go.mod
  go.sum
Owners: none

Updated go version from 1.24 to 1.25
  .cloudbuild/github-deploy-beta.yaml
  .cloudbuild/github-deploy-latest.yaml
  .cloudbuild/github-deploy-ondemand.yaml
  .generated-golangci-depguard.yaml
  .github/workflows/pullrequest.yaml
  .github/workflows/release.yaml
  .golangci.yaml
  Dockerfile
  GEMINI.md
  README.ja.md
  README.md
  go.mod
  go.sum
  pkg/model/history/builder.go
  scripts/depguard-generator/go.mod
  scripts/make/codegen.mk
  scripts/make/lint.mk
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Update scripts/depguard-generator/go.mod
  scripts/depguard-generator/go.mod
Owners: none

Updated GEMINI.md
  GEMINI.md
  pkg/GEMINI.md
  scripts/GEMINI.md
  scripts/git-precondition.sh
  web/GEMINI.md
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo
