Repository GoogleCloudPlatform/khi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

.github/CODEOWNERS:

# Github Actions
.github/ @kyasbal
.cloudbuild/ @kyasbal

# Golang related files
cmd/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima
pkg/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima
test/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima

# Web front related files
web/ @kyasbal @renamoo @jyane

fix format
  web/src/app/log/log-smart.component.ts
Owners: @kyasbal, @renamoo, @jyane

Fixed minor style problems
  web/src/app/diff/components/diff-list.component.html
  web/src/app/diff/components/diff-list.component.scss
  web/src/app/diff/components/diff-list.component.ts
Owners: @kyasbal, @renamoo, @jyane

fix storybook styling issues
  web/src/app/diff/components/diff-content.stories.ts
  web/src/app/diff/components/diff-list.component.scss
  web/src/app/diff/components/diff-list.stories.ts
Owners: @kyasbal, @renamoo, @jyane

Fix bug on dag-processor-manager bug for composer v3
  pkg/task/inspection/googlecloudclustercomposer/contract/fieldset.go
  pkg/task/inspection/googlecloudclustercomposer/contract/types.go
  pkg/task/inspection/googlecloudclustercomposer/impl/dag_processor_manager_mapper.go
  pkg/task/inspection/googlecloudclustercomposer/impl/fieldsetreader_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Refactor cloud composer parser
  pkg/api/googlecloud/monitoring_util.go
  pkg/task/inspection/googlecloudclustercomposer/README.md
  pkg/task/inspection/googlecloudclustercomposer/contract/fieldset.go
  pkg/task/inspection/googlecloudclustercomposer/contract/taskid.go
  pkg/task/inspection/googlecloudclustercomposer/contract/types.go
  pkg/task/inspection/googlecloudclustercomposer/impl/autocomplete.go
  pkg/task/inspection/googlecloudclustercomposer/impl/dag_processor_manager_mapper.go
  pkg/task/inspection/googlecloudclustercomposer/impl/dag_processor_manager_mapper_test.go
  pkg/task/inspection/googlecloudclustercomposer/impl/fieldsetreader_task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/filter_task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/input_components_task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/other.go
  pkg/task/inspection/googlecloudclustercomposer/impl/query_task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/query_task_test.go
  pkg/task/inspection/googlecloudclustercomposer/impl/registration.go
  pkg/task/inspection/googlecloudclustercomposer/impl/scheduler.go
  pkg/task/inspection/googlecloudclustercomposer/impl/scheduler_test.go
  pkg/task/inspection/googlecloudclustercomposer/impl/tail_task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/worker.go
  pkg/task/inspection/googlecloudclustercomposer/impl/worker_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Fixed date time wrong bug
  web/src/app/timeline/components/calculator/date-label-calculator.spec.ts
  web/src/app/timeline/components/calculator/date-label-calculator.ts
  web/src/app/timeline/components/timeline-ruler.component.ts
Owners: @kyasbal, @renamoo, @jyane

Removed the duplicated line
  pkg/task/inspection/googlecloudclustercomposer/contract/fieldset.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Check if storybook is buildable on CI
  .github/workflows/pullrequest.yaml
Owners: @kyasbal

Moved timeline toolbar related components under timeline-toolbar folder
  web/src/app/header/header.component.ts
  web/src/app/timeline-toolbar/regex-input.component.html
  web/src/app/timeline-toolbar/regex-input.component.scss
  web/src/app/timeline-toolbar/regex-input.component.spec.ts
  web/src/app/timeline-toolbar/regex-input.component.ts
  web/src/app/timeline-toolbar/regex-validator.spec.ts
  web/src/app/timeline-toolbar/regex-validator.ts
  web/src/app/timeline-toolbar/set-input.component.html
  web/src/app/timeline-toolbar/set-input.component.scss
  web/src/app/timeline-toolbar/set-input.component.spec.ts
  web/src/app/timeline-toolbar/set-input.component.ts
  web/src/app/timeline-toolbar/toolbar.component.html
  web/src/app/timeline-toolbar/toolbar.component.scss
  web/src/app/timeline-toolbar/toolbar.component.spec.ts
  web/src/app/timeline-toolbar/toolbar.component.ts
Owners: @kyasbal, @renamoo, @jyane

Change the component name to align with the folder name
  web/src/app/header/header.component.html
  web/src/app/timeline-toolbar/regex-input.component.ts
  web/src/app/timeline-toolbar/set-input.component.spec.ts
  web/src/app/timeline-toolbar/set-input.component.ts
  web/src/app/timeline-toolbar/toolbar.component.html
  web/src/app/timeline-toolbar/toolbar.component.ts
Owners: @kyasbal, @renamoo, @jyane

Updated go dependency
  go.mod
  go.sum
Owners: none

fix(web): resolve rendering bug of sub-second timeline revisions
  web/src/app/timeline/components/timeline-chart.stories.ts
  web/src/assets/revision-v2.vertex.glsl
Owners: @kyasbal, @renamoo, @jyane

Fix issues pointed by gemini code assist
  web/src/app/timeline/components/timeline-chart.stories.ts
  web/src/assets/revision-v2.vertex.glsl
Owners: @kyasbal, @renamoo, @jyane

Make hover element showing from the revision state of the first line
  web/src/app/store/timeline.ts
  web/src/app/timeline/components/timeline-hover-overlay.component.html
  web/src/app/timeline/components/timeline-hover-overlay.component.scss
  web/src/app/timeline/components/timeline-hover-overlay.component.ts
  web/src/app/timeline/components/timeline-hover-overlay.stories.ts
  web/src/app/timeline/timeline-smart.component.ts
Owners: @kyasbal, @renamoo, @jyane

fix bugs on Cloud Composer log parsers
  pkg/model/enum/revision_state.go
  pkg/model/enum/verb.go
  pkg/task/inspection/googlecloudclustercomposer/contract/fieldset.go
  pkg/task/inspection/googlecloudclustercomposer/contract/fieldset_test.go
  pkg/task/inspection/googlecloudclustercomposer/impl/airflow_util.go
  pkg/task/inspection/googlecloudclustercomposer/impl/filter_task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/worker.go
  web/src/app/timeline/components/timeline-chart.stories.ts
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

fix failed test and followed the code review comment
  pkg/task/inspection/googlecloudclustercomposer/contract/fieldset.go
  pkg/task/inspection/googlecloudclustercomposer/contract/fieldset_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fixed minor style bug on log view
  web/src/app/common.scss
  web/src/app/log/components/log-content.component.scss
  web/src/app/log/components/log-view-log-line.component.scss
Owners: @kyasbal, @renamoo, @jyane

Improved highlight status of logs on hover screen
  web/src/app/timeline/components/timeline-hover-overlay.component.html
  web/src/app/timeline/components/timeline-hover-overlay.component.scss
  web/src/app/timeline/components/timeline-hover-overlay.component.ts
  web/src/app/timeline/components/timeline-hover-overlay.stories.ts
Owners: @kyasbal, @renamoo, @jyane

fix(web): preserve '-' prefix in set-input autocomplete
  web/src/app/shared/components/set-input/set-input.component.html
  web/src/app/shared/components/set-input/set-input.component.spec.ts
  web/src/app/shared/components/set-input/set-input.component.ts
Owners: @kyasbal, @renamoo, @jyane

fix(web): preserve '-' prefix in set-input autocomplete
  web/src/app/shared/components/set-input/set-input.component.spec.ts
Owners: @kyasbal, @renamoo, @jyane

feat(inspection): add label-based task selector for flexible task filtering
  docs/en/khi-task-system-concept.md
  docs/ja/khi-task-system-concept.md
  pkg/common/typedmap/typedmap.go
  pkg/common/typedmap/typedmap_test.go
  pkg/core/inspection/runner.go
  pkg/core/inspection/runner_test.go
  pkg/core/inspection/scoped_registry.go
  pkg/core/inspection/scoped_registry_test.go
  pkg/core/inspection/server.go
  pkg/task/inspection/inspectioncore/contract/tasklabel.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

refactor(web): unify set-input in timeline-toolbar
  web/src/app/timeline-toolbar/set-input-popup.component.html
  web/src/app/timeline-toolbar/set-input-popup.component.scss
  web/src/app/timeline-toolbar/set-input-popup.component.ts
  web/src/app/timeline-toolbar/set-input-popup.stories.ts
  web/src/app/timeline-toolbar/set-input.component.html
  web/src/app/timeline-toolbar/set-input.component.scss
  web/src/app/timeline-toolbar/set-input.component.spec.ts
  web/src/app/timeline-toolbar/set-input.component.ts
  web/src/app/timeline-toolbar/toolbar.component.html
  web/src/app/timeline-toolbar/toolbar.component.ts
Owners: @kyasbal, @renamoo, @jyane

Refactor TimelineToolbar related componnents
  web/src/app/header/header.component.html
  web/src/app/header/header.component.ts
  web/src/app/timeline-toolbar/components/regex-input.component.html
  web/src/app/timeline-toolbar/components/regex-input.component.scss
  web/src/app/timeline-toolbar/components/regex-input.component.spec.ts
  web/src/app/timeline-toolbar/components/regex-input.component.ts
  web/src/app/timeline-toolbar/components/regex-validator.spec.ts
  web/src/app/timeline-toolbar/components/regex-validator.ts
  web/src/app/timeline-toolbar/components/toolbar.component.html
  web/src/app/timeline-toolbar/components/toolbar.component.scss
  web/src/app/timeline-toolbar/components/toolbar.component.spec.ts
  web/src/app/timeline-toolbar/components/toolbar.component.ts
  web/src/app/timeline-toolbar/timeline-toolbar-smart.component.ts
  web/src/app/timeline-toolbar/toolbar.component.ts
Owners: @kyasbal, @renamoo, @jyane

Fix failed tests
  web/src/app/timeline-toolbar/components/regex-input.component.html
  web/src/app/timeline-toolbar/components/regex-input.component.spec.ts
  web/src/app/timeline-toolbar/components/regex-input.component.ts
  web/src/app/timeline-toolbar/timeline-toolbar-smart.component.html
  web/src/app/timeline-toolbar/timeline-toolbar-smart.component.ts
Owners: @kyasbal, @renamoo, @jyane

Remove unused handlers
  web/src/app/timeline-toolbar/components/toolbar.component.html
  web/src/app/timeline-toolbar/components/toolbar.component.spec.ts
  web/src/app/timeline-toolbar/components/toolbar.component.ts
Owners: @kyasbal, @renamoo, @jyane

Refactor TimelineToolbar related componnents
  web/src/app/header/header.component.html
  web/src/app/header/header.component.ts
  web/src/app/timeline-toolbar/components/regex-input.component.html
  web/src/app/timeline-toolbar/components/regex-input.component.scss
  web/src/app/timeline-toolbar/components/regex-input.component.spec.ts
  web/src/app/timeline-toolbar/components/regex-input.component.ts
  web/src/app/timeline-toolbar/components/regex-validator.spec.ts
  web/src/app/timeline-toolbar/components/regex-validator.ts
  web/src/app/timeline-toolbar/components/set-input-popup.component.html
  web/src/app/timeline-toolbar/components/set-input-popup.component.scss
  web/src/app/timeline-toolbar/components/set-input-popup.component.ts
  web/src/app/timeline-toolbar/components/set-input-popup.stories.ts
  web/src/app/timeline-toolbar/components/toolbar.component.html
  web/src/app/timeline-toolbar/components/toolbar.component.scss
  web/src/app/timeline-toolbar/components/toolbar.component.spec.ts
  web/src/app/timeline-toolbar/components/toolbar.component.ts
  web/src/app/timeline-toolbar/timeline-toolbar-smart.component.ts
  web/src/app/timeline-toolbar/toolbar.component.ts
Owners: @kyasbal, @renamoo, @jyane

Remove unused handlers
  web/src/app/timeline-toolbar/components/toolbar.component.html
  web/src/app/timeline-toolbar/components/toolbar.component.spec.ts
  web/src/app/timeline-toolbar/components/toolbar.component.ts
Owners: @kyasbal, @renamoo, @jyane

Fix failed tests
  web/src/app/timeline-toolbar/components/regex-input.component.html
  web/src/app/timeline-toolbar/components/regex-input.component.spec.ts
  web/src/app/timeline-toolbar/components/regex-input.component.ts
  web/src/app/timeline-toolbar/timeline-toolbar-smart.component.html
  web/src/app/timeline-toolbar/timeline-toolbar-smart.component.ts
Owners: @kyasbal, @renamoo, @jyane

feat(web): migrate layout system to Golden Layout
  web/package-lock.json
  web/package.json
  web/src/app/pages/main/main.component.html
  web/src/app/pages/main/main.component.scss
  web/src/app/pages/main/main.component.ts
  web/src/app/services/layout/layout.service.ts
  web/src/golden-layout-khi-theme.scss
  web/src/styles.scss
Owners: @kyasbal, @renamoo, @jyane

chore(agent): migrate coding rules and standards from GEMINI.md
  .agents/rules/angular-coding-rule.md
  .agents/rules/go-coding-rule.md
  .agents/rules/khi-task-rule.md
  .agents/skills/neutral-commit-crafter/SKILL.md
  GEMINI.md
Owners: none

docs(agents): add subagent review guidelines to coding rules
  .agents/rules/angular-coding-rule.md
  .agents/rules/go-coding-rule.md
Owners: none

Update .agents/rules/angular-coding-rule.md
  .agents/rules/angular-coding-rule.md
Owners: none

Update .agents/rules/angular-coding-rule.md
  .agents/rules/angular-coding-rule.md
Owners: none

Update .agents/rules/angular-coding-rule.md
  .agents/rules/angular-coding-rule.md
Owners: none

Apply suggestions from code review
  .agents/rules/angular-coding-rule.md
  .agents/rules/khi-task-rule.md
Owners: none

docs(rules): add markdown standards and update angular rule indentation
  .agents/rules/angular-coding-rule.md
  .agents/rules/markdown-coding-rule.md
Owners: none

Refactor TimelineToolbar related componnents
  web/src/app/header/header.component.html
  web/src/app/header/header.component.ts
  web/src/app/timeline-toolbar/components/regex-input.component.html
  web/src/app/timeline-toolbar/components/regex-input.component.scss
  web/src/app/timeline-toolbar/components/regex-input.component.spec.ts
  web/src/app/timeline-toolbar/components/regex-input.component.ts
  web/src/app/timeline-toolbar/components/regex-validator.spec.ts
  web/src/app/timeline-toolbar/components/regex-validator.ts
  web/src/app/timeline-toolbar/components/set-input-popup.component.html
  web/src/app/timeline-toolbar/components/set-input-popup.component.scss
  web/src/app/timeline-toolbar/components/set-input-popup.component.ts
  web/src/app/timeline-toolbar/components/set-input-popup.stories.ts
  web/src/app/timeline-toolbar/components/toolbar.component.html
  web/src/app/timeline-toolbar/components/toolbar.component.scss
  web/src/app/timeline-toolbar/components/toolbar.component.spec.ts
  web/src/app/timeline-toolbar/components/toolbar.component.ts
  web/src/app/timeline-toolbar/timeline-toolbar-smart.component.ts
  web/src/app/timeline-toolbar/toolbar.component.ts
Owners: @kyasbal, @renamoo, @jyane

Fix failed tests
  web/src/app/timeline-toolbar/components/regex-input.component.html
  web/src/app/timeline-toolbar/components/regex-input.component.spec.ts
  web/src/app/timeline-toolbar/components/regex-input.component.ts
  web/src/app/timeline-toolbar/timeline-toolbar-smart.component.html
  web/src/app/timeline-toolbar/timeline-toolbar-smart.component.ts
Owners: @kyasbal, @renamoo, @jyane

Remove unused handlers
  web/src/app/timeline-toolbar/components/toolbar.component.html
  web/src/app/timeline-toolbar/components/toolbar.component.spec.ts
  web/src/app/timeline-toolbar/components/toolbar.component.ts
Owners: @kyasbal, @renamoo, @jyane

refactor(timeline-toolbar): use enum for ToolbarPopupStatus
  web/src/app/timeline-toolbar/components/toolbar.component.html
  web/src/app/timeline-toolbar/components/toolbar.component.ts
Owners: @kyasbal, @renamoo, @jyane
