Repository GoogleCloudPlatform/khi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @renamoo

.github/CODEOWNERS:

# Github Actions
.github/ @kyasbal
.cloudbuild/ @kyasbal

# Golang related files
cmd/ @kyasbal @RyuSA @jyane @yfuruyama
pkg/ @kyasbal @RyuSA @jyane @yfuruyama
test/ @kyasbal @RyuSA @jyane @yfuruyama

# Web front related files
web/ @kyasbal @renamoo @jyane

[chore :wrench:]Moved GKE on multicloud cluster specific tasks under googlecloudclustergkeonaws or googlecloudclustergkeonazure
  cmd/kubernetes-history-inspector/main.go
  cmd/reference-generator/main.go
  pkg/source/gcp/inspectiontype/inspection_type.go
  pkg/source/gcp/task_registrer.go
  pkg/task/inspection/googlecloudclustergkeonaws/contract/inspection_type.go
  pkg/task/inspection/googlecloudclustergkeonaws/contract/taskid.go
  pkg/task/inspection/googlecloudclustergkeonaws/impl/autocomplete.go
  pkg/task/inspection/googlecloudclustergkeonaws/impl/prefix.go
  pkg/task/inspection/googlecloudclustergkeonaws/impl/registration.go
  pkg/task/inspection/googlecloudclustergkeonazure/contract/inspection_type.go
  pkg/task/inspection/googlecloudclustergkeonazure/contract/taskid.go
  pkg/task/inspection/googlecloudclustergkeonazure/impl/autocomplete.go
  pkg/task/inspection/googlecloudclustergkeonazure/impl/prefix.go
  pkg/task/inspection/googlecloudclustergkeonazure/impl/registration.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

[chore :wrench:]Move composer cluster related tasks under googlecloudclustercomposer
  cmd/kubernetes-history-inspector/main.go
  cmd/reference-generator/main.go
  pkg/source/gcp/inspectiontype/inspection_type.go
  pkg/source/gcp/task/cloud-composer/paeser_test.go
  pkg/source/gcp/task/cloud-composer/parser.go
  pkg/source/gcp/task/cloud-composer/taskid/taskid.go
  pkg/source/gcp/task_registrer.go
  pkg/source/gcp/task_registrer_test.go
  pkg/task/inspection/googlecloudclustercomposer/contract/inspection_type.go
  pkg/task/inspection/googlecloudclustercomposer/contract/taskid.go
  pkg/task/inspection/googlecloudclustercomposer/impl/airflow-common/util.go
  pkg/task/inspection/googlecloudclustercomposer/impl/airflow-dag-processor-manager/parser.go
  pkg/task/inspection/googlecloudclustercomposer/impl/airflow-dag-processor-manager/parser_test.go
  pkg/task/inspection/googlecloudclustercomposer/impl/airflow-scheduler/parser.go
  pkg/task/inspection/googlecloudclustercomposer/impl/airflow-scheduler/parser_test.go
  pkg/task/inspection/googlecloudclustercomposer/impl/airflow-worker/parser.go
  pkg/task/inspection/googlecloudclustercomposer/impl/airflow-worker/parser_test.go
  pkg/task/inspection/googlecloudclustercomposer/impl/autocompletecomposerclusternames_task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/autocompletecomposerenvironmentnames_task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/inputcomposerenvironmentname_task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/parser_task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/prefix.go
  pkg/task/inspection/googlecloudclustercomposer/impl/query_task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/query_task_test.go
  pkg/task/inspection/googlecloudclustercomposer/impl/registration.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

[chore :wrench:]Moved Multicloud/OnPrem API audit log parser related tasks under the newer task package location
  cmd/kubernetes-history-inspector/main.go
  cmd/reference-generator/main.go
  pkg/source/gcp/task_registrer.go
  pkg/source/gcp/task_registrer_test.go
  pkg/task/inspection/googlecloudlogmulticloudapiaudit/contract/taskid.go
  pkg/task/inspection/googlecloudlogmulticloudapiaudit/impl/parser_task.go
  pkg/task/inspection/googlecloudlogmulticloudapiaudit/impl/parser_task_test.go
  pkg/task/inspection/googlecloudlogmulticloudapiaudit/impl/query_task.go
  pkg/task/inspection/googlecloudlogmulticloudapiaudit/impl/query_task_test.go
  pkg/task/inspection/googlecloudlogmulticloudapiaudit/impl/registration.go
  pkg/task/inspection/googlecloudlogonpremapiaudit/contract/taskid.go
  pkg/task/inspection/googlecloudlogonpremapiaudit/impl/parser_task.go
  pkg/task/inspection/googlecloudlogonpremapiaudit/impl/parser_task_test.go
  pkg/task/inspection/googlecloudlogonpremapiaudit/impl/query_task.go
  pkg/task/inspection/googlecloudlogonpremapiaudit/impl/query_task_test.go
  pkg/task/inspection/googlecloudlogonpremapiaudit/impl/registration.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

[chore :wrench:]Move serialport log parser related tasks to follow the new structure
  cmd/kubernetes-history-inspector/main.go
  cmd/reference-generator/main.go
  pkg/source/gcp/task_registrer.go
  pkg/source/gcp/task_registrer_test.go
  pkg/task/inspection/googlecloudlogserialport/contract/taskid.go
  pkg/task/inspection/googlecloudlogserialport/impl/parser_task.go
  pkg/task/inspection/googlecloudlogserialport/impl/parser_task_test.go
  pkg/task/inspection/googlecloudlogserialport/impl/query_task.go
  pkg/task/inspection/googlecloudlogserialport/impl/query_task_test.go
  pkg/task/inspection/googlecloudlogserialport/impl/registration.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

[chore :wrench:]Move node name input task under googlecloudk8scommon
  pkg/source/gcp/task/gke/k8s_container/form.go
  pkg/source/gcp/task/gke/k8s_control_plane_component/form.go
  pkg/source/gcp/task/gke/k8s_node/query.go
  pkg/source/gcp/task_registrer.go
  pkg/task/inspection/googlecloudcommon/contract/formpriority.go
  pkg/task/inspection/googlecloudk8scommon/contract/taskid.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputnodename_task.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputnodename_task_test.go
  pkg/task/inspection/googlecloudk8scommon/impl/registration.go
  pkg/task/inspection/googlecloudlogserialport/impl/query_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

[chore :wrench:]Move GKE audit log related tasks to follow the new package structure rule
  cmd/kubernetes-history-inspector/main.go
  cmd/reference-generator/main.go
  pkg/source/gcp/task_registrer.go
  pkg/source/gcp/task_registrer_test.go
  pkg/task/inspection/googlecloudloggkeapiaudit/contract/taskid.go
  pkg/task/inspection/googlecloudloggkeapiaudit/impl/parser_task.go
  pkg/task/inspection/googlecloudloggkeapiaudit/impl/parser_task_test.go
  pkg/task/inspection/googlecloudloggkeapiaudit/impl/query_task.go
  pkg/task/inspection/googlecloudloggkeapiaudit/impl/query_task_test.go
  pkg/task/inspection/googlecloudloggkeapiaudit/impl/registration.go
  pkg/task/inspection/googlecloudlogmulticloudapiaudit/contract/taskid.go
  pkg/task/inspection/googlecloudlogonpremapiaudit/contract/taskid.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

[chore :wrench:]Moved compute engine API related task to the new package structure
  cmd/kubernetes-history-inspector/main.go
  cmd/reference-generator/main.go
  pkg/source/gcp/task/gke/compute_api/taskid/taskid.go
  pkg/source/gcp/task_registrer.go
  pkg/source/gcp/task_registrer_test.go
  pkg/task/inspection/googlecloudlogcomputeapiaudit/contract/taskid.go
  pkg/task/inspection/googlecloudlogcomputeapiaudit/impl/parser_task.go
  pkg/task/inspection/googlecloudlogcomputeapiaudit/impl/parser_task_test.go
  pkg/task/inspection/googlecloudlogcomputeapiaudit/impl/query_task.go
  pkg/task/inspection/googlecloudlogcomputeapiaudit/impl/query_task_test.go
  pkg/task/inspection/googlecloudlogcomputeapiaudit/impl/registration.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

[chore :wrench:]Move k8s event log related tasks to the new package structure
  cmd/kubernetes-history-inspector/main.go
  cmd/reference-generator/main.go
  pkg/source/gcp/task_registrer.go
  pkg/source/gcp/task_registrer_test.go
  pkg/task/inspection/googlecloudlogk8sevent/contract/contract.go
  pkg/task/inspection/googlecloudlogk8sevent/impl/parser_task.go
  pkg/task/inspection/googlecloudlogk8sevent/impl/parser_task_test.go
  pkg/task/inspection/googlecloudlogk8sevent/impl/query_task.go
  pkg/task/inspection/googlecloudlogk8sevent/impl/query_task_test.go
  pkg/task/inspection/googlecloudlogk8sevent/impl/registration.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

[chore :wrench:]Move GCE Network API log related tasks to follow the new package structure
  cmd/kubernetes-history-inspector/main.go
  cmd/reference-generator/main.go
  pkg/source/gcp/task/gke/network_api/neg.go
  pkg/source/gcp/task_registrer.go
  pkg/source/gcp/task_registrer_test.go
  pkg/task/inspection/googlecloudlognetworkapiaudit/contract/taskid.go
  pkg/task/inspection/googlecloudlognetworkapiaudit/impl/parser_task.go
  pkg/task/inspection/googlecloudlognetworkapiaudit/impl/query_task.go
  pkg/task/inspection/googlecloudlognetworkapiaudit/impl/query_task_test.go
  pkg/task/inspection/googlecloudlognetworkapiaudit/impl/registration.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

[chore :wrench:]Move k8s node parser tasks to follow the new package structure rule
  cmd/kubernetes-history-inspector/main.go
  cmd/reference-generator/main.go
  pkg/source/gcp/task_registrer.go
  pkg/source/gcp/task_registrer_test.go
  pkg/task/inspection/googlecloudlogk8snode/contract/taskid.go
  pkg/task/inspection/googlecloudlogk8snode/impl/parser_task.go
  pkg/task/inspection/googlecloudlogk8snode/impl/parser_task_test.go
  pkg/task/inspection/googlecloudlogk8snode/impl/query_task.go
  pkg/task/inspection/googlecloudlogk8snode/impl/query_task_test.go
  pkg/task/inspection/googlecloudlogk8snode/impl/registration.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

[chore :wrench:]Move k8s container logs related tasks to follow the new package structure
  cmd/kubernetes-history-inspector/main.go
  cmd/reference-generator/main.go
  pkg/source/gcp/task/gke/k8s_container/taskid/taskid.go
  pkg/source/gcp/task_registrer.go
  pkg/source/gcp/task_registrer_test.go
  pkg/task/inspection/googlecloudlogk8scontainer/contract/taskid.go
  pkg/task/inspection/googlecloudlogk8scontainer/impl/form_task.go
  pkg/task/inspection/googlecloudlogk8scontainer/impl/parser_task.go
  pkg/task/inspection/googlecloudlogk8scontainer/impl/parser_task_test.go
  pkg/task/inspection/googlecloudlogk8scontainer/impl/query_task.go
  pkg/task/inspection/googlecloudlogk8scontainer/impl/query_task_test.go
  pkg/task/inspection/googlecloudlogk8scontainer/impl/registration.go
  pkg/task/inspection/googlecloudlogk8scontainer/impl/severity_parser.go
  pkg/task/inspection/googlecloudlogk8scontainer/impl/severity_parser_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

[chore :wrench:]Move autoscaler related tasks to match the new package structure rule
  cmd/kubernetes-history-inspector/main.go
  cmd/reference-generator/main.go
  pkg/source/gcp/task_registrer.go
  pkg/source/gcp/task_registrer_test.go
  pkg/task/inspection/googlecloudloggkeautoscaler/contract/taskid.go
  pkg/task/inspection/googlecloudloggkeautoscaler/impl/parser.go
  pkg/task/inspection/googlecloudloggkeautoscaler/impl/query.go
  pkg/task/inspection/googlecloudloggkeautoscaler/impl/query_test.go
  pkg/task/inspection/googlecloudloggkeautoscaler/impl/registration.go
  pkg/task/inspection/googlecloudloggkeautoscaler/impl/types.go
  pkg/task/inspection/googlecloudloggkeautoscaler/impl/types_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

[chore :wrench:]Move k8s controlplane log to the new package structure
  cmd/kubernetes-history-inspector/main.go
  cmd/reference-generator/main.go
  pkg/source/gcp/task/gke/k8s_control_plane_component/taskid/taskid.go
  pkg/source/gcp/task_registrer_test.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/contract/taskid.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/componentparser/controllermanager.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/componentparser/controllermanager_test.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/componentparser/default.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/componentparser/scheduler.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/componentparser/scheduler_test.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/componentparser/type.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/form_task.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/parser_task.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/query_task.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/query_task_test.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/registration.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

[chore :wrench:]Removed unused type
  pkg/source/gcp/types/query.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

[chore :wrench:]Move source/gcp/api -> api/googlecloud
  cmd/kubernetes-history-inspector/main.go
  pkg/api/googlecloud/accesstoken/default.go
  pkg/api/googlecloud/accesstoken/gcloud.go
  pkg/api/googlecloud/accesstoken/header_provider.go
  pkg/api/googlecloud/accesstoken/header_provider_test.go
  pkg/api/googlecloud/accesstoken/mds.go
  pkg/api/googlecloud/accesstoken/mds_test.go
  pkg/api/googlecloud/accesstoken/oauth.go
  pkg/api/googlecloud/client_factory.go
  pkg/api/googlecloud/gcp_client.go
  pkg/api/googlecloud/interface.go
  pkg/api/googlecloud/pageclient.go
  pkg/api/googlecloud/pageclient_test.go
  pkg/api/googlecloud/quotaproject/header_provider.go
  pkg/api/googlecloud/quotaproject/header_provider_test.go
  pkg/api/googlecloud/type.go
  pkg/api/googlecloud/validator.go
  pkg/api/googlecloud/validator_test.go
  pkg/source/gcp/query/query.go
  pkg/source/gcp/query/queryutil/parallel.go
  pkg/task/inspection/googlecloudclustercomposer/impl/autocompletecomposerclusternames_task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/autocompletecomposerenvironmentnames_task.go
  pkg/task/inspection/googlecloudclustergdcbaremetal/impl/autocompletegdcvforbaremetalclusternames_task.go
  pkg/task/inspection/googlecloudclustergdcvmware/impl/autocompletegdcvforvmwareclusternames_task.go
  pkg/task/inspection/googlecloudclustergke/impl/autocompletegkeclusternames_task.go
  pkg/task/inspection/googlecloudclustergkeonaws/impl/autocomplete.go
  pkg/task/inspection/googlecloudclustergkeonazure/impl/autocomplete.go
  pkg/task/inspection/googlecloudcommon/impl/autocompletelocation_task.go
  pkg/task/inspection/googlecloudcommon/impl/inputloggingfilterresourcename_task.go
  pkg/testutil/gcp/api/mock-client.go
  pkg/testutil/gcp/log.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

[chore :wrench:]Moved k8s audit log on GKE related tasks to the new package structure
  cmd/kubernetes-history-inspector/main.go
  cmd/reference-generator/main.go
  pkg/source/common/k8s_audit/recorder/containerstatusrecorder/recorder_test.go
  pkg/source/common/k8s_audit/v2manifestgenerate/task_test.go
  pkg/source/gcp/k8s/setup_test.go
  pkg/source/gcp/task_registrer_test.go
  pkg/task/inspection/googlecloudlogcomputeapiaudit/impl/query_task.go
  pkg/task/inspection/googlecloudlogk8saudit/contract/taskid.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/fieldextractor/fieldextractor.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/fieldextractor/k8s.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/fieldextractor/k8s_test.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/parser_v2.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/query.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/query_test.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/registration.go
  pkg/task/inspection/googlecloudlognetworkapiaudit/impl/query_task.go
  pkg/task/inspection/googlecloudlogserialport/impl/query_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

[chore :wrench:]Move pkg/source/gcp/query to gcp/core/inspection/gcpqueryutil
  pkg/core/inspection/gcpqueryutil/common.go
  pkg/core/inspection/gcpqueryutil/common_test.go
  pkg/core/inspection/gcpqueryutil/parallel.go
  pkg/core/inspection/gcpqueryutil/parallel_test.go
  pkg/core/inspection/gcpqueryutil/query_task.go
  pkg/core/inspection/gcpqueryutil/set_filter.go
  pkg/core/inspection/gcpqueryutil/set_filter_test.go
  pkg/task/inspection/googlecloudclustercomposer/impl/query_task.go
  pkg/task/inspection/googlecloudk8scommon/contract/taskid.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputkindfilter_task.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputkindfilter_task_test.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputnamespacefilter_task.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputnamespacefilter_task_test.go
  pkg/task/inspection/googlecloudlogcomputeapiaudit/impl/query_task.go
  pkg/task/inspection/googlecloudloggkeapiaudit/impl/query_task.go
  pkg/task/inspection/googlecloudloggkeautoscaler/impl/query.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/query.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/query_test.go
  pkg/task/inspection/googlecloudlogk8scontainer/contract/taskid.go
  pkg/task/inspection/googlecloudlogk8scontainer/impl/form_task.go
  pkg/task/inspection/googlecloudlogk8scontainer/impl/query_task.go
  pkg/task/inspection/googlecloudlogk8scontainer/impl/query_task_test.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/contract/taskid.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/form_task.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/query_task.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/query_task_test.go
  pkg/task/inspection/googlecloudlogk8sevent/impl/query_task.go
  pkg/task/inspection/googlecloudlogk8sevent/impl/query_task_test.go
  pkg/task/inspection/googlecloudlogk8snode/impl/query_task.go
  pkg/task/inspection/googlecloudlogmulticloudapiaudit/impl/query_task.go
  pkg/task/inspection/googlecloudlognetworkapiaudit/impl/query_task.go
  pkg/task/inspection/googlecloudlogonpremapiaudit/impl/query_task.go
  pkg/task/inspection/googlecloudlogserialport/impl/query_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

[chore :wrench:]Move OSS kubernetes specific tasks under ossclusterk8s
  cmd/kubernetes-history-inspector/main.go
  cmd/reference-generator/main.go
  pkg/source/oss/form/audit.go
  pkg/task/inspection/ossclusterk8s/contract/inspection-type.go
  pkg/task/inspection/ossclusterk8s/contract/taskid.go
  pkg/task/inspection/ossclusterk8s/impl/auditfilereader_task.go
  pkg/task/inspection/ossclusterk8s/impl/commonfieldsetreader.go
  pkg/task/inspection/ossclusterk8s/impl/eventauditlogfilter_task.go
  pkg/task/inspection/ossclusterk8s/impl/extractor.go
  pkg/task/inspection/ossclusterk8s/impl/inputauditlogfiles_task.go
  pkg/task/inspection/ossclusterk8s/impl/k8sauditlogparser_task.go
  pkg/task/inspection/ossclusterk8s/impl/k8sauditlogsource_task.go
  pkg/task/inspection/ossclusterk8s/impl/k8seventlogparser_task.go
  pkg/task/inspection/ossclusterk8s/impl/noneventauditlogfilter_task.go
  pkg/task/inspection/ossclusterk8s/impl/registration.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

[chore :wrench:]Move remaining misc files to follow the new package structure
  pkg/core/inspection/gcpqueryutil/fieldset.go
  pkg/core/inspection/gcpqueryutil/fieldset_test.go
  pkg/core/inspection/gcpqueryutil/parallel.go
  pkg/core/inspection/gcpqueryutil/query_task.go
  pkg/model/history/changeset_test.go
  pkg/task/inspection/commonlogk8saudit/impl/commonlogconvert_task_test.go
  pkg/task/inspection/commonlogk8saudit/impl/manifestgenerate_task_test.go
  pkg/task/inspection/commonlogk8saudit/impl/recorder/containerstatusrecorder/recorder_test.go
  pkg/task/inspection/commonlogk8saudit/impl/registration.go
  pkg/task/inspection/conformance_test.go
  pkg/task/inspection/googlecloudclustercomposer/impl/airflow-worker/parser_test.go
  pkg/task/inspection/googlecloudinspectiontypegroup/contract/inspection_type.go
  pkg/task/inspection/googlecloudk8scommon/impl/headersuggestedfilenme_task.go
  pkg/task/inspection/googlecloudlogcomputeapiaudit/impl/parser_task.go
  pkg/task/inspection/googlecloudlogcomputeapiaudit/impl/parser_task_test.go
  pkg/task/inspection/googlecloudloggkeapiaudit/impl/parser_task.go
  pkg/task/inspection/googlecloudloggkeapiaudit/impl/parser_task_test.go
  pkg/task/inspection/googlecloudloggkeautoscaler/impl/parser.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/parser_v2.go
  pkg/task/inspection/googlecloudlogk8scontainer/impl/parser_task.go
  pkg/task/inspection/googlecloudlogk8scontainer/impl/parser_task_test.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/componentparser/controllermanager_test.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/componentparser/scheduler_test.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/parser_task.go
  pkg/task/inspection/googlecloudlogk8sevent/impl/parser_task.go
  pkg/task/inspection/googlecloudlogk8snode/impl/parser_task.go
  pkg/task/inspection/googlecloudlogk8snode/impl/parser_task_test.go
  pkg/task/inspection/googlecloudlogmulticloudapiaudit/impl/parser_task.go
  pkg/task/inspection/googlecloudlognetworkapiaudit/impl/parser_task.go
  pkg/task/inspection/googlecloudlogonpremapiaudit/impl/parser_task.go
  pkg/task/inspection/googlecloudlogserialport/impl/parser_task.go
  pkg/task/inspection/googlecloudlogserialport/impl/parser_task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

[feat :sparkles:]Fixed order issue of feature tasks by changing the registration order of tasks
  pkg/core/inspection/legacyparser/parser.go
  pkg/core/inspection/runner.go
  pkg/core/inspection/server.go
  pkg/server/server_test.go
  pkg/task/inspection/commonlogk8saudit/impl/recorder/task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/parser_task.go
  pkg/task/inspection/googlecloudlogcomputeapiaudit/impl/parser_task.go
  pkg/task/inspection/googlecloudloggkeapiaudit/impl/parser_task.go
  pkg/task/inspection/googlecloudloggkeautoscaler/impl/parser.go
  pkg/task/inspection/googlecloudlogk8scontainer/impl/parser_task.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/parser_task.go
  pkg/task/inspection/googlecloudlogk8sevent/impl/parser_task.go
  pkg/task/inspection/googlecloudlogk8snode/impl/parser_task.go
  pkg/task/inspection/googlecloudlogmulticloudapiaudit/impl/parser_task.go
  pkg/task/inspection/googlecloudlognetworkapiaudit/impl/parser_task.go
  pkg/task/inspection/googlecloudlogonpremapiaudit/impl/parser_task.go
  pkg/task/inspection/googlecloudlogserialport/impl/parser_task.go
  pkg/task/inspection/inspectioncore/contract/tasklabel.go
  pkg/task/inspection/ossclusterk8s/impl/k8seventlogparser_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

[feat :sparkles:]Add scripts to generate automatic inspection task registration code on buildtime
  .gitignore
  cmd/kubernetes-history-inspector/main.go
  cmd/reference-generator/main.go
  pkg/generated/.gitkeep
  pkg/task/inspection/conformance_test.go
  pkg/testutil/inspection/conformance.go
  scripts/backend-codegen/inspectiontask.go
  scripts/backend-codegen/main.go
  scripts/backend-codegen/templates/inspection_registration.go.tpl
  scripts/make/build.mk
  scripts/make/codegen.mk
  scripts/make/testing.mk
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Update pkg/common/patternfinder/finder.go
  pkg/common/patternfinder/finder.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Remove Github Action manifest no longer used
  .github/workflows/deploy.yaml
Owners: @kyasbal

[feat :sparkles:]Add GraphResolver and several resolution rules and their tests
  pkg/core/task/graphresolver.go
  pkg/core/task/graphresolver_test.go
  pkg/core/task/task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

[refactor :sparkles:] Remove task resolution feature on TaskSet and used the new GraphResolver instead
  pkg/core/inspection/legacyparser/parser.go
  pkg/core/inspection/runner.go
  pkg/core/task/graphresolver.go
  pkg/core/task/graphresolver_test.go
  pkg/core/task/label.go
  pkg/core/task/taskset.go
  pkg/core/task/taskset_test.go
  pkg/core/task/test/testutil.go
  pkg/core/task/testutil.go
  pkg/document/model/feature.go
  pkg/server/server_test.go
  pkg/task/inspection/commonlogk8saudit/impl/recorder/task.go
  pkg/task/inspection/googlecloudk8scommon/impl/headersuggestedfilenme_task.go
  pkg/task/inspection/inspectioncore/contract/taskid.go
  pkg/task/inspection/inspectioncore/contract/tasklabel.go
  pkg/task/inspection/inspectioncore/impl/registration.go
  pkg/task/inspection/inspectioncore/impl/serializer.go
  pkg/testutil/inspection/conformance.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Add new task types replacing legacyparser eventually
  docs/en/khi-task-system-concept.md
  pkg/core/inspection/taskbase/fieldsetread_task.go
  pkg/core/inspection/taskbase/fieldsetread_task_test.go
  pkg/core/inspection/taskbase/historymodifier_task.go
  pkg/core/inspection/taskbase/historymodifier_task_test.go
  pkg/core/inspection/taskbase/logfilter_task.go
  pkg/core/inspection/taskbase/logfilter_task_test.go
  pkg/core/inspection/taskbase/loggroup_task.go
  pkg/core/inspection/taskbase/loggroup_task_test.go
  pkg/core/inspection/taskbase/task.go
  pkg/model/history/builder.go
  pkg/model/history/timeline_builder.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Show a snackbar message when VirtualScroller failed to scroll to find the scrolling target
  web/src/app/timeline/TimelineScrollStrategy.ts
Owners: @kyasbal, @renamoo, @jyane

Fix points in review comments
  web/src/app/timeline/TimelineScrollStrategy.ts
Owners: @kyasbal, @renamoo, @jyane

[bugfix :bug:] Fixed KHI not to send requests to a project during the user is writing project ID on the form
  pkg/core/inspection/formtask/textform.go
  pkg/core/inspection/formtask/textform_test.go
  pkg/core/inspection/metadata/form_metadata.go
  pkg/task/inspection/googlecloudcommon/impl/inputprojectid_task.go
  web/src/app/common/schema/form-types.ts
  web/src/app/dialogs/new-inspection/components/text-parameter.component.html
  web/src/app/dialogs/new-inspection/components/text-parameter.component.spec.ts
  web/src/app/dialogs/new-inspection/components/text-parameter.component.ts
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @renamoo

fixed failing backend tests
  pkg/server/server_test.go
  pkg/task/inspection/googlecloudcommon/impl/inputduration_task_test.go
  pkg/task/inspection/googlecloudcommon/impl/inputendtime_task_test.go
  pkg/task/inspection/googlecloudcommon/impl/inputlocation_task_test.go
  pkg/task/inspection/googlecloudcommon/impl/inputprojectid_task_test.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputclustername_task_test.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputkindfilter_task_test.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputnamespacefilter_task_test.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputnodename_task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Fix PR reviewed points
  pkg/core/inspection/formtask/textform.go
  pkg/core/inspection/formtask/textform_test.go
  pkg/core/inspection/metadata/form_metadata.go
  pkg/server/server_test.go
  pkg/task/inspection/googlecloudcommon/impl/inputduration_task_test.go
  pkg/task/inspection/googlecloudcommon/impl/inputendtime_task_test.go
  pkg/task/inspection/googlecloudcommon/impl/inputlocation_task_test.go
  pkg/task/inspection/googlecloudcommon/impl/inputprojectid_task.go
  pkg/task/inspection/googlecloudcommon/impl/inputprojectid_task_test.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputclustername_task_test.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputkindfilter_task_test.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputnamespacefilter_task_test.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputnodename_task_test.go
  web/src/app/common/schema/form-types.ts
  web/src/app/dialogs/new-inspection/components/text-parameter.component.spec.ts
  web/src/app/dialogs/new-inspection/components/text-parameter.component.ts
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @renamoo

fix bug #266: Fixed the grouper to check the manifest type for subresource response & request
  pkg/task/inspection/commonlogk8saudit/impl/recorder/commonrecorder/recorder.go
  pkg/task/inspection/commonlogk8saudit/impl/recorder/ownerreferencerecorder/recorder.go
  pkg/task/inspection/commonlogk8saudit/impl/timelinegrouping_task.go
  pkg/task/inspection/commonlogk8saudit/impl/timelinegrouping_task_test.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/fieldextractor/fieldextractor.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/fieldextractor/k8s.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/fieldextractor/k8s_test.go
  pkg/task/inspection/ossclusterk8s/impl/extractor.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Show ephemeralContainerStatus on the container subresource timeline under Pods
  pkg/task/inspection/commonlogk8saudit/impl/recorder/containerstatusrecorder/recorder.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Rename ChangeSet methods, changed its visibility and added many comments
  pkg/model/history/changeset.go
  pkg/model/history/changeset_test.go
  pkg/task/inspection/commonlogk8saudit/impl/recorder/bindingrecorder/recorder.go
  pkg/task/inspection/commonlogk8saudit/impl/recorder/commonrecorder/recorder.go
  pkg/task/inspection/commonlogk8saudit/impl/recorder/containerstatusrecorder/recorder.go
  pkg/task/inspection/commonlogk8saudit/impl/recorder/endpointslicerecorder/recorder.go
  pkg/task/inspection/commonlogk8saudit/impl/recorder/ownerreferencerecorder/recorder.go
  pkg/task/inspection/commonlogk8saudit/impl/recorder/statusrecorder/recorder.go
  pkg/task/inspection/googlecloudclustercomposer/impl/airflow-dag-processor-manager/parser.go
  pkg/task/inspection/googlecloudclustercomposer/impl/airflow-scheduler/parser.go
  pkg/task/inspection/googlecloudclustercomposer/impl/airflow-worker/parser.go
  pkg/task/inspection/googlecloudlogcomputeapiaudit/impl/parser_task.go
  pkg/task/inspection/googlecloudlogcomputeapiaudit/impl/parser_task_test.go
  pkg/task/inspection/googlecloudloggkeapiaudit/impl/parser_task.go
  pkg/task/inspection/googlecloudloggkeautoscaler/impl/parser.go
  pkg/task/inspection/googlecloudlogk8scontainer/impl/parser_task.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/componentparser/controllermanager.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/componentparser/default.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/componentparser/scheduler.go
  pkg/task/inspection/googlecloudlogk8sevent/impl/parser_task.go
  pkg/task/inspection/googlecloudlogk8sevent/impl/parser_task_test.go
  pkg/task/inspection/googlecloudlogk8snode/impl/parser_task.go
  pkg/task/inspection/googlecloudlogk8snode/impl/parser_task_test.go
  pkg/task/inspection/googlecloudlogmulticloudapiaudit/impl/parser_task.go
  pkg/task/inspection/googlecloudlognetworkapiaudit/impl/parser_task.go
  pkg/task/inspection/googlecloudlogonpremapiaudit/impl/parser_task.go
  pkg/task/inspection/googlecloudlogserialport/impl/parser_task.go
  pkg/task/inspection/googlecloudlogserialport/impl/parser_task_test.go
  pkg/task/inspection/ossclusterk8s/impl/k8seventlogparser_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Adding ChangeSet testing utilities
  pkg/model/history/test/changeset.go
  pkg/model/history/test/changeset_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Added new assertion functions for ChangeSet
  pkg/model/history/test/changeset.go
  pkg/model/history/test/changeset_test.go
  pkg/testutil/golden.go
  test/golden/TestAssertChangeSetMatchingBodyGoldensForResourcePath-test1
  test/golden/TestAssertChangeSetMatchingBodyGoldensForResourcePath-test2
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

fix bug #266: Fixed the grouper to check the manifest type for subresource response & request
  pkg/task/inspection/commonlogk8saudit/contract/auditlogparserinput.go
  pkg/task/inspection/commonlogk8saudit/impl/manifestgenerate_task.go
  pkg/task/inspection/commonlogk8saudit/impl/manifestgenerate_task_test.go
  pkg/task/inspection/commonlogk8saudit/impl/recorder/commonrecorder/recorder.go
  pkg/task/inspection/commonlogk8saudit/impl/recorder/ownerreferencerecorder/recorder.go
  pkg/task/inspection/commonlogk8saudit/impl/timelinegrouping_task.go
  pkg/task/inspection/commonlogk8saudit/impl/timelinegrouping_task_test.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/fieldextractor/fieldextractor.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/fieldextractor/k8s.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/fieldextractor/k8s_test.go
  pkg/task/inspection/ossclusterk8s/impl/extractor.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Changed processing order in commonlogk8saudit recorder tasks
  pkg/model/history/resourcepath/type.go
  pkg/model/history/resourcepath/type_test.go
  pkg/task/inspection/commonlogk8saudit/impl/manifestgenerate_task.go
  pkg/task/inspection/commonlogk8saudit/impl/recorder/task.go
  pkg/task/inspection/commonlogk8saudit/impl/recorder/task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama
