Repository GoogleCloudPlatform/khi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

.github/CODEOWNERS:

# Github Actions
.github/ @kyasbal
.cloudbuild/ @kyasbal

# Golang related files
cmd/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima
pkg/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima
test/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima

# Web front related files
web/ @kyasbal @renamoo @jyane

Add new task types replacing legacyparser eventually
  docs/en/khi-task-system-concept.md
  pkg/core/inspection/taskbase/fieldsetread_task.go
  pkg/core/inspection/taskbase/fieldsetread_task_test.go
  pkg/core/inspection/taskbase/historymodifier_task.go
  pkg/core/inspection/taskbase/historymodifier_task_test.go
  pkg/core/inspection/taskbase/logfilter_task.go
  pkg/core/inspection/taskbase/logfilter_task_test.go
  pkg/core/inspection/taskbase/loggroup_task.go
  pkg/core/inspection/taskbase/loggroup_task_test.go
  pkg/core/inspection/taskbase/task.go
  pkg/model/history/builder.go
  pkg/model/history/timeline_builder.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Fixed the discrepancy of test error message and the renamed methods
  pkg/model/history/changeset_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix bug #266: Fixed the grouper to check the manifest type for subresource response & request
  pkg/task/inspection/commonlogk8saudit/contract/auditlogparserinput.go
  pkg/task/inspection/commonlogk8saudit/impl/manifestgenerate_task.go
  pkg/task/inspection/commonlogk8saudit/impl/manifestgenerate_task_test.go
  pkg/task/inspection/commonlogk8saudit/impl/timelinegrouping_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Changed processing order in commonlogk8saudit recorder tasks
  pkg/model/history/resourcepath/type.go
  pkg/model/history/resourcepath/type_test.go
  pkg/task/inspection/commonlogk8saudit/impl/manifestgenerate_task.go
  pkg/task/inspection/commonlogk8saudit/impl/recorder/task.go
  pkg/task/inspection/commonlogk8saudit/impl/recorder/task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Changed processing order in commonlogk8saudit recorder tasks
  pkg/model/history/resourcepath/type.go
  pkg/model/history/resourcepath/type_test.go
  pkg/task/inspection/commonlogk8saudit/impl/manifestgenerate_task.go
  pkg/task/inspection/commonlogk8saudit/impl/recorder/task.go
  pkg/task/inspection/commonlogk8saudit/impl/recorder/task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix bug to keep old form parameter values on new inspection dialog
  web/src/app/dialogs/new-inspection/new-inspection.component.html
  web/src/app/dialogs/new-inspection/new-inspection.component.scss
  web/src/app/dialogs/new-inspection/new-inspection.component.ts
Owners: @kyasbal, @renamoo, @jyane

fix test failure from #263
  pkg/core/inspection/taskbase/historymodifier_task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Use the default string for the default value of prevRevisionBody and prevResourceUID
  pkg/task/inspection/commonlogk8saudit/impl/manifestgenerate_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix test failure from #263 (#283)
  pkg/core/inspection/taskbase/historymodifier_task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix bug #267: manifest generator to be aware of uid change (#272)
  pkg/task/inspection/commonlogk8saudit/contract/auditlogparserinput.go
  pkg/task/inspection/commonlogk8saudit/impl/manifestgenerate_task.go
  pkg/task/inspection/commonlogk8saudit/impl/manifestgenerate_task_test.go
  pkg/task/inspection/commonlogk8saudit/impl/timelinegrouping_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Add new task types replacing legacyparser eventually (#263)
  docs/en/khi-task-system-concept.md
  pkg/core/inspection/taskbase/fieldsetread_task.go
  pkg/core/inspection/taskbase/fieldsetread_task_test.go
  pkg/core/inspection/taskbase/historymodifier_task.go
  pkg/core/inspection/taskbase/historymodifier_task_test.go
  pkg/core/inspection/taskbase/logfilter_task.go
  pkg/core/inspection/taskbase/logfilter_task_test.go
  pkg/core/inspection/taskbase/loggroup_task.go
  pkg/core/inspection/taskbase/loggroup_task_test.go
  pkg/core/inspection/taskbase/task.go
  pkg/model/history/builder.go
  pkg/model/history/timeline_builder.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix bug to keep old form parameter values on new inspection dialog (#282)
  web/src/app/dialogs/new-inspection/new-inspection.component.html
  web/src/app/dialogs/new-inspection/new-inspection.component.scss
  web/src/app/dialogs/new-inspection/new-inspection.component.ts
Owners: @kyasbal, @renamoo, @jyane

fix #274. Delete subresource on parent resource deletion
  pkg/model/log/log.go
  pkg/task/inspection/commonlogk8saudit/impl/recorder/commonrecorder/recorder.go
  pkg/task/inspection/commonlogk8saudit/impl/recorder/recorderutil/deletionhandler.go
  pkg/task/inspection/commonlogk8saudit/impl/recorder/recorderutil/deletionhandler_test.go
  pkg/task/inspection/commonlogk8saudit/impl/recorder/task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Define RecorderRequest type to consolidate function arguments in RecoderFunc
  pkg/task/inspection/commonlogk8saudit/impl/recorder/bindingrecorder/recorder.go
  pkg/task/inspection/commonlogk8saudit/impl/recorder/commonrecorder/recorder.go
  pkg/task/inspection/commonlogk8saudit/impl/recorder/containerstatusrecorder/recorder.go
  pkg/task/inspection/commonlogk8saudit/impl/recorder/endpointslicerecorder/recorder.go
  pkg/task/inspection/commonlogk8saudit/impl/recorder/noderecorder/recorder.go
  pkg/task/inspection/commonlogk8saudit/impl/recorder/ownerreferencerecorder/recorder.go
  pkg/task/inspection/commonlogk8saudit/impl/recorder/snegrecorder/recorder.go
  pkg/task/inspection/commonlogk8saudit/impl/recorder/statusrecorder/recorder.go
  pkg/task/inspection/commonlogk8saudit/impl/recorder/task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Add TimelineBuilder utility function to retrieve a revision
  pkg/model/history/builder.go
  pkg/model/history/changeset.go
  pkg/model/history/timeline_builder.go
  pkg/model/history/timeline_builder_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Merge main into fix/issue-274 (#284)
  docs/en/khi-task-system-concept.md
  pkg/core/inspection/taskbase/fieldsetread_task.go
  pkg/core/inspection/taskbase/fieldsetread_task_test.go
  pkg/core/inspection/taskbase/historymodifier_task.go
  pkg/core/inspection/taskbase/historymodifier_task_test.go
  pkg/core/inspection/taskbase/logfilter_task.go
  pkg/core/inspection/taskbase/logfilter_task_test.go
  pkg/core/inspection/taskbase/loggroup_task.go
  pkg/core/inspection/taskbase/loggroup_task_test.go
  pkg/core/inspection/taskbase/task.go
  pkg/model/history/builder.go
  pkg/model/history/timeline_builder.go
  pkg/task/inspection/commonlogk8saudit/contract/auditlogparserinput.go
  pkg/task/inspection/commonlogk8saudit/impl/manifestgenerate_task.go
  pkg/task/inspection/commonlogk8saudit/impl/manifestgenerate_task_test.go
  pkg/task/inspection/commonlogk8saudit/impl/timelinegrouping_task.go
  web/src/app/dialogs/new-inspection/new-inspection.component.html
  web/src/app/dialogs/new-inspection/new-inspection.component.scss
  web/src/app/dialogs/new-inspection/new-inspection.component.ts
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

fix issues pointed by gemini-code-review
  pkg/model/history/resourcepath/type.go
  pkg/task/inspection/commonlogk8saudit/impl/manifestgenerate_task.go
  pkg/task/inspection/commonlogk8saudit/impl/recorder/task.go
  pkg/task/inspection/commonlogk8saudit/impl/recorder/task_test.go
  pkg/task/inspection/commonlogk8saudit/impl/timelinegrouping_task.go
  pkg/task/inspection/commonlogk8saudit/impl/timelinegrouping_task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

feat(api): introduce v2 client factory
  go.mod
  go.sum
  pkg/api/googlecloudv2/clientfactory.go
  pkg/api/googlecloudv2/clientfactory_test.go
  pkg/api/googlecloudv2/options/clientfactoryoptions.go
  pkg/api/googlecloudv2/options/clientfactoryoptions_test.go
  pkg/api/googlecloudv2/resourcecontainer.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix problems pointed by gemini-code-assist
  pkg/api/googlecloudv2/clientfactory.go
  pkg/api/googlecloudv2/options/clientfactoryoptions.go
  pkg/api/googlecloudv2/resourcecontainer.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

[fix#285 2/N] feat(api): added oauth server implementation for client v2
  pkg/api/googlecloudv2/oauth/oauthserver.go
  pkg/api/googlecloudv2/oauth/oauthserver_test.go
  pkg/api/googlecloudv2/options/clientfactoryoptions.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Fix issues pointed out by gemini-code-assist
  pkg/api/googlecloudv2/oauth/oauthserver.go
  pkg/api/googlecloudv2/oauth/oauthserver_test.go
  pkg/api/googlecloudv2/options/clientfactoryoptions_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

feat(server): Add ServerFactory type to configure the gin.Engine instance easier in the initialization phase
  cmd/kubernetes-history-inspector/main.go
  pkg/server/option/option.go
  pkg/server/option/option_test.go
  pkg/server/server.go
  pkg/server/server_test.go
  pkg/server/serverfactory.go
  pkg/server/serverfactory_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix points pointed out by gemini-code-review
  cmd/kubernetes-history-inspector/main.go
  pkg/server/option/option.go
  pkg/server/serverfactory.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

[fix#285 1/N] feat(api): introduce v2 client factory (#286)
  go.mod
  go.sum
  pkg/api/googlecloudv2/clientfactory.go
  pkg/api/googlecloudv2/clientfactory_test.go
  pkg/api/googlecloudv2/options/clientfactoryoptions.go
  pkg/api/googlecloudv2/options/clientfactoryoptions_test.go
  pkg/api/googlecloudv2/resourcecontainer.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Rename inspectiontaskbase.PreviousTaskResult to CachableTaskResult
  pkg/core/inspection/taskbase/cached_task.go
  pkg/core/inspection/taskbase/cached_task_test.go
  pkg/task/inspection/googlecloudclustercomposer/impl/autocompletecomposerclusternames_task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/autocompletecomposerenvironmentnames_task.go
  pkg/task/inspection/googlecloudclustergdcbaremetal/impl/autocompletegdcvforbaremetalclusternames_task.go
  pkg/task/inspection/googlecloudclustergdcvmware/impl/autocompletegdcvforvmwareclusternames_task.go
  pkg/task/inspection/googlecloudclustergke/impl/autocompletegkeclusternames_task.go
  pkg/task/inspection/googlecloudclustergkeonaws/impl/autocomplete.go
  pkg/task/inspection/googlecloudclustergkeonazure/impl/autocomplete.go
  pkg/task/inspection/googlecloudcommon/impl/autocompletelocation_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Fix typo on #290
  pkg/core/inspection/taskbase/cached_task.go
  pkg/core/inspection/taskbase/cached_task_test.go
  pkg/task/inspection/googlecloudclustercomposer/impl/autocompletecomposerclusternames_task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/autocompletecomposerenvironmentnames_task.go
  pkg/task/inspection/googlecloudclustergdcbaremetal/impl/autocompletegdcvforbaremetalclusternames_task.go
  pkg/task/inspection/googlecloudclustergdcvmware/impl/autocompletegdcvforvmwareclusternames_task.go
  pkg/task/inspection/googlecloudclustergke/impl/autocompletegkeclusternames_task.go
  pkg/task/inspection/googlecloudclustergkeonaws/impl/autocomplete.go
  pkg/task/inspection/googlecloudclustergkeonazure/impl/autocomplete.go
  pkg/task/inspection/googlecloudcommon/impl/autocompletelocation_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Merge #290 related changes from main to epic/issue-285-client-v2 (#293)
  pkg/core/inspection/taskbase/cached_task.go
  pkg/core/inspection/taskbase/cached_task_test.go
  pkg/task/inspection/googlecloudclustercomposer/impl/autocompletecomposerclusternames_task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/autocompletecomposerenvironmentnames_task.go
  pkg/task/inspection/googlecloudclustergdcbaremetal/impl/autocompletegdcvforbaremetalclusternames_task.go
  pkg/task/inspection/googlecloudclustergdcvmware/impl/autocompletegdcvforvmwareclusternames_task.go
  pkg/task/inspection/googlecloudclustergke/impl/autocompletegkeclusternames_task.go
  pkg/task/inspection/googlecloudclustergkeonaws/impl/autocomplete.go
  pkg/task/inspection/googlecloudclustergkeonazure/impl/autocomplete.go
  pkg/task/inspection/googlecloudcommon/impl/autocompletelocation_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

[fix#285 2/N] feat(api): added oauth server implementation for client v2
  pkg/api/googlecloudv2/oauth/oauthserver.go
  pkg/api/googlecloudv2/oauth/oauthserver_test.go
  pkg/api/googlecloudv2/options/clientfactoryoptions.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Fix issues pointed out by gemini-code-assist
  pkg/api/googlecloudv2/oauth/oauthserver.go
  pkg/api/googlecloudv2/oauth/oauthserver_test.go
  pkg/api/googlecloudv2/options/clientfactoryoptions_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

[fix #285 3/N] feat(api): Implement converter function from the log client to KHI's log type
  pkg/api/googlecloudv2/logconvert/logconvert.go
  pkg/api/googlecloudv2/logconvert/logconvert_test.go
  pkg/api/googlecloudv2/logconvert/protoimport.go
  pkg/common/structured/standard.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fixed issues pointed by gemini-code-assist
  pkg/api/googlecloudv2/logconvert/logconvert.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

[feat #285 4/N] Add google cloud common task injecting Google Cloud API client
  pkg/task/inspection/googlecloudcommon/contract/selectionpriority.go
  pkg/task/inspection/googlecloudcommon/contract/taskid.go
  pkg/task/inspection/googlecloudcommon/impl/apiclientfactory_task.go
  pkg/task/inspection/googlecloudcommon/impl/apiclientfactory_task_test.go
  pkg/task/inspection/googlecloudcommon/impl/apiclientfactoryoptions_task.go
  pkg/task/inspection/googlecloudcommon/impl/registration.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

[feat #285 5-1/N] Replace API client to v2 for GKE cluster name auto completion
  pkg/task/inspection/googlecloudclustergke/contract/gkeclusterlistfetcher.go
  pkg/task/inspection/googlecloudclustergke/contract/gkeclusterlistfetcher_test.go
  pkg/task/inspection/googlecloudclustergke/contract/taskid.go
  pkg/task/inspection/googlecloudclustergke/impl/autocompletegkeclusternames_task.go
  pkg/task/inspection/googlecloudclustergke/impl/autocompletegkeclusternames_task_test.go
  pkg/task/inspection/googlecloudclustergke/impl/inject_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

[feat #285 5-2/N] Replace API client to v2 for CloudComposer cluster name auto completion
  pkg/task/inspection/googlecloudclustercomposer/contract/environmentclusterfinder.go
  pkg/task/inspection/googlecloudclustercomposer/contract/environmentlistfetcher.go
  pkg/task/inspection/googlecloudclustercomposer/contract/environmentlistfetcher_test.go
  pkg/task/inspection/googlecloudclustercomposer/contract/taskid.go
  pkg/task/inspection/googlecloudclustercomposer/impl/autocompletecomposerclusternames_task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/autocompletecomposerclusternames_task_test.go
  pkg/task/inspection/googlecloudclustercomposer/impl/autocompletecomposerenvironmentnames_task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/autocompletecomposerenvironmentnames_task_test.go
  pkg/task/inspection/googlecloudclustercomposer/impl/inject_task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/registration.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

[feat #285 5-3/N] Replace API client to v2 for GDC Baremetal cluster name auto completion
  pkg/task/inspection/googlecloudclustergdcbaremetal/contract/clusterlistfetcher.go
  pkg/task/inspection/googlecloudclustergdcbaremetal/contract/clusterlistfetcher_test.go
  pkg/task/inspection/googlecloudclustergdcbaremetal/contract/taskid.go
  pkg/task/inspection/googlecloudclustergdcbaremetal/impl/autocompletegdcvforbaremetalclusternames_task.go
  pkg/task/inspection/googlecloudclustergdcbaremetal/impl/autocompletegdcvforbaremetalclusternames_task_test.go
  pkg/task/inspection/googlecloudclustergdcbaremetal/impl/inject_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

[feat #285 5-4/N] Replace API client to v2 for GDC VMWare cluster name auto completion
  pkg/task/inspection/googlecloudclustergdcvmware/contract/clusterlistfetcher.go
  pkg/task/inspection/googlecloudclustergdcvmware/contract/clusterlistfetcher_test.go
  pkg/task/inspection/googlecloudclustergdcvmware/contract/taskid.go
  pkg/task/inspection/googlecloudclustergdcvmware/impl/autocompletegdcvforvmwareclusternames_task.go
  pkg/task/inspection/googlecloudclustergdcvmware/impl/autocompletegdcvforvmwareclusternames_task_test.go
  pkg/task/inspection/googlecloudclustergdcvmware/impl/inject_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

[feat #285 5-5/N] Replace API client to v2 for GKE on AWS cluster name auto completion
  pkg/task/inspection/googlecloudclustergkeonaws/contract/clusterlistfetcher.go
  pkg/task/inspection/googlecloudclustergkeonaws/contract/clusterlistfetcher_test.go
  pkg/task/inspection/googlecloudclustergkeonaws/contract/taskid.go
  pkg/task/inspection/googlecloudclustergkeonaws/impl/autocomplete.go
  pkg/task/inspection/googlecloudclustergkeonaws/impl/autocomplete_test.go
  pkg/task/inspection/googlecloudclustergkeonaws/impl/inject_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

[feat #285 5-6/N] Replace API client to v2 for GKE on Azure cluster name auto completion
  pkg/task/inspection/googlecloudclustergkeonazure/contract/clusterlistfetcher.go
  pkg/task/inspection/googlecloudclustergkeonazure/contract/clusterlistfetcher_test.go
  pkg/task/inspection/googlecloudclustergkeonazure/contract/taskid.go
  pkg/task/inspection/googlecloudclustergkeonazure/impl/autocomplete.go
  pkg/task/inspection/googlecloudclustergkeonazure/impl/autocomplete_test.go
  pkg/task/inspection/googlecloudclustergkeonazure/impl/inject_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fixed issues pointed out by gemini-code-assist
  pkg/task/inspection/googlecloudcommon/contract/taskid.go
  pkg/task/inspection/googlecloudcommon/impl/apiclientfactory_task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

[feat #285 5-7-1/N] Adding a progress reportable log client with the v2 API client
  pkg/core/inspection/gcpqueryutil/logfetcher.go
  pkg/core/inspection/gcpqueryutil/logfetcher_test.go
  pkg/core/inspection/gcpqueryutil/progressreportablelogfetcher.go
  pkg/core/inspection/gcpqueryutil/progressreportablelogfetcher_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima
