Repository GoogleCloudPlatform/khi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

fixed bugs on scroll
  web/src/app/timeline/components/calculator/vertical-scroll-calculator.ts
  web/src/app/timeline/components/timeline-frame.component.ts
Owners: @kyasbal, @renamoo, @jyane

fix minor style issues
  web/src/app/timeline/components/timeline-frame.component.scss
  web/src/app/timeline/components/timeline-hover-overlay.component.scss
Owners: @kyasbal, @renamoo, @jyane

fix word wrapping style for hover container texts
  web/src/app/timeline/components/timeline-frame.component.scss
  web/src/app/timeline/components/timeline-hover-overlay.component.html
  web/src/app/timeline/components/timeline-hover-overlay.component.scss
Owners: @kyasbal, @renamoo, @jyane

fix: The ruler canvas didn't clear the entire canvas when devicePixelRatio < 1
  web/src/app/timeline/components/canvas/timeline-background-renderer.ts
  web/src/app/timeline/components/canvas/timeline-ruler-renderer.ts
  web/src/app/timeline/components/timeline-chart.component.ts
  web/src/app/timeline/components/timeline-ruler.component.ts
Owners: @kyasbal, @renamoo, @jyane

Disabled in-browser search to prevent misleading search result
  web/src/app/header/regex-input.component.html
  web/src/app/header/regex-input.component.ts
  web/src/app/header/toolbar.component.html
  web/src/app/header/toolbar.component.ts
Owners: @kyasbal, @renamoo, @jyane

Updated hint text for timeline type and show them on legends
  pkg/model/enum/parent_relationship.go
  web/src/app/timeline/components/timeline-index.component.html
  web/src/app/timeline/components/timeline-legend.component.html
  web/src/app/timeline/components/timeline-legend.component.scss
  web/src/app/timeline/components/timeline-legend.component.ts
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

Apply suggestions from code review
  pkg/model/enum/parent_relationship.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Update web/src/app/header/toolbar.component.ts
  web/src/app/header/toolbar.component.ts
Owners: @kyasbal, @renamoo, @jyane

fix the access level issue for a method
  web/src/app/header/toolbar.component.ts
Owners: @kyasbal, @renamoo, @jyane

Fix the code format after accepting gemini's sugestion
  pkg/model/enum/parent_relationship.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Making KHI frontend works without internet access
  web/package-lock.json
  web/package.json
  web/src/index.html
  web/src/styles.scss
Owners: @kyasbal, @renamoo, @jyane

Make storybook works offline
  web/.storybook/preview-head.html
Owners: @kyasbal, @renamoo, @jyane

Added named target for CI
  .cloudbuild/github-deploy-beta.yaml
  .cloudbuild/github-deploy-latest.yaml
  .cloudbuild/github-deploy-ondemand.yaml
  .github/workflows/pullrequest.yaml
  scripts/make/codegen.mk
Owners: @kyasbal

msdf-generator depends on GLib2.38, changing build image to trixie
  .cloudbuild/github-deploy-ondemand.yaml
  Makefile
  scripts/make/codegen.mk
Owners: @kyasbal

Changed builder image version to use trixie(Debian 13)
  .cloudbuild/github-deploy-beta.yaml
  .cloudbuild/github-deploy-latest.yaml
Owners: @kyasbal

fix the undefined variable issue on the Makefile
  Makefile
Owners: none

removed redundant comment block
  pkg/model/enum/parent_relationship.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Fixed dpr issue happened on background canvas renderer
  web/src/app/timeline/components/canvas/timeline-background-renderer.ts
Owners: @kyasbal, @renamoo, @jyane

Cleaned up dependency graph in Makefile
  pkg/model/enum/parent_relationship.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

removed redundant comment block
  pkg/model/enum/parent_relationship.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix unused comment
  pkg/task/inspection/googlecloudloggkeapiaudit/impl/query_task.go
  pkg/task/inspection/googlecloudlogmulticloudapiaudit/impl/query_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Fix suggested by gemini and make location field used in default value
  pkg/api/googlecloud/monitoring_util.go
  pkg/task/inspection/googlecloudcommon/impl/inputlocation_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix minor styles and fonts
  web/package-lock.json
  web/package.json
  web/src/app/annotator/common-field-annotator.component.html
  web/src/app/annotator/common-field-annotator.component.scss
  web/src/app/annotator/common-toolbar-button.component.scss
  web/src/app/annotator/log/default.ts
  web/src/app/annotator/log/resource-reference-list.component.scss
  web/src/app/annotator/log/type-severity-annotator.component.html
  web/src/app/annotator/log/type-severity-annotator.component.scss
  web/src/app/annotator/log/type-severity-annotator.component.ts
  web/src/app/diff/diff-view.component.html
  web/src/app/diff/diff-view.component.scss
  web/src/app/diff/diff-view.component.ts
  web/src/app/log/body.component.scss
  web/src/app/log/log-view-log-line.component.scss
  web/src/app/log/log-view.component.html
  web/src/app/log/log-view.component.scss
  web/src/app/log/log-view.component.ts
  web/src/app/timeline/components/timeline-corner-indicator.component.scss
  web/src/app/timeline/components/timeline-frame.component.scss
  web/src/app/timeline/components/timeline-index.component.scss
  web/src/styles.scss
Owners: @kyasbal, @renamoo, @jyane

fix failed tests
  pkg/task/inspection/googlecloudcommon/impl/inputlocation_task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Removed unused property
  web/src/app/diff/diff-view.component.ts
Owners: @kyasbal, @renamoo, @jyane

Added new feature to hide `labels.managedFields` in diff view
  pkg/common/structured/serializer.go
  web/src/app/annotator/change-pair-tool/default.ts
  web/src/app/annotator/change-pair-tool/resolver.ts
  web/src/app/annotator/change-pair/default.ts
  web/src/app/diff/components/diff-toolbar.component.html
  web/src/app/diff/components/diff-toolbar.component.scss
  web/src/app/diff/components/diff-toolbar.component.ts
  web/src/app/diff/components/diff-toolbar.stories.ts
  web/src/app/diff/diff-view.component.html
  web/src/app/diff/diff-view.component.scss
  web/src/app/diff/diff-view.component.spec.ts
  web/src/app/diff/diff-view.component.ts
  web/src/app/pages/diff/diff.component.html
  web/src/app/pages/diff/diff.component.spec.ts
  web/src/app/pages/diff/diff.component.ts
  web/src/app/root.module.ts
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

fixed indents in test files
  pkg/common/structured/merger_test.go
  pkg/common/structured/serializer_test.go
  pkg/common/structured/standard_test.go
  pkg/task/inspection/commonlogk8sauditv2/impl/containermapper_task_test.go
  pkg/task/inspection/commonlogk8sauditv2/impl/endpointmapper_task_test.go
  pkg/task/inspection/commonlogk8sauditv2/impl/manifest_generator_task_test.go
  pkg/task/inspection/googlecloudloggkeapiaudit/impl/parser_tasks_test.go
  pkg/task/inspection/googlecloudlogmulticloudapiaudit/impl/parser_tasks_test.go
  pkg/task/inspection/googlecloudlogonpremapiaudit/impl/parser_tasks_test.go
  pkg/testutil/testlog/field_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fixed issue pointed by gemini
  web/src/app/diff/diff-view.component.ts
  web/src/app/pages/diff/diff.component.ts
Owners: @kyasbal, @renamoo, @jyane

fix suggested by gemini
  pkg/api/googlecloud/monitoring_util.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/query_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Fixed moire on stripe shapes when timeline spans really long time
  web/src/app/timeline/components/misc/demo-builder.ts
  web/src/app/timeline/components/timeline-chart.stories.ts
  web/src/assets/revision-v2.vertex.glsl
Owners: @kyasbal, @renamoo, @jyane

fixed issue pointed by gemini
  web/src/assets/revision-v2.vertex.glsl
Owners: @kyasbal, @renamoo, @jyane

fixed autocomplete bug by the location field introduce
  pkg/task/inspection/googlecloudcommon/impl/inputlocation_task.go
  pkg/task/inspection/googlecloudk8scommon/contract/cluster.go
  pkg/task/inspection/googlecloudk8scommon/impl/autocomplete.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputclustername_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fixed failing tests
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/query_task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Fixed date line was placed on wrong time and stylesheet for the time
  web/src/app/timeline/components/timeline-ruler.component.scss
  web/src/app/timeline/components/timeline-ruler.component.ts
  web/src/app/timeline/components/timeline-ruler.stories.ts
Owners: @kyasbal, @renamoo, @jyane

Make location field required
  pkg/task/inspection/googlecloudcommon/impl/inputlocation_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Fix bugs on container log parser
  pkg/task/inspection/commonlogk8sauditv2/impl/containermapper_task.go
  pkg/task/inspection/commonlogk8sauditv2/impl/containermapper_task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix the issue pointed by gemini-code-assist
  pkg/task/inspection/commonlogk8sauditv2/impl/containermapper_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Removed the behavior to focus the log search box on hitting ctrl+F or cmd+F
  web/src/app/header/toolbar.component.ts
Owners: @kyasbal, @renamoo, @jyane

Refactor diff-view to use signals
  web/src/app/diff/diff-view.component.html
  web/src/app/diff/diff-view.component.ts
Owners: @kyasbal, @renamoo, @jyane

fix log view bugs
  web/src/app/log/log-view.component.html
  web/src/app/log/log-view.component.ts
  web/src/app/services/selection-manager.service.ts
Owners: @kyasbal, @renamoo, @jyane

.github/CODEOWNERS:

# Github Actions
.github/ @kyasbal
.cloudbuild/ @kyasbal

# Golang related files
cmd/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima
pkg/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima
test/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima

# Web front related files
web/ @kyasbal @renamoo @jyane
