Repository GoogleCloudPlatform/khi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

feat(web): migrate layout system to Golden Layout
  web/package-lock.json
  web/package.json
  web/src/app/pages/main/main.component.html
  web/src/app/pages/main/main.component.scss
  web/src/app/pages/main/main.component.ts
  web/src/app/services/layout/layout.service.ts
  web/src/golden-layout-khi-theme.scss
  web/src/styles.scss
Owners: @kyasbal, @renamoo, @jyane

fixed issues pointed by gemini code assist
  web/src/app/pages/main/main.component.ts
  web/src/app/services/layout/layout.service.ts
  web/src/golden-layout-khi-theme.scss
Owners: @kyasbal, @renamoo, @jyane

Removed unused variables on scss
  web/src/golden-layout-khi-theme.scss
Owners: @kyasbal, @renamoo, @jyane

Added tab icons
  web/src/app/services/layout/layout.service.ts
  web/src/golden-layout-khi-theme.scss
Owners: @kyasbal, @renamoo, @jyane

chore(reference-generator): remove reference generator and related files
  cmd/reference-generator/main.go
  docs/en/reference/features.md
  docs/en/reference/forms.md
  docs/en/reference/inspection-type.md
  docs/en/reference/relationships.md
  docs/template/reference/feature.template.md
  docs/template/reference/form.template.md
  docs/template/reference/inspection-type.template.md
  docs/template/reference/relationship.template.md
  pkg/document/generator/generator.go
  pkg/document/generator/generator_test.go
  pkg/document/generator/splitter.go
  pkg/document/generator/spltter_test.go
  pkg/document/generator/util.go
  pkg/document/generator/util_test.go
  pkg/document/model/feature.go
  pkg/document/model/form.go
  pkg/document/model/inspection_type.go
  pkg/document/model/relationship.go
  pkg/model/enum/parent_relationship.go
  pkg/model/enum/parent_relationship_test.go
  scripts/make/codegen.mk
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

chore(agents): remove run_command constraints, update tool_names, and add PR drafter skill
  .agents/rules/angular-coding-rule.md
  .agents/rules/go-coding-rule.md
  .agents/rules/markdown-coding-rule.md
  .agents/skills/pull-request-drafter/SKILL.md
Owners: none

chore: remove unnecessary fallback comment in LayoutService
  web/src/app/services/layout/layout.service.ts
Owners: @kyasbal, @renamoo, @jyane

feat(inspection): migrate inspection tasks to label-based registration system
  pkg/task/inspection/googlecloudclustercomposer/contract/inspection_type.go
  pkg/task/inspection/googlecloudclustercomposer/impl/prefix.go
  pkg/task/inspection/googlecloudclustercomposer/impl/registration.go
  pkg/task/inspection/googlecloudclustergdcbaremetal/contract/inspectiontype.go
  pkg/task/inspection/googlecloudclustergdcbaremetal/impl/gdcvforbaremetalclusternameprefix_task.go
  pkg/task/inspection/googlecloudclustergdcbaremetal/impl/registration.go
  pkg/task/inspection/googlecloudclustergdcvmware/contract/inspectiontype.go
  pkg/task/inspection/googlecloudclustergdcvmware/impl/gdcvforvmwareclusternameprefix_task.go
  pkg/task/inspection/googlecloudclustergdcvmware/impl/registration.go
  pkg/task/inspection/googlecloudclustergke/contract/inspectiontype.go
  pkg/task/inspection/googlecloudclustergke/impl/autocomplete.go
  pkg/task/inspection/googlecloudclustergke/impl/gkeclusternameprefix_task.go
  pkg/task/inspection/googlecloudclustergke/impl/registration.go
  pkg/task/inspection/googlecloudclustergkeonaws/contract/inspection_type.go
  pkg/task/inspection/googlecloudclustergkeonaws/impl/prefix.go
  pkg/task/inspection/googlecloudclustergkeonaws/impl/registration.go
  pkg/task/inspection/googlecloudclustergkeonazure/contract/inspection_type.go
  pkg/task/inspection/googlecloudclustergkeonazure/impl/prefix.go
  pkg/task/inspection/googlecloudclustergkeonazure/impl/registration.go
  pkg/task/inspection/googlecloudcommon/contract/tasklabel.go
  pkg/task/inspection/googlecloudinspectiontypegroup/contract/inspection_type.go
  pkg/task/inspection/inspectioncore/contract/tasklabel.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Apply suggestions from code review
  pkg/task/inspection/googlecloudclustercomposer/contract/inspection_type.go
  pkg/task/inspection/googlecloudclustergke/contract/inspectiontype.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Implements dockable window with GoldenLayout (#575)
  web/package-lock.json
  web/package.json
  web/src/app/pages/main/main.component.html
  web/src/app/pages/main/main.component.scss
  web/src/app/pages/main/main.component.ts
  web/src/app/services/layout/layout.service.ts
  web/src/golden-layout-khi-theme.scss
  web/src/styles.scss
Owners: @kyasbal, @renamoo, @jyane

feat(web): add menu manager service and update layout service (#592)
  web/src/app/pages/main/main.component.spec.ts
  web/src/app/services/layout/layout.service.ts
  web/src/app/services/menu/menu-manager.service.spec.ts
  web/src/app/services/menu/menu-manager.service.ts
Owners: @kyasbal, @renamoo, @jyane

feat(web): migrate BackendConnectionService to BackendSyncService (#594)
  web/src/app/dialogs/new-inspection/new-inspection.component.html
  web/src/app/dialogs/new-inspection/new-inspection.component.spec.ts
  web/src/app/dialogs/new-inspection/new-inspection.component.ts
  web/src/app/dialogs/startup/startup.component.html
  web/src/app/dialogs/startup/startup.component.spec.ts
  web/src/app/dialogs/startup/startup.component.ts
  web/src/app/pages/graph/graph.component.spec.ts
  web/src/app/pages/main/main.component.spec.ts
  web/src/app/services/api/backend-connection.service.ts
  web/src/app/services/api/backend-sync-interface.ts
  web/src/app/services/api/backend-sync.service.spec.ts
  web/src/app/services/api/backend-sync.service.ts
  web/src/app/services/menu/menu-manager.service.ts
  web/src/main.ts
Owners: @kyasbal, @renamoo, @jyane

feat(web): implement new titlebar (HeaderV2) (#595)
  web/src/app/headerv2/components/header-v2.component.html
  web/src/app/headerv2/components/header-v2.component.scss
  web/src/app/headerv2/components/header-v2.component.spec.ts
  web/src/app/headerv2/components/header-v2.component.stories.ts
  web/src/app/headerv2/components/header-v2.component.ts
  web/src/app/headerv2/header-v2-smart.component.html
  web/src/app/headerv2/header-v2-smart.component.scss
  web/src/app/headerv2/header-v2-smart.component.ts
  web/src/app/pages/graph/graph.component.ts
  web/src/app/pages/main/main.component.html
  web/src/app/pages/main/main.component.ts
  web/src/app/services/layout/layout.service.ts
  web/src/app/services/menu/menu-manager.service.spec.ts
  web/src/app/services/menu/menu-manager.service.ts
Owners: @kyasbal, @renamoo, @jyane

Refactor rules for Antigravity
  .agents/rules/angular-coding-rule.md
  .agents/rules/comment-guideline.md
  .agents/rules/go-coding-rule.md
  .agents/rules/html-coding-rule.md
  .agents/rules/markdown-coding-rule.md
  .agents/rules/scss-coding-rule.md
  .agents/rules/ts-coding-rule.md
  .agents/skills/neutral-commit-crafter/SKILL.md
  .agents/skills/pull-request-drafter/SKILL.md
  web/GEMINI.md
Owners: @kyasbal, @renamoo, @jyane

Apply suggestions from code review
  .agents/rules/go-coding-rule.md
  .agents/rules/html-coding-rule.md
  .agents/rules/scss-coding-rule.md
  .agents/rules/ts-coding-rule.md
Owners: none

Refactor rules for Antigravity (#613)
  .agents/rules/angular-coding-rule.md
  .agents/rules/comment-guideline.md
  .agents/rules/go-coding-rule.md
  .agents/rules/html-coding-rule.md
  .agents/rules/markdown-coding-rule.md
  .agents/rules/scss-coding-rule.md
  .agents/rules/ts-coding-rule.md
  .agents/skills/neutral-commit-crafter/SKILL.md
  .agents/skills/pull-request-drafter/SKILL.md
  web/GEMINI.md
Owners: @kyasbal, @renamoo, @jyane

fix(googlecloudk8scommon): fix duplicate cluster name prefix bug
  pkg/task/inspection/googlecloudk8scommon/impl/inputclustername_task.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputclustername_task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix(googlecloudk8scommon): fix duplicate cluster name prefix bug (#614)
  pkg/task/inspection/googlecloudk8scommon/impl/inputclustername_task.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputclustername_task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Add the list component for inspection tasks on the new startup dialog (#612)
  web/src/app/dialogs/startup/components/inspection-list.component.html
  web/src/app/dialogs/startup/components/inspection-list.component.scss
  web/src/app/dialogs/startup/components/inspection-list.component.spec.ts
  web/src/app/dialogs/startup/components/inspection-list.component.ts
  web/src/app/dialogs/startup/components/inspection-list.stories.ts
  web/src/app/dialogs/startup/components/startup-side-menu.component.html
  web/src/app/dialogs/startup/components/startup-side-menu.component.scss
Owners: @kyasbal, @renamoo, @jyane

feat(startup): add inspection list components
  web/src/app/dialogs/startup/components/inspection-list-item.component.scss
Owners: @kyasbal, @renamoo, @jyane

feat(startup): add dialog layout and content components
  web/src/app/dialogs/startup/components/startup-dialog-content.component.html
  web/src/app/dialogs/startup/components/startup-dialog-content.component.scss
  web/src/app/dialogs/startup/components/startup-dialog-content.component.spec.ts
  web/src/app/dialogs/startup/components/startup-dialog-content.component.ts
  web/src/app/dialogs/startup/components/startup-dialog-content.stories.ts
  web/src/app/dialogs/startup/components/startup-dialog-layout.component.html
  web/src/app/dialogs/startup/components/startup-dialog-layout.component.scss
  web/src/app/dialogs/startup/components/startup-dialog-layout.component.spec.ts
  web/src/app/dialogs/startup/components/startup-dialog-layout.component.ts
  web/src/app/dialogs/startup/components/startup-dialog-layout.stories.ts
Owners: @kyasbal, @renamoo, @jyane

fix(startup): resolve review comments and fix SCSS property ordering
  web/src/app/dialogs/startup/components/inspection-list-item.component.scss
  web/src/app/dialogs/startup/components/inspection-list.component.scss
  web/src/app/dialogs/startup/components/startup-dialog-content.component.scss
  web/src/app/dialogs/startup/components/startup-dialog-layout.component.scss
Owners: @kyasbal, @renamoo, @jyane

feat(startup): add dialog layout and content components (#598)
  web/src/app/dialogs/startup/components/inspection-list.component.scss
  web/src/app/dialogs/startup/components/startup-dialog-content.component.html
  web/src/app/dialogs/startup/components/startup-dialog-content.component.scss
  web/src/app/dialogs/startup/components/startup-dialog-content.component.spec.ts
  web/src/app/dialogs/startup/components/startup-dialog-content.component.ts
  web/src/app/dialogs/startup/components/startup-dialog-content.stories.ts
  web/src/app/dialogs/startup/components/startup-dialog-layout.component.html
  web/src/app/dialogs/startup/components/startup-dialog-layout.component.scss
  web/src/app/dialogs/startup/components/startup-dialog-layout.component.spec.ts
  web/src/app/dialogs/startup/components/startup-dialog-layout.component.ts
  web/src/app/dialogs/startup/components/startup-dialog-layout.stories.ts
Owners: @kyasbal, @renamoo, @jyane

feat(startup): add inspection list components
  web/src/app/dialogs/startup/components/inspection-list-item.component.scss
Owners: @kyasbal, @renamoo, @jyane

feat(startup): implement smart component and integrate data loading #558
  web/src/app/dialogs/new-inspection/components/alias-chip.component.scss
  web/src/app/dialogs/startup/components/inspection-list-item.component.scss
  web/src/app/dialogs/startup/components/startup-header.component.html
  web/src/app/dialogs/startup/components/startup-header.component.scss
  web/src/app/dialogs/startup/components/startup-header.component.spec.ts
  web/src/app/dialogs/startup/components/startup-header.component.ts
  web/src/app/dialogs/startup/components/startup-header.stories.ts
  web/src/app/dialogs/startup/components/task-card-item.component.html
  web/src/app/dialogs/startup/components/task-card-item.component.scss
  web/src/app/dialogs/startup/components/task-card-item.component.spec.ts
  web/src/app/dialogs/startup/components/task-card-item.component.ts
  web/src/app/dialogs/startup/components/task-card-item.stories.ts
  web/src/app/dialogs/startup/components/task-card-list.component.html
  web/src/app/dialogs/startup/components/task-card-list.component.spec.ts
  web/src/app/dialogs/startup/components/task-card-list.component.ts
  web/src/app/dialogs/startup/components/task-card-list.stories.ts
  web/src/app/dialogs/startup/startup-smart.component.html
  web/src/app/dialogs/startup/startup-smart.component.scss
  web/src/app/dialogs/startup/startup-smart.component.spec.ts
  web/src/app/dialogs/startup/startup-smart.component.ts
  web/src/app/dialogs/startup/startup.component.html
  web/src/app/dialogs/startup/startup.component.scss
  web/src/app/dialogs/startup/startup.component.ts
  web/src/app/header/main-menu.component.scss
  web/src/app/header/main-menu.component.ts
  web/src/app/pages/main/main.component.ts
  web/src/environments/environment.dev.ts
  web/src/environments/environment.prod.ts
  web/src/environments/environment.ts
  web/src/styles.scss
Owners: @kyasbal, @renamoo, @jyane

feat(proto): add proto definitions and build setup for file schema v7 migration
  .golangci.yaml
  buf.gen.yaml
  buf.yaml
  pkg/generated/.gitkeep
  pkg/generated/khifile/v7/intern_pool.pb.go
  pkg/generated/khifile/v7/log.pb.go
  pkg/generated/khifile/v7/metadata.pb.go
  pkg/generated/khifile/v7/shared.pb.go
  pkg/generated/khifile/v7/style.pb.go
  pkg/generated/khifile/v7/timeline.pb.go
  proto/khifile/v7/intern_pool.proto
  proto/khifile/v7/log.proto
  proto/khifile/v7/metadata.proto
  proto/khifile/v7/shared.proto
  proto/khifile/v7/style.proto
  proto/khifile/v7/timeline.proto
  scripts/make/codegen.mk
  web/eslint.config.mjs
  web/package-lock.json
  web/package.json
  web/src/app/generated/khifile/v7/intern_pool_pb.d.ts
  web/src/app/generated/khifile/v7/intern_pool_pb.js
  web/src/app/generated/khifile/v7/log_pb.d.ts
  web/src/app/generated/khifile/v7/log_pb.js
  web/src/app/generated/khifile/v7/metadata_pb.d.ts
  web/src/app/generated/khifile/v7/metadata_pb.js
  web/src/app/generated/khifile/v7/shared_pb.d.ts
  web/src/app/generated/khifile/v7/shared_pb.js
  web/src/app/generated/khifile/v7/style_pb.d.ts
  web/src/app/generated/khifile/v7/style_pb.js
  web/src/app/generated/khifile/v7/timeline_pb.d.ts
  web/src/app/generated/khifile/v7/timeline_pb.js
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

fixed typos on proto fields
  pkg/generated/khifile/v7/intern_pool.pb.go
  pkg/generated/khifile/v7/timeline.pb.go
  proto/khifile/v7/intern_pool.proto
  proto/khifile/v7/timeline.proto
  web/src/app/generated/khifile/v7/intern_pool_pb.d.ts
  web/src/app/generated/khifile/v7/intern_pool_pb.js
  web/src/app/generated/khifile/v7/timeline_pb.d.ts
  web/src/app/generated/khifile/v7/timeline_pb.js
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

Specified proto rule and build target
  .agents/rules/proto-coding-rule.md
  .github/workflows/pullrequest.yaml
  proto/khifile/v7/intern_pool.proto
  proto/khifile/v7/log.proto
  proto/khifile/v7/metadata.proto
  proto/khifile/v7/shared.proto
  proto/khifile/v7/style.proto
  proto/khifile/v7/timeline.proto
  scripts/make/codegen.mk
  scripts/make/lint.mk
Owners: @kyasbal

Rebuild the generated files from the updated proto
  pkg/generated/khifile/v7/intern_pool.pb.go
  pkg/generated/khifile/v7/log.pb.go
  pkg/generated/khifile/v7/metadata.pb.go
  pkg/generated/khifile/v7/timeline.pb.go
  web/src/app/generated/khifile/v7/intern_pool_pb.d.ts
  web/src/app/generated/khifile/v7/log_pb.d.ts
  web/src/app/generated/khifile/v7/metadata_pb.d.ts
  web/src/app/generated/khifile/v7/style_pb.js
  web/src/app/generated/khifile/v7/timeline_pb.d.ts
  web/src/app/generated/khifile/v7/timeline_pb.js
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

Added linguist-generated for ignoreing generated files by proto
  .gitattributes
Owners: none

fix reviewed points and lint error
  .agents/rules/proto-coding-rule.md
  pkg/generated/khifile/v7/intern_pool.pb.go
  pkg/generated/khifile/v7/log.pb.go
  pkg/generated/khifile/v7/metadata.pb.go
  pkg/generated/khifile/v7/shared.pb.go
  pkg/generated/khifile/v7/style.pb.go
  pkg/generated/khifile/v7/timeline.pb.go
  proto/khifile/v7/intern_pool.proto
  proto/khifile/v7/log.proto
  proto/khifile/v7/metadata.proto
  proto/khifile/v7/shared.proto
  proto/khifile/v7/style.proto
  proto/khifile/v7/timeline.proto
  web/src/app/generated/khifile/v7/intern_pool_pb.d.ts
  web/src/app/generated/khifile/v7/intern_pool_pb.js
  web/src/app/generated/khifile/v7/log_pb.d.ts
  web/src/app/generated/khifile/v7/log_pb.js
  web/src/app/generated/khifile/v7/metadata_pb.d.ts
  web/src/app/generated/khifile/v7/metadata_pb.js
  web/src/app/generated/khifile/v7/shared_pb.d.ts
  web/src/app/generated/khifile/v7/shared_pb.js
  web/src/app/generated/khifile/v7/style_pb.d.ts
  web/src/app/generated/khifile/v7/style_pb.js
  web/src/app/generated/khifile/v7/timeline_pb.d.ts
  web/src/app/generated/khifile/v7/timeline_pb.js
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

fix version number
  .agents/rules/proto-coding-rule.md
  pkg/generated/khifile/v6/intern_pool.pb.go
  pkg/generated/khifile/v6/log.pb.go
  pkg/generated/khifile/v6/metadata.pb.go
  pkg/generated/khifile/v6/shared.pb.go
  pkg/generated/khifile/v6/style.pb.go
  pkg/generated/khifile/v6/timeline.pb.go
  proto/khifile/v6/intern_pool.proto
  proto/khifile/v6/log.proto
  proto/khifile/v6/metadata.proto
  proto/khifile/v6/shared.proto
  proto/khifile/v6/style.proto
  proto/khifile/v6/timeline.proto
  web/src/app/generated/khifile/v6/intern_pool_pb.d.ts
  web/src/app/generated/khifile/v6/intern_pool_pb.js
  web/src/app/generated/khifile/v6/log_pb.d.ts
  web/src/app/generated/khifile/v6/log_pb.js
  web/src/app/generated/khifile/v6/metadata_pb.d.ts
  web/src/app/generated/khifile/v6/metadata_pb.js
  web/src/app/generated/khifile/v6/shared_pb.d.ts
  web/src/app/generated/khifile/v6/shared_pb.js
  web/src/app/generated/khifile/v6/style_pb.d.ts
  web/src/app/generated/khifile/v6/style_pb.js
  web/src/app/generated/khifile/v6/timeline_pb.d.ts
  web/src/app/generated/khifile/v6/timeline_pb.js
  web/src/app/generated/khifile/v7/style_pb.js
  web/src/app/generated/khifile/v7/timeline_pb.js
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

Skip proto breaking change check until it's merged
  .github/workflows/pullrequest.yaml
Owners: @kyasbal

Fixed shared type names
  pkg/generated/khifile/v6/log.pb.go
  pkg/generated/khifile/v6/shared.pb.go
  pkg/generated/khifile/v6/timeline.pb.go
  proto/khifile/v6/log.proto
  proto/khifile/v6/shared.proto
  proto/khifile/v6/timeline.proto
  web/src/app/generated/khifile/v6/log_pb.d.ts
  web/src/app/generated/khifile/v6/log_pb.js
  web/src/app/generated/khifile/v6/shared_pb.d.ts
  web/src/app/generated/khifile/v6/shared_pb.js
  web/src/app/generated/khifile/v6/timeline_pb.d.ts
  web/src/app/generated/khifile/v6/timeline_pb.js
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

fix typos on comments
  proto/khifile/v6/intern_pool.proto
  proto/khifile/v6/shared.proto
  proto/khifile/v6/timeline.proto
Owners: none

feat(proto): add proto definitions and build setup for file schema v6 migration (#618)
  .agents/rules/proto-coding-rule.md
  .gitattributes
  .github/workflows/pullrequest.yaml
  .golangci.yaml
  buf.gen.yaml
  buf.yaml
  pkg/generated/.gitkeep
  pkg/generated/khifile/v6/intern_pool.pb.go
  pkg/generated/khifile/v6/log.pb.go
  pkg/generated/khifile/v6/metadata.pb.go
  pkg/generated/khifile/v6/shared.pb.go
  pkg/generated/khifile/v6/style.pb.go
  pkg/generated/khifile/v6/timeline.pb.go
  proto/khifile/v6/intern_pool.proto
  proto/khifile/v6/log.proto
  proto/khifile/v6/metadata.proto
  proto/khifile/v6/shared.proto
  proto/khifile/v6/style.proto
  proto/khifile/v6/timeline.proto
  scripts/make/codegen.mk
  scripts/make/lint.mk
  web/eslint.config.mjs
  web/package-lock.json
  web/package.json
  web/src/app/generated/khifile/v6/intern_pool_pb.d.ts
  web/src/app/generated/khifile/v6/intern_pool_pb.js
  web/src/app/generated/khifile/v6/log_pb.d.ts
  web/src/app/generated/khifile/v6/log_pb.js
  web/src/app/generated/khifile/v6/metadata_pb.d.ts
  web/src/app/generated/khifile/v6/metadata_pb.js
  web/src/app/generated/khifile/v6/shared_pb.d.ts
  web/src/app/generated/khifile/v6/shared_pb.js
  web/src/app/generated/khifile/v6/style_pb.d.ts
  web/src/app/generated/khifile/v6/style_pb.js
  web/src/app/generated/khifile/v6/timeline_pb.d.ts
  web/src/app/generated/khifile/v6/timeline_pb.js
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

Removing unused CORS code
  go.mod
  go.sum
  pkg/core/init/default/defaultextension.go
  pkg/server/option/option.go
  pkg/server/option/option_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Replaced unsafe innerHTML with textContent
  web/src/app/pages/graph/architecture-graph/graph/base/element.ts
Owners: @kyasbal, @renamoo, @jyane

Update pkg/core/init/default/defaultextension.go
  pkg/core/init/default/defaultextension.go
  pkg/server/option/option.go
  pkg/server/option/option_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Removing unused CORS code (#619)
  go.mod
  go.sum
  pkg/core/init/default/defaultextension.go
  pkg/server/option/option.go
  pkg/server/option/option_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

.github/CODEOWNERS:

# Github Actions
.github/ @kyasbal
.cloudbuild/ @kyasbal

# Golang related files
cmd/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima
pkg/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima
test/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima

# Web front related files
web/ @kyasbal @renamoo @jyane
