Repository GoogleCloudPlatform/khi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

Add renderer drawing revision rectangles (#465)
  web/src/app/timeline/components/canvas/timeline-revisions-renderer.ts
  web/src/assets/revision-v2.color-fragment.glsl
  web/src/assets/revision-v2.hittest-fragment.glsl
  web/src/assets/revision-v2.shared.glsl
  web/src/assets/revision-v2.vertex.glsl
Owners: @kyasbal, @renamoo, @jyane

Add log filter status visualization feature
  web/src/app/timeline/components/canvas/timeline-events-renderer.ts
  web/src/app/timeline/components/canvas/timeline-revisions-renderer.ts
  web/src/assets/event-v2.color-fragment.glsl
  web/src/assets/event-v2.hittest-fragment.glsl
  web/src/assets/event-v2.shared.glsl
  web/src/assets/event-v2.vertex.glsl
  web/src/assets/revision-v2.color-fragment.glsl
  web/src/assets/revision-v2.hittest-fragment.glsl
  web/src/assets/revision-v2.shared.glsl
  web/src/assets/revision-v2.vertex.glsl
Owners: @kyasbal, @renamoo, @jyane

Add log filter status visualization feature (#466)
  web/src/app/timeline/components/canvas/timeline-events-renderer.ts
  web/src/app/timeline/components/canvas/timeline-revisions-renderer.ts
  web/src/assets/event-v2.color-fragment.glsl
  web/src/assets/event-v2.hittest-fragment.glsl
  web/src/assets/event-v2.shared.glsl
  web/src/assets/event-v2.vertex.glsl
  web/src/assets/revision-v2.color-fragment.glsl
  web/src/assets/revision-v2.hittest-fragment.glsl
  web/src/assets/revision-v2.shared.glsl
  web/src/assets/revision-v2.vertex.glsl
Owners: @kyasbal, @renamoo, @jyane

Add the hover component on timeline chart shown when user mouse is over
  web/src/app/common.scss
  web/src/app/timeline/components/timeline-hover-overlay.component.html
  web/src/app/timeline/components/timeline-hover-overlay.component.scss
  web/src/app/timeline/components/timeline-hover-overlay.component.ts
  web/src/app/timeline/components/timeline-hover-overlay.stories.ts
Owners: @kyasbal, @renamoo, @jyane

fix suggested by gemini-code-assist
  web/src/app/timeline/components/timeline-hover-overlay.component.html
  web/src/app/timeline/components/timeline-hover-overlay.component.scss
  web/src/app/timeline/components/timeline-hover-overlay.component.ts
Owners: @kyasbal, @renamoo, @jyane

Adds timeline-chart Component
  web/src/app/timeline/components/canvas/timeline-background-renderer.ts
  web/src/app/timeline/components/canvas/timeline-renderer.ts
  web/src/app/timeline/components/misc/demo-builder.ts
  web/src/app/timeline/components/style-model.ts
  web/src/app/timeline/components/timeline-chart.component.html
  web/src/app/timeline/components/timeline-chart.component.scss
  web/src/app/timeline/components/timeline-chart.component.ts
  web/src/app/timeline/components/timeline-chart.stories.ts
  web/src/app/timeline/components/timeline-chart.viewmodel.ts
Owners: @kyasbal, @renamoo, @jyane

Added scroll interaction on the ruler & minor style improvement
  web/src/app/timeline/components/style-model.ts
  web/src/app/timeline/components/timeline-corner-indicator.component.html
  web/src/app/timeline/components/timeline-index.component.scss
  web/src/app/timeline/components/timeline-legend.component.html
  web/src/app/timeline/components/timeline-legend.component.scss
  web/src/app/timeline/components/timeline-ruler.component.html
  web/src/app/timeline/components/timeline-ruler.component.ts
Owners: @kyasbal, @renamoo, @jyane

fix issue pointed by gemini-code-assist
  web/src/app/timeline/components/timeline-corner-indicator.component.html
Owners: @kyasbal, @renamoo, @jyane

Added scroll interaction on the ruler & minor style improvement
  web/src/app/timeline/components/style-model.ts
  web/src/app/timeline/components/timeline-corner-indicator.component.html
  web/src/app/timeline/components/timeline-index.component.scss
  web/src/app/timeline/components/timeline-legend.component.html
  web/src/app/timeline/components/timeline-legend.component.scss
  web/src/app/timeline/components/timeline-ruler.component.html
  web/src/app/timeline/components/timeline-ruler.component.ts
Owners: @kyasbal, @renamoo, @jyane

Add TimelineFrameComponent
  web/src/app/timeline/components/calculator/horizontal-scroll-calculator.spec.ts
  web/src/app/timeline/components/calculator/horizontal-scroll-calculator.ts
  web/src/app/timeline/components/calculator/vertical-scroll-calculator.spec.ts
  web/src/app/timeline/components/calculator/vertical-scroll-calculator.ts
  web/src/app/timeline/components/timeline-frame.component.html
  web/src/app/timeline/components/timeline-frame.component.scss
  web/src/app/timeline/components/timeline-frame.component.stories.ts
  web/src/app/timeline/components/timeline-frame.component.ts
  web/src/app/timeline/components/timeline-frame.viewmodel.ts
Owners: @kyasbal, @renamoo, @jyane

Adds timeline-chart Component
  web/src/app/timeline/components/canvas/timeline-background-renderer.ts
  web/src/app/timeline/components/canvas/timeline-renderer.ts
  web/src/app/timeline/components/misc/demo-builder.ts
  web/src/app/timeline/components/style-model.ts
  web/src/app/timeline/components/timeline-chart.component.html
  web/src/app/timeline/components/timeline-chart.component.scss
  web/src/app/timeline/components/timeline-chart.component.ts
  web/src/app/timeline/components/timeline-chart.stories.ts
  web/src/app/timeline/components/timeline-chart.viewmodel.ts
Owners: @kyasbal, @renamoo, @jyane

fix issue pointed by gemini-code-assist
  web/src/app/timeline/components/timeline-corner-indicator.component.html
Owners: @kyasbal, @renamoo, @jyane

added missing change on the PR
  web/src/app/common/loader/reference-type.ts
Owners: @kyasbal, @renamoo, @jyane

Removed the obsoleted comment
  web/src/app/timeline/components/timeline-chart.component.html
Owners: @kyasbal, @renamoo, @jyane

Add TimelineChart component (#467)
  web/src/app/timeline/components/canvas/timeline-background-renderer.ts
  web/src/app/timeline/components/canvas/timeline-renderer.ts
  web/src/app/timeline/components/misc/demo-builder.ts
  web/src/app/timeline/components/style-model.ts
  web/src/app/timeline/components/timeline-chart.component.html
  web/src/app/timeline/components/timeline-chart.component.scss
  web/src/app/timeline/components/timeline-chart.component.ts
  web/src/app/timeline/components/timeline-chart.stories.ts
  web/src/app/timeline/components/timeline-chart.viewmodel.ts
Owners: @kyasbal, @renamoo, @jyane

Add the hover component on timeline chart shown when user mouse is over (#468)
  web/src/app/common.scss
  web/src/app/timeline/components/timeline-hover-overlay.component.html
  web/src/app/timeline/components/timeline-hover-overlay.component.scss
  web/src/app/timeline/components/timeline-hover-overlay.component.ts
  web/src/app/timeline/components/timeline-hover-overlay.stories.ts
Owners: @kyasbal, @renamoo, @jyane

Added scroll interaction on the ruler & minor style improvement (#469)
  web/src/app/timeline/components/style-model.ts
  web/src/app/timeline/components/timeline-corner-indicator.component.html
  web/src/app/timeline/components/timeline-index.component.scss
  web/src/app/timeline/components/timeline-legend.component.html
  web/src/app/timeline/components/timeline-legend.component.scss
  web/src/app/timeline/components/timeline-ruler.component.html
  web/src/app/timeline/components/timeline-ruler.component.ts
Owners: @kyasbal, @renamoo, @jyane

Add TimelineFrameComponent
  web/src/app/timeline/components/calculator/horizontal-scroll-calculator.spec.ts
  web/src/app/timeline/components/calculator/horizontal-scroll-calculator.ts
  web/src/app/timeline/components/calculator/vertical-scroll-calculator.spec.ts
  web/src/app/timeline/components/calculator/vertical-scroll-calculator.ts
  web/src/app/timeline/components/timeline-frame.component.html
  web/src/app/timeline/components/timeline-frame.component.scss
  web/src/app/timeline/components/timeline-frame.component.stories.ts
  web/src/app/timeline/components/timeline-frame.component.ts
  web/src/app/timeline/components/timeline-frame.viewmodel.ts
Owners: @kyasbal, @renamoo, @jyane

added missing change on the PR
  web/src/app/common/loader/reference-type.ts
Owners: @kyasbal, @renamoo, @jyane

Fixed scroll caluclation bug
  web/src/app/timeline/components/calculator/horizontal-scroll-calculator.spec.ts
  web/src/app/timeline/components/calculator/horizontal-scroll-calculator.ts
  web/src/app/timeline/components/timeline-frame.component.html
  web/src/app/timeline/components/timeline-frame.component.scss
  web/src/app/timeline/components/timeline-frame.component.ts
  web/src/app/timeline/components/timeline-frame.viewmodel.ts
Owners: @kyasbal, @renamoo, @jyane

Implemented TimelineSmartComponent and replace the current timeline component
  web/src/app/common/components/side-pane.component.html
  web/src/app/common/components/side-pane.component.scss
  web/src/app/common/components/side-pane.component.ts
  web/src/app/pages/main/main.component.html
  web/src/app/pages/main/main.component.scss
  web/src/app/pages/main/main.component.ts
  web/src/app/store/timeline.ts
  web/src/app/timeline/CanvasKeyEventHandler.ts
  web/src/app/timeline/TimelineScrollStrategy.ts
  web/src/app/timeline/background-canvas.ts
  web/src/app/timeline/canvas/gl_vertical_line_renderer.ts
  web/src/app/timeline/canvas/shared_gl_resource.ts
  web/src/app/timeline/canvas/timeline_gl_resource_manager.spec.ts
  web/src/app/timeline/canvas/timeline_gl_resource_manager.ts
  web/src/app/timeline/canvas/timeline_gl_row_renderer.ts
  web/src/app/timeline/canvas/timeline_renderer.service.ts
  web/src/app/timeline/canvas/types.ts
  web/src/app/timeline/timeline-coordinate-calculator.ts
  web/src/app/timeline/timeline-smart.component.html
  web/src/app/timeline/timeline-smart.component.ts
  web/src/app/timeline/timeline.component.html
  web/src/app/timeline/timeline.component.scss
  web/src/app/timeline/timeline.component.ts
  web/src/app/timeline/timeline.component.vm.ts
Owners: @kyasbal, @renamoo, @jyane

Removed unused shaders
  web/src/assets/border.fragment.glsl
  web/src/assets/border.vertex.glsl
  web/src/assets/event.fragment.glsl
  web/src/assets/event.vertex.glsl
  web/src/assets/revision.fragment.glsl
  web/src/assets/revision.vertex.glsl
  web/src/assets/vertical-line.fragment.glsl
  web/src/assets/vertical-line.vertex.glsl
Owners: @kyasbal, @renamoo, @jyane

Add a missing file
  web/src/app/services/timeline-filter.service.ts
Owners: @kyasbal, @renamoo, @jyane

Add TimelineFrameComponent (#470)
  web/src/app/common/loader/reference-type.ts
  web/src/app/timeline/components/calculator/horizontal-scroll-calculator.spec.ts
  web/src/app/timeline/components/calculator/horizontal-scroll-calculator.ts
  web/src/app/timeline/components/calculator/vertical-scroll-calculator.spec.ts
  web/src/app/timeline/components/calculator/vertical-scroll-calculator.ts
  web/src/app/timeline/components/timeline-frame.component.html
  web/src/app/timeline/components/timeline-frame.component.scss
  web/src/app/timeline/components/timeline-frame.component.stories.ts
  web/src/app/timeline/components/timeline-frame.component.ts
Owners: @kyasbal, @renamoo, @jyane

Replace current timeline with the timeline component (#471)
  web/src/app/common/components/side-pane.component.html
  web/src/app/common/components/side-pane.component.scss
  web/src/app/common/components/side-pane.component.ts
  web/src/app/pages/main/main.component.html
  web/src/app/pages/main/main.component.scss
  web/src/app/pages/main/main.component.ts
  web/src/app/services/timeline-filter.service.ts
  web/src/app/store/timeline.ts
  web/src/app/timeline/CanvasKeyEventHandler.ts
  web/src/app/timeline/TimelineScrollStrategy.ts
  web/src/app/timeline/background-canvas.ts
  web/src/app/timeline/canvas/gl_vertical_line_renderer.ts
  web/src/app/timeline/canvas/shared_gl_resource.ts
  web/src/app/timeline/canvas/timeline_gl_resource_manager.spec.ts
  web/src/app/timeline/canvas/timeline_gl_resource_manager.ts
  web/src/app/timeline/canvas/timeline_gl_row_renderer.ts
  web/src/app/timeline/canvas/timeline_renderer.service.ts
  web/src/app/timeline/canvas/types.ts
  web/src/app/timeline/timeline-coordinate-calculator.ts
  web/src/app/timeline/timeline-smart.component.html
  web/src/app/timeline/timeline-smart.component.ts
  web/src/app/timeline/timeline.component.html
  web/src/app/timeline/timeline.component.scss
  web/src/app/timeline/timeline.component.ts
  web/src/app/timeline/timeline.component.vm.ts
  web/src/assets/border.fragment.glsl
  web/src/assets/border.vertex.glsl
  web/src/assets/event.fragment.glsl
  web/src/assets/event.vertex.glsl
  web/src/assets/revision.fragment.glsl
  web/src/assets/revision.vertex.glsl
  web/src/assets/vertical-line.fragment.glsl
  web/src/assets/vertical-line.vertex.glsl
Owners: @kyasbal, @renamoo, @jyane

Add TimelineFrameComponent
  web/src/app/pages/main/main.component.scss
  web/src/app/timeline/components/timeline-frame.viewmodel.ts
Owners: @kyasbal, @renamoo, @jyane

Fixed scroll caluclation bug
  web/src/app/timeline/components/timeline-frame.viewmodel.ts
Owners: @kyasbal, @renamoo, @jyane

Fixed several minor style issues to prepare release
  pkg/model/enum/revision_state.go
  web/src/app/header/titlebar.component.scss
  web/src/app/log/log-view-log-line.component.scss
  web/src/app/log/log-view.component.html
  web/src/app/pages/main/main.component.ts
  web/src/app/timeline/components/style-model.ts
  web/src/app/timeline/components/timeline-frame.component.html
  web/src/app/timeline/components/timeline-hover-overlay.component.scss
  web/src/app/timeline/components/timeline-index.component.scss
  web/src/app/timeline/components/timeline-legend.component.scss
  web/src/assets/revision-v2.color-fragment.glsl
  web/src/index.html
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

fix z-index style issue and emphasized the time cursor
  web/src/app/timeline/components/timeline-frame.component.html
  web/src/app/timeline/components/timeline-frame.component.scss
  web/src/assets/revision-v2.color-fragment.glsl
Owners: @kyasbal, @renamoo, @jyane

Fix minor style problems (#472)
  pkg/model/enum/revision_state.go
  web/src/app/header/titlebar.component.scss
  web/src/app/log/log-view-log-line.component.scss
  web/src/app/log/log-view.component.html
  web/src/app/pages/main/main.component.scss
  web/src/app/pages/main/main.component.ts
  web/src/app/timeline/components/style-model.ts
  web/src/app/timeline/components/timeline-frame.component.html
  web/src/app/timeline/components/timeline-frame.component.scss
  web/src/app/timeline/components/timeline-hover-overlay.component.scss
  web/src/app/timeline/components/timeline-index.component.scss
  web/src/app/timeline/components/timeline-legend.component.scss
  web/src/assets/revision-v2.color-fragment.glsl
  web/src/index.html
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

fix CI failure by running unncessary pre build step
  scripts/make/codegen.mk
  scripts/msdf-generator/setup.sh
Owners: none

removed generated font atlas files
  web/.gitignore
  web/src/assets/icon-codepoints.json
  web/src/assets/material-icons-msdf.json
  web/src/assets/material-icons-msdf.png
  web/src/assets/roboto-number-msdf.json
  web/src/assets/roboto-number-msdf.png
Owners: @kyasbal, @renamoo, @jyane

fixed makefile problem pointed by gemini-code-assist
  scripts/make/build.mk
  scripts/make/codegen.mk
Owners: none

fixed CI failure cause
  .cloudbuild/github-deploy-beta.yaml
  .cloudbuild/github-deploy-latest.yaml
  .cloudbuild/github-deploy-ondemand.yaml
  scripts/make/build.mk
  scripts/make/codegen.mk
Owners: @kyasbal

temporary workaround just ignoring font generation on CI
  scripts/make/codegen.mk
Owners: none

fixed UBO alignment issue
  web/src/app/timeline/components/canvas/timeline-events-renderer.ts
  web/src/app/timeline/components/canvas/timeline-revisions-renderer.ts
  web/src/app/timeline/components/canvas/timeline-shared-resource.ts
Owners: @kyasbal, @renamoo, @jyane

Add timeline grabbing interaction
  web/src/app/timeline/components/timeline-frame.component.html
  web/src/app/timeline/components/timeline-frame.component.scss
  web/src/app/timeline/components/timeline-frame.component.ts
  web/src/app/timeline/timeline-smart.component.ts
Owners: @kyasbal, @renamoo, @jyane

bug: added the missing suggestion for namespace input
  pkg/task/inspection/googlecloudk8scommon/impl/inputkindfilter_task.go
  pkg/task/inspection/googlecloudlogk8scontainer/impl/form_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Fix Karma config to fix the failing frontend test using GL context
  web/karma.conf.js
Owners: @kyasbal, @renamoo, @jyane

Updated document about the disabled WebGL emulation by default
  README.ja.md
  README.md
Owners: none

.github/CODEOWNERS:

# Github Actions
.github/ @kyasbal
.cloudbuild/ @kyasbal

# Golang related files
cmd/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima
pkg/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima
test/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima

# Web front related files
web/ @kyasbal @renamoo @jyane
