Repository GoogleCloudPlatform/khi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

Replaced unsafe innerHTML with textContent (#620)
  web/src/app/pages/graph/architecture-graph/graph/base/element.ts
Owners: @kyasbal, @renamoo, @jyane

feat: update InternedValue proto to have int64 value
  pkg/generated/khifile/v6/intern_pool.pb.go
  pkg/generated/khifile/v6/shared.pb.go
  pkg/generated/khifile/v6/timeline.pb.go
  proto/khifile/v6/shared.proto
  web/src/app/generated/khifile/v6/intern_pool_pb.d.ts
  web/src/app/generated/khifile/v6/shared_pb.d.ts
  web/src/app/generated/khifile/v6/shared_pb.js
  web/src/app/generated/khifile/v6/timeline_pb.d.ts
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

feat: update InternedValue proto to have int64 value (#623)
  pkg/generated/khifile/v6/intern_pool.pb.go
  pkg/generated/khifile/v6/shared.pb.go
  pkg/generated/khifile/v6/timeline.pb.go
  proto/khifile/v6/shared.proto
  web/src/app/generated/khifile/v6/intern_pool_pb.d.ts
  web/src/app/generated/khifile/v6/shared_pb.d.ts
  web/src/app/generated/khifile/v6/shared_pb.js
  web/src/app/generated/khifile/v6/timeline_pb.d.ts
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

Fix name of the function pointed out by the review
  web/src/app/dialogs/startup/startup-smart.component.ts
Owners: @kyasbal, @renamoo, @jyane

feat(startup): implement smart component and integrate data loading (#599)
  web/src/app/dialogs/new-inspection/components/alias-chip.component.scss
  web/src/app/dialogs/startup/components/startup-header.component.html
  web/src/app/dialogs/startup/components/startup-header.component.scss
  web/src/app/dialogs/startup/components/startup-header.component.spec.ts
  web/src/app/dialogs/startup/components/startup-header.component.ts
  web/src/app/dialogs/startup/components/startup-header.stories.ts
  web/src/app/dialogs/startup/components/task-card-item.component.html
  web/src/app/dialogs/startup/components/task-card-item.component.scss
  web/src/app/dialogs/startup/components/task-card-item.component.spec.ts
  web/src/app/dialogs/startup/components/task-card-item.component.ts
  web/src/app/dialogs/startup/components/task-card-item.stories.ts
  web/src/app/dialogs/startup/components/task-card-list.component.html
  web/src/app/dialogs/startup/components/task-card-list.component.spec.ts
  web/src/app/dialogs/startup/components/task-card-list.component.ts
  web/src/app/dialogs/startup/components/task-card-list.stories.ts
  web/src/app/dialogs/startup/startup-smart.component.html
  web/src/app/dialogs/startup/startup-smart.component.scss
  web/src/app/dialogs/startup/startup-smart.component.spec.ts
  web/src/app/dialogs/startup/startup-smart.component.ts
  web/src/app/dialogs/startup/startup.component.html
  web/src/app/dialogs/startup/startup.component.scss
  web/src/app/dialogs/startup/startup.component.ts
  web/src/app/header/main-menu.component.scss
  web/src/app/header/main-menu.component.ts
  web/src/app/pages/main/main.component.ts
  web/src/environments/environment.dev.ts
  web/src/environments/environment.prod.ts
  web/src/environments/environment.ts
  web/src/styles.scss
Owners: @kyasbal, @renamoo, @jyane

Adding KHI file schema v6 namespaced ID generator
  go.mod
  go.sum
  pkg/model/khifile/v6/ids.go
  pkg/model/khifile/v6/ids_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Adding KHI file schema v6 namespaced ID generator (#621)
  go.mod
  go.sum
  pkg/model/khifile/v6/ids.go
  pkg/model/khifile/v6/ids_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Adding generated files I forgot to push
  web/src/app/generated/khifile/v6/intern_pool_pb.d.ts
  web/src/app/generated/khifile/v6/log_pb.d.ts
  web/src/app/generated/khifile/v6/metadata_pb.d.ts
  web/src/app/generated/khifile/v6/shared_pb.d.ts
  web/src/app/generated/khifile/v6/style_pb.d.ts
  web/src/app/generated/khifile/v6/timeline_pb.d.ts
Owners: @kyasbal, @renamoo, @jyane

Adding generated files I forgot to push (#626)
  web/src/app/generated/khifile/v6/intern_pool_pb.d.ts
  web/src/app/generated/khifile/v6/log_pb.d.ts
  web/src/app/generated/khifile/v6/metadata_pb.d.ts
  web/src/app/generated/khifile/v6/shared_pb.d.ts
  web/src/app/generated/khifile/v6/style_pb.d.ts
  web/src/app/generated/khifile/v6/timeline_pb.d.ts
Owners: @kyasbal, @renamoo, @jyane

Fix the lint thing on the generated codes
  pkg/model/khifile/v6/ids_test.go
  web/src/app/generated/khifile/v6/intern_pool_pb.d.ts
  web/src/app/generated/khifile/v6/log_pb.d.ts
  web/src/app/generated/khifile/v6/metadata_pb.d.ts
  web/src/app/generated/khifile/v6/shared_pb.d.ts
  web/src/app/generated/khifile/v6/style_pb.d.ts
  web/src/app/generated/khifile/v6/timeline_pb.d.ts
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

Rolling back #626 (#627)
  pkg/model/khifile/v6/ids_test.go
  web/src/app/generated/khifile/v6/intern_pool_pb.d.ts
  web/src/app/generated/khifile/v6/log_pb.d.ts
  web/src/app/generated/khifile/v6/metadata_pb.d.ts
  web/src/app/generated/khifile/v6/shared_pb.d.ts
  web/src/app/generated/khifile/v6/style_pb.d.ts
  web/src/app/generated/khifile/v6/timeline_pb.d.ts
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

Adding interning utility used in khi file format v6
  pkg/model/khifile/v6/intern.go
  pkg/model/khifile/v6/intern_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

feat(khifile): implement v6 chunk container writer and reader
  pkg/model/khifile/v6/container.go
  pkg/model/khifile/v6/container_test.go
  pkg/model/khifile/v6/generator.go
  pkg/model/khifile/v6/generator_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

feat: Adding TimelineStyleRegistry
  pkg/model/khifile/v6/style/timeline.go
  pkg/model/khifile/v6/style/timeline_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

feat(web): add v6 parser foundation (errors and interfaces)
  web/src/app/parser/README.md
  web/src/app/parser/core/interfaces.ts
  web/src/app/parser/errors/parser-errors.ts
Owners: @kyasbal, @renamoo, @jyane

feat(web): add v6 parser foundation (errors and interfaces) (#628)
  web/src/app/parser/README.md
  web/src/app/parser/core/interfaces.ts
  web/src/app/parser/errors/parser-errors.ts
Owners: @kyasbal, @renamoo, @jyane

chore: fix make setup error in jj and update dev guide
  .agents/rules/scss-coding-rule.md
  .agents/rules/ts-coding-rule.md
  Makefile
  docs/en/development-contribution/development-guide.md
  docs/ja/development-contribution/development-guide.md
  scripts/generate-version.sh
  scripts/make/hooks.mk
Owners: none

feat(web): add v6 parser binary reader and streamer
  web/src/app/parser/core/binary-reader.spec.ts
  web/src/app/parser/core/binary-reader.ts
  web/src/app/parser/core/file-streamer.spec.ts
  web/src/app/parser/core/file-streamer.ts
  web/src/app/parser/core/interfaces.ts
Owners: @kyasbal, @renamoo, @jyane

Adding interning utility for file schema version v6 (#622)
  pkg/model/khifile/v6/intern.go
  pkg/model/khifile/v6/intern_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

feat(khifile): implement v6 chunk container writer and reader (#624)
  pkg/model/khifile/v6/container.go
  pkg/model/khifile/v6/container_test.go
  pkg/model/khifile/v6/generator.go
  pkg/model/khifile/v6/generator_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

chore: fix make setup error in jj and update dev guide (#629)
  .agents/rules/scss-coding-rule.md
  .agents/rules/ts-coding-rule.md
  Makefile
  docs/en/development-contribution/development-guide.md
  docs/ja/development-contribution/development-guide.md
  scripts/generate-version.sh
  scripts/make/hooks.mk
Owners: none

address review comments
  web/src/app/common/misc-util.spec.ts
  web/src/app/common/misc-util.ts
  web/src/app/parser/README.md
  web/src/app/parser/core/binary-reader.spec.ts
  web/src/app/parser/core/binary-reader.ts
  web/src/app/parser/core/file-parser.spec.ts
  web/src/app/parser/core/file-parser.ts
  web/src/app/parser/core/interfaces.ts
Owners: @kyasbal, @renamoo, @jyane

Adding serializer/deserializer for InternedStruct
  pkg/common/structured/standard.go
  pkg/model/khifile/v6/struct.go
  pkg/model/khifile/v6/struct_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Adding serializer/deserializer for InternedStruct (#631)
  pkg/common/structured/standard.go
  pkg/model/khifile/v6/struct.go
  pkg/model/khifile/v6/struct_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Add LogAccumulator storing all logs before serializing them into the khifile
  pkg/model/khifile/v6/README.md
  pkg/model/khifile/v6/ids.go
  pkg/model/khifile/v6/log_accumulator.go
  pkg/model/khifile/v6/log_accumulator_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Add Inventory/Discovery tasks for parsing the map from NEG name to BS name
  pkg/task/inspection/googlecloudk8scommon/contract/inventory.go
  pkg/task/inspection/googlecloudk8scommon/impl/negtobackendservice_inventory.go
  pkg/task/inspection/googlecloudk8scommon/impl/registration.go
  pkg/task/inspection/googlecloudlogk8saudit/contract/taskid.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/neg_discovery_task.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/neg_discovery_task_test.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/parser.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/registration.go
  pkg/task/inspection/googlecloudlogk8sevent/contract/taskid.go
  pkg/task/inspection/googlecloudlogk8sevent/impl/neg_discovery_task.go
  pkg/task/inspection/googlecloudlogk8sevent/impl/neg_discovery_task_test.go
  pkg/task/inspection/googlecloudlogk8sevent/impl/registration.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Adding form task to receive the fleet project and query task to gather logs from Cloud Logging
  pkg/task/inspection/googlecloudlogcsm/README.md
  pkg/task/inspection/googlecloudlogcsm/contract/taskid.go
  pkg/task/inspection/googlecloudlogcsm/impl/cluster_identifier_task.go
  pkg/task/inspection/googlecloudlogcsm/impl/cluster_identifier_task_test.go
  pkg/task/inspection/googlecloudlogcsm/impl/form_task.go
  pkg/task/inspection/googlecloudlogcsm/impl/registration.go
  pkg/task/inspection/googlecloudlogcsm/impl/traffic_director_query_task.go
  pkg/task/inspection/googlecloudlogcsm/impl/traffic_director_query_task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Add timeline mapper for traffic director resource logs
  pkg/model/history/resourcepath/gcp.go
  pkg/task/inspection/googlecloudcommon/contract/fieldset.go
  pkg/task/inspection/googlecloudcommon/contract/fieldset_test.go
  pkg/task/inspection/googlecloudcommon/contract/operation_tracker.go
  pkg/task/inspection/googlecloudcommon/contract/operation_tracker_test.go
  pkg/task/inspection/googlecloudlogcsm/contract/taskid.go
  pkg/task/inspection/googlecloudlogcsm/impl/registration.go
  pkg/task/inspection/googlecloudlogcsm/impl/traffic_director_parser_task.go
  pkg/task/inspection/googlecloudlogcsm/impl/traffic_director_parser_task_test.go
  pkg/task/inspection/googlecloudlognetworkapiaudit/impl/parser_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Add LogAccumulator storing all logs before serializing them into the (#633)
  pkg/model/khifile/v6/README.md
  pkg/model/khifile/v6/ids.go
  pkg/model/khifile/v6/log_accumulator.go
  pkg/model/khifile/v6/log_accumulator_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Add TimelinePath utilities and IDNamespace used for timeline types
  pkg/model/khifile/v6/timeline_builder.go
  pkg/model/khifile/v6/timeline_builder_test.go
  pkg/model/khifile/v6/timeline_path.go
  pkg/model/khifile/v6/timeline_path_test.go
  pkg/model/khifile/v6/timeline_registry.go
  pkg/model/khifile/v6/timeline_registry_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Add TimelinePath utilities and IDNamespace used for timeline types (#632)
  pkg/model/khifile/v6/timeline_builder.go
  pkg/model/khifile/v6/timeline_builder_test.go
  pkg/model/khifile/v6/timeline_path.go
  pkg/model/khifile/v6/timeline_path_test.go
  pkg/model/khifile/v6/timeline_registry.go
  pkg/model/khifile/v6/timeline_registry_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Added serializer for timeline registry to flush contents as proto
  pkg/model/khifile/v6/timeline_path.go
  pkg/model/khifile/v6/timeline_registry.go
  pkg/model/khifile/v6/timeline_serializer.go
  pkg/model/khifile/v6/timeline_serializer_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix set-input suggestion being wrapped for every lines
  web/src/app/shared/components/set-input/default-chip.component.scss
  web/src/app/timeline-toolbar/components/set-input-popup.component.scss
Owners: @kyasbal, @renamoo, @jyane

Update web/src/app/timeline-toolbar/components/set-input-popup.component.scss
  web/src/app/timeline-toolbar/components/set-input-popup.component.scss
Owners: @kyasbal, @renamoo, @jyane

feat: Adding TimelineStyleRegistry
  .github/workflows/pullrequest.yaml
  .gitignore
  pkg/model/khifile/v6/style/timeline.go
  pkg/model/khifile/v6/style/timeline_test.go
  scripts/make/codegen.mk
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Add Inventory/Discovery tasks for parsing the map from NEG name to BS name (#635)
  pkg/task/inspection/googlecloudk8scommon/contract/inventory.go
  pkg/task/inspection/googlecloudk8scommon/impl/negtobackendservice_inventory.go
  pkg/task/inspection/googlecloudk8scommon/impl/registration.go
  pkg/task/inspection/googlecloudlogk8saudit/contract/taskid.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/neg_discovery_task.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/neg_discovery_task_test.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/parser.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/registration.go
  pkg/task/inspection/googlecloudlogk8sevent/contract/taskid.go
  pkg/task/inspection/googlecloudlogk8sevent/impl/neg_discovery_task.go
  pkg/task/inspection/googlecloudlogk8sevent/impl/neg_discovery_task_test.go
  pkg/task/inspection/googlecloudlogk8sevent/impl/registration.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Adding form task to receive the fleet project and query task to gather logs from Cloud Logging
  pkg/task/inspection/googlecloudlogcsm/README.md
  pkg/task/inspection/googlecloudlogcsm/contract/taskid.go
  pkg/task/inspection/googlecloudlogcsm/impl/cluster_identifier_task.go
  pkg/task/inspection/googlecloudlogcsm/impl/cluster_identifier_task_test.go
  pkg/task/inspection/googlecloudlogcsm/impl/form_task.go
  pkg/task/inspection/googlecloudlogcsm/impl/registration.go
  pkg/task/inspection/googlecloudlogcsm/impl/traffic_director_query_task.go
  pkg/task/inspection/googlecloudlogcsm/impl/traffic_director_query_task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Add fleet PJ form task and query task to gather CSM TD audit logs (#636)
  pkg/task/inspection/googlecloudlogcsm/README.md
  pkg/task/inspection/googlecloudlogcsm/contract/taskid.go
  pkg/task/inspection/googlecloudlogcsm/impl/cluster_identifier_task.go
  pkg/task/inspection/googlecloudlogcsm/impl/cluster_identifier_task_test.go
  pkg/task/inspection/googlecloudlogcsm/impl/form_task.go
  pkg/task/inspection/googlecloudlogcsm/impl/registration.go
  pkg/task/inspection/googlecloudlogcsm/impl/traffic_director_query_task.go
  pkg/task/inspection/googlecloudlogcsm/impl/traffic_director_query_task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Add timeline mapper for traffic director resource logs
  pkg/model/history/resourcepath/gcp.go
  pkg/task/inspection/googlecloudcommon/contract/fieldset.go
  pkg/task/inspection/googlecloudcommon/contract/fieldset_test.go
  pkg/task/inspection/googlecloudcommon/contract/operation_tracker.go
  pkg/task/inspection/googlecloudcommon/contract/operation_tracker_test.go
  pkg/task/inspection/googlecloudlogcsm/contract/taskid.go
  pkg/task/inspection/googlecloudlogcsm/impl/registration.go
  pkg/task/inspection/googlecloudlogcsm/impl/traffic_director_parser_task.go
  pkg/task/inspection/googlecloudlogcsm/impl/traffic_director_parser_task_test.go
  pkg/task/inspection/googlecloudlognetworkapiaudit/impl/parser_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Add timeline mapper for TD resource logs (#637)
  pkg/model/history/resourcepath/gcp.go
  pkg/task/inspection/googlecloudcommon/contract/fieldset.go
  pkg/task/inspection/googlecloudcommon/contract/fieldset_test.go
  pkg/task/inspection/googlecloudcommon/contract/operation_tracker.go
  pkg/task/inspection/googlecloudcommon/contract/operation_tracker_test.go
  pkg/task/inspection/googlecloudlogcsm/contract/taskid.go
  pkg/task/inspection/googlecloudlogcsm/impl/registration.go
  pkg/task/inspection/googlecloudlogcsm/impl/traffic_director_parser_task.go
  pkg/task/inspection/googlecloudlogcsm/impl/traffic_director_parser_task_test.go
  pkg/task/inspection/googlecloudlognetworkapiaudit/impl/parser_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

.github/CODEOWNERS:

# Github Actions
.github/ @kyasbal
.cloudbuild/ @kyasbal

# Golang related files
cmd/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima
pkg/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima
test/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima

# Web front related files
web/ @kyasbal @renamoo @jyane
