Repository GoogleCloudPlatform/khi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

.github/CODEOWNERS:

# Github Actions
.github/ @kyasbal
.cloudbuild/ @kyasbal

# Golang related files
cmd/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima
pkg/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima
test/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima

# Web front related files
web/ @kyasbal @renamoo @jyane

Removed InternedStuctDTO (#664)
  buf.yaml
  pkg/generated/khifile/shared.pb.go
  pkg/generated/khifile/v6/log.pb.go
  pkg/generated/khifile/v6/timeline.pb.go
  pkg/model/khifile/v6/struct.go
  pkg/model/khifile/v6/struct_test.go
  proto/khifile/shared.proto
  proto/khifile/v6/log.proto
  proto/khifile/v6/timeline.proto
  web/src/app/generated/khifile/shared_pb.d.ts
  web/src/app/generated/khifile/shared_pb.js
  web/src/app/generated/khifile/v6/log_pb.d.ts
  web/src/app/generated/khifile/v6/log_pb.js
  web/src/app/generated/khifile/v6/shared_pb.js
  web/src/app/generated/khifile/v6/timeline_pb.d.ts
  web/src/app/generated/khifile/v6/timeline_pb.js
  web/src/app/store/domain/struct-decoder.spec.ts
  web/src/app/store/domain/struct-decoder.ts
  web/src/app/store/domain/types.ts
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

add v6 khi file builder (#652)
  pkg/model/khifile/v6/builder.go
  pkg/model/khifile/v6/builder_test.go
  pkg/model/khifile/v6/generator.go
  pkg/model/khifile/v6/timeline_accumulator.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Removed redundant v from the version string
  web/src/app/header/components/header.component.html
  web/src/app/header/components/header.component.spec.ts
Owners: @kyasbal, @renamoo, @jyane

Added log related domain stores
  web/src/app/store/domain/log-store.spec.ts
  web/src/app/store/domain/log-store.ts
  web/src/app/store/domain/log.ts
  web/src/app/utils/bigint-time-util.spec.ts
  web/src/app/utils/bigint-time-util.ts
Owners: @kyasbal, @renamoo, @jyane

Add listing methods in style-store
  web/src/app/store/domain/style-store.spec.ts
  web/src/app/store/domain/style-store.ts
Owners: @kyasbal, @renamoo, @jyane

Updated the frontend-codegen to generate icon list from registered styles
  pkg/model/khifile/v6/style/assets/zzz-icon-codepoints.json
  pkg/model/khifile/v6/style/assets/zzz-material-icons-msdf.json
  pkg/model/khifile/v6/style/assets/zzz-material-icons-msdf.png
  pkg/task/inspection/commonlogk8saudit/contract/styles.go
  scripts/fontlist-gen/main.go
  scripts/frontend-codegen/main.go
  scripts/frontend-codegen/templates/generated.scss.gtpl
  scripts/frontend-codegen/templates/generated.ts.gtpl
  scripts/make/codegen.mk
  web/.gitignore
  web/src/app/zzz-generated.scss
  web/src/app/zzz-generated.ts
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

bugfix: automatic log scroll is not matching to the actual element
  web/src/app/log/components/log-list.component.ts
Owners: @kyasbal, @renamoo, @jyane

Removed redundant v from the version string (#671)
  web/src/app/header/components/header.component.html
  web/src/app/header/components/header.component.spec.ts
Owners: @kyasbal, @renamoo, @jyane

bugfix: automatic log scroll is not matching to the actual element (#675)
  web/src/app/log/components/log-list.component.ts
Owners: @kyasbal, @renamoo, @jyane

bugfix: ignore changing selected timeline when user clicked a log from log list
  web/src/app/services/selection-manager.service.ts
  web/src/app/timeline/components/timeline-frame.component.ts
Owners: @kyasbal, @renamoo, @jyane

bugfix: automatic scroll to the beginning time of log query when user selected a timeline without point to a log
  web/src/app/timeline/components/timeline-frame.component.ts
Owners: @kyasbal, @renamoo, @jyane

bugfix: scaling around right edge of query duration may be clipped to jump to other timing
  web/src/app/timeline/components/timeline-frame.component.ts
Owners: @kyasbal, @renamoo, @jyane
