Repository GoogleCloudPlatform/khi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @renamoo

.github/CODEOWNERS:

# Github Actions
.github/ @kyasbal
.cloudbuild/ @kyasbal

# Golang related files
cmd/ @kyasbal @RyuSA @jyane @yfuruyama
pkg/ @kyasbal @RyuSA @jyane @yfuruyama
test/ @kyasbal @RyuSA @jyane @yfuruyama

# Web front related files
web/ @kyasbal @renamoo @jyane

Show indeterminate status on task progress bar
  web/src/app/dialogs/startup/startup.component.html
  web/src/app/dialogs/startup/startup.component.scss
  web/src/app/dialogs/startup/startup.component.ts
Owners: @kyasbal, @renamoo, @jyane

Simplify log metadata and moved log logics under inspection/logger
  pkg/core/inspection/runner.go
  pkg/inspection/logger/global_logger.go
  pkg/inspection/logger/global_logger_test.go
  pkg/inspection/logger/severity_filter.go
  pkg/inspection/logger/severity_filter_test.go
  pkg/inspection/logger/tee_handler.go
  pkg/inspection/logger/tee_handler_test.go
  pkg/inspection/logger/throttle.go
  pkg/inspection/logger/throttle_filter.go
  pkg/inspection/logger/throttle_filter_test.go
  pkg/inspection/logger/throttle_test.go
  pkg/inspection/metadata/log/log.go
  pkg/inspection/metadata/log/log_test.go
  pkg/inspection/metadata/logger/logger.go
  pkg/inspection/metadata/logger/logger_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Moved utility logics of progress bar to inspection/progress
  pkg/core/inspection/runner.go
  pkg/inspection/form/fileform.go
  pkg/inspection/metadata/progress/conformance_test.go
  pkg/inspection/metadata/progress/progress.go
  pkg/inspection/metadata/progress/progress_test.go
  pkg/inspection/progressutil/indeterminate_updator.go
  pkg/inspection/progressutil/indeterminate_updator_test.go
  pkg/inspection/progressutil/progress_updator.go
  pkg/inspection/progressutil/progress_updator_test.go
  pkg/inspection/progressutil/progress_util.go
  pkg/inspection/progressutil/progress_util_test.go
  pkg/inspection/task/task.go
  pkg/parser/parser.go
  pkg/source/common/k8s_audit/recorder/task.go
  pkg/source/common/k8s_audit/v2commonlogparse/task.go
  pkg/source/common/k8s_audit/v2logconvert/task.go
  pkg/source/common/k8s_audit/v2manifestgenerate/task.go
  pkg/source/common/k8s_audit/v2timelinegrouping/task.go
  pkg/source/oss/parser/logfile-reader.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Moved task related test packages
  docs/en/khi-task-system-concept.md
  pkg/core/inspection/formtask/test/testutil.go
  pkg/core/inspection/formtask/textform_test.go
  pkg/core/inspection/logger/global_logger_test.go
  pkg/core/inspection/taskbase/cached_task_test.go
  pkg/core/inspection/test/testutil.go
  pkg/core/task/test/testutil.go
  pkg/server/server_test.go
  pkg/source/common/k8s_audit/v2logconvert/task_test.go
  pkg/source/common/k8s_audit/v2manifestgenerate/task_test.go
  pkg/source/common/k8s_audit/v2timelinegrouping/task_test.go
  pkg/source/gcp/task/form_test.go
  pkg/source/gcp/task/gcpcommon/filename_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Filename and type name refactoring on inspection metadata package
  pkg/core/inspection/metadata/conformance_test.go
  pkg/core/inspection/metadata/error_metadata.go
  pkg/core/inspection/metadata/form_metadata.go
  pkg/core/inspection/metadata/form_metadata_test.go
  pkg/core/inspection/metadata/header_metadata.go
  pkg/core/inspection/metadata/keys.go
  pkg/core/inspection/metadata/log_metadata.go
  pkg/core/inspection/metadata/log_metadata_test.go
  pkg/core/inspection/metadata/plan_metadata.go
  pkg/core/inspection/metadata/progress_metadata.go
  pkg/core/inspection/metadata/progress_metadata_test.go
  pkg/core/inspection/metadata/query_metadata.go
  pkg/core/inspection/metadata/query_metadata_test.go
  pkg/core/inspection/parsertask/parser.go
  pkg/core/inspection/progressutil/indeterminate_updator.go
  pkg/core/inspection/progressutil/indeterminate_updator_test.go
  pkg/core/inspection/progressutil/progress_updator.go
  pkg/core/inspection/progressutil/progress_updator_test.go
  pkg/core/inspection/progressutil/progress_util.go
  pkg/core/inspection/progressutil/progress_util_test.go
  pkg/core/inspection/runner.go
  pkg/core/inspection/taskbase/task.go
  pkg/core/inspection/test/testutil.go
  pkg/model/binarychunk/builder.go
  pkg/model/binarychunk/builder_test.go
  pkg/model/history/builder.go
  pkg/server/server_test.go
  pkg/source/common/k8s_audit/recorder/task.go
  pkg/source/common/k8s_audit/v2commonlogparse/task.go
  pkg/source/common/k8s_audit/v2logconvert/task.go
  pkg/source/common/k8s_audit/v2manifestgenerate/task.go
  pkg/source/common/k8s_audit/v2timelinegrouping/task.go
  pkg/source/gcp/query/query.go
  pkg/source/gcp/query/queryutil/parallel.go
  pkg/source/gcp/task/gcpcommon/filename.go
  pkg/source/oss/parser/logfile-reader.go
  pkg/task/inspection/impl/serializer.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Add optimized pattern finder data structure
  pkg/common/patternfinder/finder.go
  pkg/common/patternfinder/finder_test.go
  pkg/common/patternfinder/interface.go
  pkg/common/patternfinder/interface_test.go
  pkg/common/patternfinder/naive.go
  pkg/common/patternfinder/trie.go
  pkg/common/typeddict/typeddict.go
  pkg/common/typeddict/typeddict_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Added missing testflags import
  pkg/common/patternfinder/finder_test.go
  pkg/common/typeddict/typeddict_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Add GeminiCLI Github Action experimentally
  .github/workflows/gemini-cli.yml
  .github/workflows/gemini-issue-automated-triage.yml
  .github/workflows/gemini-issue-scheduled-triage.yml
  .github/workflows/gemini-pr-review.yml
Owners: @kyasbal

[WIP] Adding the new base parser task types
  docs/en/khi-task-system-concept.md
  pkg/core/inspection/legacyparser/parser.go
  pkg/core/inspection/taskbase/fieldsetread_task.go
  pkg/core/inspection/taskbase/fieldsetread_task_test.go
  pkg/core/inspection/taskbase/historymodifier_task.go
  pkg/core/inspection/taskbase/logfilter_task.go
  pkg/core/inspection/taskbase/logfilter_task_test.go
  pkg/core/inspection/taskbase/loggroup_task.go
  pkg/core/inspection/taskbase/loggroup_task_test.go
  pkg/source/apache-airflow/airflow-scheduler/parser.go
  pkg/source/apache-airflow/airflow-worker/parser.go
  pkg/source/apache-airflow/dag-processor-manager/parser.go
  pkg/source/gcp/task/cloud-composer/parser.go
  pkg/source/gcp/task/gke/autoscaler/parser.go
  pkg/source/gcp/task/gke/compute_api/parser.go
  pkg/source/gcp/task/gke/gke_audit/parser.go
  pkg/source/gcp/task/gke/k8s_container/parser.go
  pkg/source/gcp/task/gke/k8s_control_plane_component/parser.go
  pkg/source/gcp/task/gke/k8s_event/parser.go
  pkg/source/gcp/task/gke/k8s_node/parser.go
  pkg/source/gcp/task/gke/network_api/parser.go
  pkg/source/gcp/task/gke/serialport/parser.go
  pkg/source/gcp/task/multicloud_api/parser.go
  pkg/source/gcp/task/onprem_api/parser.go
  pkg/source/oss/parser/event.go
  pkg/testutil/parser/parser.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Add tests for logger
  pkg/inspection/logger/format_test.go
  pkg/inspection/logger/severity_filter_test.go
  pkg/inspection/logger/throttle_filter.go
  pkg/inspection/logger/throttle_filter_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Refactor task folder structure for common tasks used for Google Cloud
  cmd/kubernetes-history-inspector/main.go
  pkg/source/gcp/query/query.go
  pkg/source/gcp/task/autocomplete.go
  pkg/source/gcp/task/cloud-composer/form/autocomplete.go
  pkg/source/gcp/task/cloud-composer/form/form.go
  pkg/source/gcp/task/cloud-composer/query/query.go
  pkg/source/gcp/task/cloud-composer/query/query_test.go
  pkg/source/gcp/task/form.go
  pkg/source/gcp/task/form_test.go
  pkg/source/gcp/task/gcpcommon/filename.go
  pkg/source/gcp/task/gcpcommon/filename_test.go
  pkg/source/gcp/task/gdcv-for-baremetal/autocomplete.go
  pkg/source/gcp/task/gdcv-for-vmware/autocomplete.go
  pkg/source/gcp/task/gke-on-aws/autocomplete.go
  pkg/source/gcp/task/gke-on-azure/autocomplete.go
  pkg/source/gcp/task/gke/autocomplete.go
  pkg/source/gcp/task/gke/autoscaler/query.go
  pkg/source/gcp/task/gke/gke_audit/query.go
  pkg/source/gcp/task/gke/k8s_control_plane_component/query.go
  pkg/source/gcp/task/gke/k8s_event/query.go
  pkg/source/gcp/task/gke/k8s_node/query.go
  pkg/source/gcp/task_registrer.go
  pkg/source/gcp/task_registrer_test.go
  pkg/task/inspection/contract/taskid.go
  pkg/task/inspection/googlecloudcommon/contract/formpriority.go
  pkg/task/inspection/googlecloudcommon/contract/resourcename.go
  pkg/task/inspection/googlecloudcommon/contract/taskid.go
  pkg/task/inspection/googlecloudcommon/impl/inputduration_task.go
  pkg/task/inspection/googlecloudcommon/impl/inputduration_task_test.go
  pkg/task/inspection/googlecloudcommon/impl/inputendtime_task.go
  pkg/task/inspection/googlecloudcommon/impl/inputendtime_task_test.go
  pkg/task/inspection/googlecloudcommon/impl/inputloggingfilterresourcename_task.go
  pkg/task/inspection/googlecloudcommon/impl/inputprojectid_task.go
  pkg/task/inspection/googlecloudcommon/impl/inputprojectid_task_test.go
  pkg/task/inspection/googlecloudcommon/impl/inputstarttime_task.go
  pkg/task/inspection/googlecloudcommon/impl/inputstarttime_task_test.go
  pkg/task/inspection/googlecloudcommon/impl/registration.go
  pkg/task/inspection/impl/timezoneshiftinput_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Moved GKE cluster specific tasks to googlecloudclustergke
  cmd/kubernetes-history-inspector/main.go
  cmd/reference-generator/main.go
  pkg/source/gcp/task_registrer.go
  pkg/source/gcp/task_registrer_test.go
  pkg/task/inspection/googlecloudclustergke/contract/inspectiontype.go
  pkg/task/inspection/googlecloudclustergke/contract/taskid.go
  pkg/task/inspection/googlecloudclustergke/impl/autocompletegkeclusternames_task.go
  pkg/task/inspection/googlecloudclustergke/impl/gkeclusternameprefix_task.go
  pkg/task/inspection/googlecloudclustergke/impl/registration.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Moved GDC for VMWare specific tasks under googlecloudclustergdcvvmware
  cmd/kubernetes-history-inspector/main.go
  cmd/reference-generator/main.go
  pkg/source/gcp/inspectiontype/inspection_type.go
  pkg/source/gcp/task/gdcv-for-vmware/autocomplete.go
  pkg/source/gcp/task/gke/inspection-type.go
  pkg/source/gcp/task/gke/prefix.go
  pkg/source/gcp/task_registrer.go
  pkg/task/inspection/googlecloudclustergdcvmware/contract/inspectiontype.go
  pkg/task/inspection/googlecloudclustergdcvmware/contract/taskid.go
  pkg/task/inspection/googlecloudclustergdcvmware/impl/autocompletegdcvforvmwareclusternames_task.go
  pkg/task/inspection/googlecloudclustergdcvmware/impl/gdcvforvmwareclusternameprefix_task.go
  pkg/task/inspection/googlecloudclustergdcvmware/impl/registration.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Moved GDC specific types under googlecloudclustergdcvmware or googlecloudclustergdcbaremetal
  cmd/kubernetes-history-inspector/main.go
  cmd/reference-generator/main.go
  pkg/source/gcp/inspectiontype/inspection_type.go
  pkg/source/gcp/task_registrer.go
  pkg/task/inspection/googlecloudclustergdcbaremetal/contract/inspectiontype.go
  pkg/task/inspection/googlecloudclustergdcbaremetal/contract/taskid.go
  pkg/task/inspection/googlecloudclustergdcbaremetal/impl/autocompletegdcvforbaremetalclusternames_task.go
  pkg/task/inspection/googlecloudclustergdcbaremetal/impl/gdcvforbaremetalclusternameprefix_task.go
  pkg/task/inspection/googlecloudclustergdcbaremetal/impl/registration.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Move composer cluster related tasks under googlecloudclustercomposer
  cmd/kubernetes-history-inspector/main.go
  cmd/reference-generator/main.go
  pkg/source/gcp/inspectiontype/inspection_type.go
  pkg/source/gcp/task/cloud-composer/paeser_test.go
  pkg/source/gcp/task/cloud-composer/parser.go
  pkg/source/gcp/task/cloud-composer/taskid/taskid.go
  pkg/source/gcp/task_registrer.go
  pkg/source/gcp/task_registrer_test.go
  pkg/task/inspection/googlecloudclustercomposer/contract/inspection_type.go
  pkg/task/inspection/googlecloudclustercomposer/contract/taskid.go
  pkg/task/inspection/googlecloudclustercomposer/impl/autocompletecomposerclusternames_task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/autocompletecomposerenvironmentnames_task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/inputcomposerenvironmentname_task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/parser_task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/prefix.go
  pkg/task/inspection/googlecloudclustercomposer/impl/query_task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/query_task_test.go
  pkg/task/inspection/googlecloudclustercomposer/impl/registration.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Moved GKE on multicloud cluster specific tasks under googlecloudclustergkeonaws or googlecloudclustergkeonazure
  cmd/kubernetes-history-inspector/main.go
  cmd/reference-generator/main.go
  pkg/source/gcp/inspectiontype/inspection_type.go
  pkg/source/gcp/task_registrer.go
  pkg/task/inspection/googlecloudclustergkeonaws/contract/inspection_type.go
  pkg/task/inspection/googlecloudclustergkeonaws/contract/taskid.go
  pkg/task/inspection/googlecloudclustergkeonaws/impl/autocomplete.go
  pkg/task/inspection/googlecloudclustergkeonaws/impl/prefix.go
  pkg/task/inspection/googlecloudclustergkeonaws/impl/registration.go
  pkg/task/inspection/googlecloudclustergkeonazure/contract/inspection_type.go
  pkg/task/inspection/googlecloudclustergkeonazure/contract/taskid.go
  pkg/task/inspection/googlecloudclustergkeonazure/impl/autocomplete.go
  pkg/task/inspection/googlecloudclustergkeonazure/impl/prefix.go
  pkg/task/inspection/googlecloudclustergkeonazure/impl/registration.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Move composer cluster related tasks under googlecloudclustercomposer
  cmd/kubernetes-history-inspector/main.go
  cmd/reference-generator/main.go
  pkg/source/gcp/inspectiontype/inspection_type.go
  pkg/source/gcp/task/cloud-composer/paeser_test.go
  pkg/source/gcp/task/cloud-composer/parser.go
  pkg/source/gcp/task/cloud-composer/taskid/taskid.go
  pkg/source/gcp/task_registrer.go
  pkg/source/gcp/task_registrer_test.go
  pkg/task/inspection/googlecloudclustercomposer/contract/inspection_type.go
  pkg/task/inspection/googlecloudclustercomposer/contract/taskid.go
  pkg/task/inspection/googlecloudclustercomposer/impl/airflow-common/util.go
  pkg/task/inspection/googlecloudclustercomposer/impl/airflow-dag-processor-manager/parser.go
  pkg/task/inspection/googlecloudclustercomposer/impl/airflow-dag-processor-manager/parser_test.go
  pkg/task/inspection/googlecloudclustercomposer/impl/airflow-scheduler/parser.go
  pkg/task/inspection/googlecloudclustercomposer/impl/airflow-scheduler/parser_test.go
  pkg/task/inspection/googlecloudclustercomposer/impl/airflow-worker/parser.go
  pkg/task/inspection/googlecloudclustercomposer/impl/airflow-worker/parser_test.go
  pkg/task/inspection/googlecloudclustercomposer/impl/autocompletecomposerclusternames_task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/autocompletecomposerenvironmentnames_task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/inputcomposerenvironmentname_task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/parser_task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/prefix.go
  pkg/task/inspection/googlecloudclustercomposer/impl/query_task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/query_task_test.go
  pkg/task/inspection/googlecloudclustercomposer/impl/registration.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Moved Multicloud/OnPrem API audit log parser related tasks under the newer task package location
  cmd/kubernetes-history-inspector/main.go
  cmd/reference-generator/main.go
  pkg/source/gcp/task_registrer.go
  pkg/source/gcp/task_registrer_test.go
  pkg/task/inspection/googlecloudlogmulticloudapiaudit/contract/taskid.go
  pkg/task/inspection/googlecloudlogmulticloudapiaudit/impl/parser_task.go
  pkg/task/inspection/googlecloudlogmulticloudapiaudit/impl/parser_task_test.go
  pkg/task/inspection/googlecloudlogmulticloudapiaudit/impl/query_task.go
  pkg/task/inspection/googlecloudlogmulticloudapiaudit/impl/query_task_test.go
  pkg/task/inspection/googlecloudlogmulticloudapiaudit/impl/registration.go
  pkg/task/inspection/googlecloudlogonpremapiaudit/contract/taskid.go
  pkg/task/inspection/googlecloudlogonpremapiaudit/impl/parser_task.go
  pkg/task/inspection/googlecloudlogonpremapiaudit/impl/parser_task_test.go
  pkg/task/inspection/googlecloudlogonpremapiaudit/impl/query_task.go
  pkg/task/inspection/googlecloudlogonpremapiaudit/impl/query_task_test.go
  pkg/task/inspection/googlecloudlogonpremapiaudit/impl/registration.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Moved compute engine API related task to the new package structure
  cmd/kubernetes-history-inspector/main.go
  cmd/reference-generator/main.go
  pkg/source/gcp/task/gke/compute_api/taskid/taskid.go
  pkg/source/gcp/task_registrer.go
  pkg/source/gcp/task_registrer_test.go
  pkg/task/inspection/googlecloudlogcomputeapiaudit/contract/taskid.go
  pkg/task/inspection/googlecloudlogcomputeapiaudit/impl/parser_task.go
  pkg/task/inspection/googlecloudlogcomputeapiaudit/impl/parser_task_test.go
  pkg/task/inspection/googlecloudlogcomputeapiaudit/impl/query_task.go
  pkg/task/inspection/googlecloudlogcomputeapiaudit/impl/query_task_test.go
  pkg/task/inspection/googlecloudlogcomputeapiaudit/impl/registration.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Move GKE audit log related tasks to follow the new package structure rule
  cmd/kubernetes-history-inspector/main.go
  cmd/reference-generator/main.go
  pkg/source/gcp/task_registrer.go
  pkg/source/gcp/task_registrer_test.go
  pkg/task/inspection/googlecloudloggkeapiaudit/contract/taskid.go
  pkg/task/inspection/googlecloudloggkeapiaudit/impl/parser_task.go
  pkg/task/inspection/googlecloudloggkeapiaudit/impl/parser_task_test.go
  pkg/task/inspection/googlecloudloggkeapiaudit/impl/query_task.go
  pkg/task/inspection/googlecloudloggkeapiaudit/impl/query_task_test.go
  pkg/task/inspection/googlecloudloggkeapiaudit/impl/registration.go
  pkg/task/inspection/googlecloudlogmulticloudapiaudit/contract/taskid.go
  pkg/task/inspection/googlecloudlogonpremapiaudit/contract/taskid.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Move serialport log parser related tasks to follow the new structure
  cmd/kubernetes-history-inspector/main.go
  cmd/reference-generator/main.go
  pkg/source/gcp/task_registrer.go
  pkg/source/gcp/task_registrer_test.go
  pkg/task/inspection/googlecloudlogserialport/contract/taskid.go
  pkg/task/inspection/googlecloudlogserialport/impl/parser_task.go
  pkg/task/inspection/googlecloudlogserialport/impl/parser_task_test.go
  pkg/task/inspection/googlecloudlogserialport/impl/query_task.go
  pkg/task/inspection/googlecloudlogserialport/impl/query_task_test.go
  pkg/task/inspection/googlecloudlogserialport/impl/registration.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Move node name input task under googlecloudk8scommon
  pkg/source/gcp/task/gke/k8s_container/form.go
  pkg/source/gcp/task/gke/k8s_control_plane_component/form.go
  pkg/source/gcp/task/gke/k8s_node/query.go
  pkg/source/gcp/task_registrer.go
  pkg/task/inspection/googlecloudcommon/contract/formpriority.go
  pkg/task/inspection/googlecloudk8scommon/contract/taskid.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputnodename_task.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputnodename_task_test.go
  pkg/task/inspection/googlecloudk8scommon/impl/registration.go
  pkg/task/inspection/googlecloudlogserialport/impl/query_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Move k8s event log related tasks to the new package structure
  cmd/kubernetes-history-inspector/main.go
  cmd/reference-generator/main.go
  pkg/source/gcp/task_registrer.go
  pkg/source/gcp/task_registrer_test.go
  pkg/task/inspection/googlecloudlogk8sevent/contract/contract.go
  pkg/task/inspection/googlecloudlogk8sevent/impl/parser_task.go
  pkg/task/inspection/googlecloudlogk8sevent/impl/parser_task_test.go
  pkg/task/inspection/googlecloudlogk8sevent/impl/query_task.go
  pkg/task/inspection/googlecloudlogk8sevent/impl/query_task_test.go
  pkg/task/inspection/googlecloudlogk8sevent/impl/registration.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Move GCE Network API log related tasks to follow the new package structure
  cmd/kubernetes-history-inspector/main.go
  cmd/reference-generator/main.go
  pkg/source/gcp/task/gke/network_api/neg.go
  pkg/source/gcp/task_registrer.go
  pkg/source/gcp/task_registrer_test.go
  pkg/task/inspection/googlecloudlognetworkapiaudit/contract/taskid.go
  pkg/task/inspection/googlecloudlognetworkapiaudit/impl/parser_task.go
  pkg/task/inspection/googlecloudlognetworkapiaudit/impl/query_task.go
  pkg/task/inspection/googlecloudlognetworkapiaudit/impl/query_task_test.go
  pkg/task/inspection/googlecloudlognetworkapiaudit/impl/registration.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Move k8s node parser tasks to follow the new package structure rule
  cmd/kubernetes-history-inspector/main.go
  cmd/reference-generator/main.go
  pkg/source/gcp/task_registrer.go
  pkg/source/gcp/task_registrer_test.go
  pkg/task/inspection/googlecloudlogk8snode/contract/taskid.go
  pkg/task/inspection/googlecloudlogk8snode/impl/parser_task.go
  pkg/task/inspection/googlecloudlogk8snode/impl/parser_task_test.go
  pkg/task/inspection/googlecloudlogk8snode/impl/query_task.go
  pkg/task/inspection/googlecloudlogk8snode/impl/query_task_test.go
  pkg/task/inspection/googlecloudlogk8snode/impl/registration.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Move k8s container logs related tasks to follow the new package structure
  cmd/kubernetes-history-inspector/main.go
  cmd/reference-generator/main.go
  pkg/source/gcp/task/gke/k8s_container/taskid/taskid.go
  pkg/source/gcp/task_registrer.go
  pkg/source/gcp/task_registrer_test.go
  pkg/task/inspection/googlecloudlogk8scontainer/contract/taskid.go
  pkg/task/inspection/googlecloudlogk8scontainer/impl/form_task.go
  pkg/task/inspection/googlecloudlogk8scontainer/impl/parser_task.go
  pkg/task/inspection/googlecloudlogk8scontainer/impl/parser_task_test.go
  pkg/task/inspection/googlecloudlogk8scontainer/impl/query_task.go
  pkg/task/inspection/googlecloudlogk8scontainer/impl/query_task_test.go
  pkg/task/inspection/googlecloudlogk8scontainer/impl/registration.go
  pkg/task/inspection/googlecloudlogk8scontainer/impl/severity_parser.go
  pkg/task/inspection/googlecloudlogk8scontainer/impl/severity_parser_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

move autoscaler related tasks to match the new package structure rule
  cmd/kubernetes-history-inspector/main.go
  cmd/reference-generator/main.go
  pkg/source/gcp/task_registrer.go
  pkg/source/gcp/task_registrer_test.go
  pkg/task/inspection/googlecloudloggkeautoscaler/contract/taskid.go
  pkg/task/inspection/googlecloudloggkeautoscaler/impl/parser.go
  pkg/task/inspection/googlecloudloggkeautoscaler/impl/query.go
  pkg/task/inspection/googlecloudloggkeautoscaler/impl/query_test.go
  pkg/task/inspection/googlecloudloggkeautoscaler/impl/registration.go
  pkg/task/inspection/googlecloudloggkeautoscaler/impl/types.go
  pkg/task/inspection/googlecloudloggkeautoscaler/impl/types_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Removed unused type
  pkg/source/gcp/types/query.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Move k8s controlplane log to the new package structure
  cmd/kubernetes-history-inspector/main.go
  cmd/reference-generator/main.go
  pkg/source/gcp/task/gke/k8s_control_plane_component/taskid/taskid.go
  pkg/source/gcp/task_registrer_test.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/contract/taskid.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/componentparser/controllermanager.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/componentparser/controllermanager_test.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/componentparser/default.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/componentparser/scheduler.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/componentparser/scheduler_test.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/componentparser/type.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/form_task.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/parser_task.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/query_task.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/query_task_test.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/registration.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Moved k8s audit log on GKE related tasks to the new package structure
  cmd/kubernetes-history-inspector/main.go
  cmd/reference-generator/main.go
  pkg/source/common/k8s_audit/recorder/containerstatusrecorder/recorder_test.go
  pkg/source/common/k8s_audit/v2manifestgenerate/task_test.go
  pkg/source/gcp/k8s/setup_test.go
  pkg/source/gcp/task_registrer_test.go
  pkg/task/inspection/googlecloudlogcomputeapiaudit/impl/query_task.go
  pkg/task/inspection/googlecloudlogk8saudit/contract/taskid.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/fieldextractor/fieldextractor.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/fieldextractor/k8s.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/fieldextractor/k8s_test.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/parser_v2.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/query.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/query_test.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/registration.go
  pkg/task/inspection/googlecloudlognetworkapiaudit/impl/query_task.go
  pkg/task/inspection/googlecloudlogserialport/impl/query_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Move source/gcp/api -> api/googlecloud
  cmd/kubernetes-history-inspector/main.go
  pkg/api/googlecloud/accesstoken/default.go
  pkg/api/googlecloud/accesstoken/gcloud.go
  pkg/api/googlecloud/accesstoken/header_provider.go
  pkg/api/googlecloud/accesstoken/header_provider_test.go
  pkg/api/googlecloud/accesstoken/mds.go
  pkg/api/googlecloud/accesstoken/mds_test.go
  pkg/api/googlecloud/accesstoken/oauth.go
  pkg/api/googlecloud/client_factory.go
  pkg/api/googlecloud/gcp_client.go
  pkg/api/googlecloud/interface.go
  pkg/api/googlecloud/pageclient.go
  pkg/api/googlecloud/pageclient_test.go
  pkg/api/googlecloud/quotaproject/header_provider.go
  pkg/api/googlecloud/quotaproject/header_provider_test.go
  pkg/api/googlecloud/type.go
  pkg/api/googlecloud/validator.go
  pkg/api/googlecloud/validator_test.go
  pkg/source/gcp/query/query.go
  pkg/source/gcp/query/queryutil/parallel.go
  pkg/task/inspection/googlecloudclustercomposer/impl/autocompletecomposerclusternames_task.go
  pkg/task/inspection/googlecloudclustercomposer/impl/autocompletecomposerenvironmentnames_task.go
  pkg/task/inspection/googlecloudclustergdcbaremetal/impl/autocompletegdcvforbaremetalclusternames_task.go
  pkg/task/inspection/googlecloudclustergdcvmware/impl/autocompletegdcvforvmwareclusternames_task.go
  pkg/task/inspection/googlecloudclustergke/impl/autocompletegkeclusternames_task.go
  pkg/task/inspection/googlecloudclustergkeonaws/impl/autocomplete.go
  pkg/task/inspection/googlecloudclustergkeonazure/impl/autocomplete.go
  pkg/task/inspection/googlecloudcommon/impl/autocompletelocation_task.go
  pkg/task/inspection/googlecloudcommon/impl/inputloggingfilterresourcename_task.go
  pkg/testutil/gcp/api/mock-client.go
  pkg/testutil/gcp/log.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Move pkg/source/gcp/query to gcp/core/inspection/gcpqueryutil
  pkg/core/inspection/gcpqueryutil/common.go
  pkg/core/inspection/gcpqueryutil/common_test.go
  pkg/core/inspection/gcpqueryutil/parallel.go
  pkg/core/inspection/gcpqueryutil/parallel_test.go
  pkg/core/inspection/gcpqueryutil/query_task.go
  pkg/core/inspection/gcpqueryutil/set_filter.go
  pkg/core/inspection/gcpqueryutil/set_filter_test.go
  pkg/task/inspection/googlecloudclustercomposer/impl/query_task.go
  pkg/task/inspection/googlecloudk8scommon/contract/taskid.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputkindfilter_task.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputkindfilter_task_test.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputnamespacefilter_task.go
  pkg/task/inspection/googlecloudk8scommon/impl/inputnamespacefilter_task_test.go
  pkg/task/inspection/googlecloudlogcomputeapiaudit/impl/query_task.go
  pkg/task/inspection/googlecloudloggkeapiaudit/impl/query_task.go
  pkg/task/inspection/googlecloudloggkeautoscaler/impl/query.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/query.go
  pkg/task/inspection/googlecloudlogk8saudit/impl/query_test.go
  pkg/task/inspection/googlecloudlogk8scontainer/contract/taskid.go
  pkg/task/inspection/googlecloudlogk8scontainer/impl/form_task.go
  pkg/task/inspection/googlecloudlogk8scontainer/impl/query_task.go
  pkg/task/inspection/googlecloudlogk8scontainer/impl/query_task_test.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/contract/taskid.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/form_task.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/query_task.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/query_task_test.go
  pkg/task/inspection/googlecloudlogk8sevent/impl/query_task.go
  pkg/task/inspection/googlecloudlogk8sevent/impl/query_task_test.go
  pkg/task/inspection/googlecloudlogk8snode/impl/query_task.go
  pkg/task/inspection/googlecloudlogmulticloudapiaudit/impl/query_task.go
  pkg/task/inspection/googlecloudlognetworkapiaudit/impl/query_task.go
  pkg/task/inspection/googlecloudlogonpremapiaudit/impl/query_task.go
  pkg/task/inspection/googlecloudlogserialport/impl/query_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Moved utility logics of progress bar to inspection/progress
  pkg/core/inspection/runner.go
  pkg/inspection/form/fileform.go
  pkg/inspection/metadata/progress/conformance_test.go
  pkg/inspection/metadata/progress/progress.go
  pkg/inspection/metadata/progress/progress_test.go
  pkg/inspection/progressutil/indeterminate_updator.go
  pkg/inspection/progressutil/indeterminate_updator_test.go
  pkg/inspection/progressutil/progress_updator.go
  pkg/inspection/progressutil/progress_updator_test.go
  pkg/inspection/progressutil/progress_util.go
  pkg/inspection/progressutil/progress_util_test.go
  pkg/inspection/task/task.go
  pkg/parser/parser.go
  pkg/source/common/k8s_audit/recorder/task.go
  pkg/source/common/k8s_audit/v2commonlogparse/task.go
  pkg/source/common/k8s_audit/v2logconvert/task.go
  pkg/source/common/k8s_audit/v2manifestgenerate/task.go
  pkg/source/common/k8s_audit/v2timelinegrouping/task.go
  pkg/source/oss/parser/logfile-reader.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Moved test utility types for tasks under test subpckages of these task cores
  docs/en/khi-task-system-concept.md
  pkg/core/inspection/formtask/test/testutil.go
  pkg/core/inspection/formtask/textform_test.go
  pkg/core/inspection/logger/global_logger_test.go
  pkg/core/inspection/taskbase/cached_task_test.go
  pkg/core/inspection/test/testutil.go
  pkg/core/task/test/testutil.go
  pkg/server/server_test.go
  pkg/source/common/k8s_audit/v2logconvert/task_test.go
  pkg/source/common/k8s_audit/v2manifestgenerate/task_test.go
  pkg/source/common/k8s_audit/v2timelinegrouping/task_test.go
  pkg/source/gcp/task/form_test.go
  pkg/source/gcp/task/gcpcommon/filename_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

Flatten inspection metadata package structure
  pkg/core/inspection/metadata/conformance_test.go
  pkg/core/inspection/metadata/error_metadata.go
  pkg/core/inspection/metadata/form_metadata.go
  pkg/core/inspection/metadata/form_metadata_test.go
  pkg/core/inspection/metadata/header_metadata.go
  pkg/core/inspection/metadata/keys.go
  pkg/core/inspection/metadata/log_metadata.go
  pkg/core/inspection/metadata/log_metadata_test.go
  pkg/core/inspection/metadata/plan_metadata.go
  pkg/core/inspection/metadata/progress_metadata.go
  pkg/core/inspection/metadata/progress_metadata_test.go
  pkg/core/inspection/metadata/query_metadata.go
  pkg/core/inspection/metadata/query_metadata_test.go
  pkg/core/inspection/parsertask/parser.go
  pkg/core/inspection/progressutil/indeterminate_updator.go
  pkg/core/inspection/progressutil/indeterminate_updator_test.go
  pkg/core/inspection/progressutil/progress_updator.go
  pkg/core/inspection/progressutil/progress_updator_test.go
  pkg/core/inspection/progressutil/progress_util.go
  pkg/core/inspection/progressutil/progress_util_test.go
  pkg/core/inspection/runner.go
  pkg/core/inspection/taskbase/task.go
  pkg/core/inspection/test/testutil.go
  pkg/model/binarychunk/builder.go
  pkg/model/binarychunk/builder_test.go
  pkg/model/history/builder.go
  pkg/server/server_test.go
  pkg/source/common/k8s_audit/recorder/task.go
  pkg/source/common/k8s_audit/v2commonlogparse/task.go
  pkg/source/common/k8s_audit/v2logconvert/task.go
  pkg/source/common/k8s_audit/v2manifestgenerate/task.go
  pkg/source/common/k8s_audit/v2timelinegrouping/task.go
  pkg/source/gcp/query/query.go
  pkg/source/gcp/query/queryutil/parallel.go
  pkg/source/gcp/task/gcpcommon/filename.go
  pkg/source/oss/parser/logfile-reader.go
  pkg/task/inspection/impl/serializer.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

[chore :wrench:]Moved parser base task under pkg/core/inspectio/legacyparser
  pkg/core/inspection/legacyparser/parser.go
  pkg/source/apache-airflow/airflow-scheduler/parser.go
  pkg/source/apache-airflow/airflow-worker/parser.go
  pkg/source/apache-airflow/dag-processor-manager/parser.go
  pkg/source/gcp/task/cloud-composer/parser.go
  pkg/source/gcp/task/gke/autoscaler/parser.go
  pkg/source/gcp/task/gke/compute_api/parser.go
  pkg/source/gcp/task/gke/gke_audit/parser.go
  pkg/source/gcp/task/gke/k8s_container/parser.go
  pkg/source/gcp/task/gke/k8s_control_plane_component/parser.go
  pkg/source/gcp/task/gke/k8s_event/parser.go
  pkg/source/gcp/task/gke/k8s_node/parser.go
  pkg/source/gcp/task/gke/network_api/parser.go
  pkg/source/gcp/task/gke/serialport/parser.go
  pkg/source/gcp/task/multicloud_api/parser.go
  pkg/source/gcp/task/onprem_api/parser.go
  pkg/source/oss/parser/event.go
  pkg/testutil/parser/parser.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

[chore :wrench:]Refactor task folder structure for common tasks used for Google Cloud
  cmd/kubernetes-history-inspector/main.go
  pkg/source/gcp/query/query.go
  pkg/source/gcp/task/autocomplete.go
  pkg/source/gcp/task/cloud-composer/form/autocomplete.go
  pkg/source/gcp/task/cloud-composer/form/form.go
  pkg/source/gcp/task/cloud-composer/query/query.go
  pkg/source/gcp/task/cloud-composer/query/query_test.go
  pkg/source/gcp/task/form.go
  pkg/source/gcp/task/form_test.go
  pkg/source/gcp/task/gcpcommon/filename.go
  pkg/source/gcp/task/gcpcommon/filename_test.go
  pkg/source/gcp/task/gdcv-for-baremetal/autocomplete.go
  pkg/source/gcp/task/gdcv-for-vmware/autocomplete.go
  pkg/source/gcp/task/gke-on-aws/autocomplete.go
  pkg/source/gcp/task/gke-on-azure/autocomplete.go
  pkg/source/gcp/task/gke/autocomplete.go
  pkg/source/gcp/task/gke/autoscaler/query.go
  pkg/source/gcp/task/gke/gke_audit/query.go
  pkg/source/gcp/task/gke/k8s_control_plane_component/query.go
  pkg/source/gcp/task/gke/k8s_event/query.go
  pkg/source/gcp/task/gke/k8s_node/query.go
  pkg/source/gcp/task_registrer.go
  pkg/source/gcp/task_registrer_test.go
  pkg/task/inspection/contract/taskid.go
  pkg/task/inspection/googlecloudcommon/contract/formpriority.go
  pkg/task/inspection/googlecloudcommon/contract/resourcename.go
  pkg/task/inspection/googlecloudcommon/contract/taskid.go
  pkg/task/inspection/googlecloudcommon/impl/inputduration_task.go
  pkg/task/inspection/googlecloudcommon/impl/inputduration_task_test.go
  pkg/task/inspection/googlecloudcommon/impl/inputendtime_task.go
  pkg/task/inspection/googlecloudcommon/impl/inputendtime_task_test.go
  pkg/task/inspection/googlecloudcommon/impl/inputloggingfilterresourcename_task.go
  pkg/task/inspection/googlecloudcommon/impl/inputprojectid_task.go
  pkg/task/inspection/googlecloudcommon/impl/inputprojectid_task_test.go
  pkg/task/inspection/googlecloudcommon/impl/inputstarttime_task.go
  pkg/task/inspection/googlecloudcommon/impl/inputstarttime_task_test.go
  pkg/task/inspection/googlecloudcommon/impl/registration.go
  pkg/task/inspection/impl/timezoneshiftinput_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

[chore :wrench:]Moved GKE cluster specific tasks to googlecloudclustergke
  cmd/kubernetes-history-inspector/main.go
  cmd/reference-generator/main.go
  pkg/source/gcp/task_registrer.go
  pkg/source/gcp/task_registrer_test.go
  pkg/task/inspection/googlecloudclustergke/contract/inspectiontype.go
  pkg/task/inspection/googlecloudclustergke/contract/taskid.go
  pkg/task/inspection/googlecloudclustergke/impl/autocompletegkeclusternames_task.go
  pkg/task/inspection/googlecloudclustergke/impl/gkeclusternameprefix_task.go
  pkg/task/inspection/googlecloudclustergke/impl/registration.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

[chore :wrench:]Moved GDC for VMWare specific tasks under googlecloudclustergdcvvmware
  cmd/kubernetes-history-inspector/main.go
  cmd/reference-generator/main.go
  pkg/source/gcp/inspectiontype/inspection_type.go
  pkg/source/gcp/task/gdcv-for-vmware/autocomplete.go
  pkg/source/gcp/task/gke/inspection-type.go
  pkg/source/gcp/task/gke/prefix.go
  pkg/source/gcp/task_registrer.go
  pkg/task/inspection/googlecloudclustergdcvmware/contract/inspectiontype.go
  pkg/task/inspection/googlecloudclustergdcvmware/contract/taskid.go
  pkg/task/inspection/googlecloudclustergdcvmware/impl/autocompletegdcvforvmwareclusternames_task.go
  pkg/task/inspection/googlecloudclustergdcvmware/impl/gdcvforvmwareclusternameprefix_task.go
  pkg/task/inspection/googlecloudclustergdcvmware/impl/registration.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama

[chore :wrench:]Moved GDC specific types under googlecloudclustergdcvmware or googlecloudclustergdcbaremetal
  cmd/kubernetes-history-inspector/main.go
  cmd/reference-generator/main.go
  pkg/source/gcp/inspectiontype/inspection_type.go
  pkg/source/gcp/task_registrer.go
  pkg/task/inspection/googlecloudclustergdcbaremetal/contract/inspectiontype.go
  pkg/task/inspection/googlecloudclustergdcbaremetal/contract/taskid.go
  pkg/task/inspection/googlecloudclustergdcbaremetal/impl/autocompletegdcvforbaremetalclusternames_task.go
  pkg/task/inspection/googlecloudclustergdcbaremetal/impl/gdcvforbaremetalclusternameprefix_task.go
  pkg/task/inspection/googlecloudclustergdcbaremetal/impl/registration.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama
