Repository GoogleCloudPlatform/khi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

.github/CODEOWNERS:

# Github Actions
.github/ @kyasbal
.cloudbuild/ @kyasbal

# Golang related files
cmd/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima
pkg/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima
test/ @kyasbal @RyuSA @jyane @yfuruyama @kkuchima

# Web front related files
web/ @kyasbal @renamoo @jyane

Adding CSM access log parser feature (#353)
  pkg/core/inspection/gcpqueryutil/set_filter.go
  pkg/model/enum/log_type.go
  pkg/model/enum/parent_relationship.go
  pkg/model/history/resourcepath/csm.go
  pkg/task/inspection/googlecloudcommon/contract/fieldset.go
  pkg/task/inspection/googlecloudcommon/contract/fieldset_test.go
  pkg/task/inspection/googlecloudlogcsm/contract/fieldset.go
  pkg/task/inspection/googlecloudlogcsm/contract/fieldset_test.go
  pkg/task/inspection/googlecloudlogcsm/contract/taskid.go
  pkg/task/inspection/googlecloudlogcsm/impl/form_task.go
  pkg/task/inspection/googlecloudlogcsm/impl/form_task_test.go
  pkg/task/inspection/googlecloudlogcsm/impl/parser_task.go
  pkg/task/inspection/googlecloudlogcsm/impl/parser_task_test.go
  pkg/task/inspection/googlecloudlogcsm/impl/query_task.go
  pkg/task/inspection/googlecloudlogcsm/impl/query_task_test.go
  pkg/task/inspection/googlecloudlogcsm/impl/registration.go
  pkg/task/inspection/googlecloudlogk8scontainer/impl/query_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix panic error on containerd id finder task
  pkg/task/inspection/googlecloudlogk8snode/impl/containerd_task.go
  pkg/task/inspection/googlecloudlogk8snode/impl/containerd_task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix issues pointed by gemini-code-assist
  pkg/task/inspection/googlecloudlogk8snode/impl/containerd_task.go
  pkg/task/inspection/googlecloudlogk8snode/impl/containerd_task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Implement the new klog and logfmt structured log parser
  pkg/core/inspection/logutil/klog.go
  pkg/core/inspection/logutil/klog_test.go
  pkg/core/inspection/logutil/legacyklog.go
  pkg/core/inspection/logutil/legacyklog_test.go
  pkg/core/inspection/logutil/logfmt.go
  pkg/core/inspection/logutil/logfmt_test.go
  pkg/core/inspection/logutil/type.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix issues pointed by gemini-code-assist
  pkg/core/inspection/logutil/klog.go
  pkg/core/inspection/logutil/legacyklog.go
  pkg/core/inspection/logutil/logfmt.go
  pkg/core/inspection/logutil/logfmt_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Replace existing legacy klog parser usage in node and controlplane log parsers with the new implementation
  pkg/core/inspection/logutil/klog.go
  pkg/core/inspection/logutil/klog_test.go
  pkg/core/inspection/logutil/logfmt.go
  pkg/core/inspection/logutil/logfmt_test.go
  pkg/core/inspection/logutil/type.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/contract/fieldset.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/contract/fieldset_test.go
  pkg/task/inspection/googlecloudlogk8scontrolplane/impl/controllermanager_task.go
  pkg/task/inspection/googlecloudlogk8snode/contract/fieldset.go
  pkg/task/inspection/googlecloudlogk8snode/contract/fieldset_test.go
  pkg/task/inspection/googlecloudlogk8snode/impl/common_task.go
  pkg/task/inspection/googlecloudlogk8snode/impl/containerd_task.go
  pkg/task/inspection/googlecloudlogk8snode/impl/containerd_task_test.go
  pkg/task/inspection/googlecloudlogk8snode/impl/kubelet_task.go
  pkg/task/inspection/googlecloudlogk8snode/impl/kubelet_task_test.go
  pkg/task/inspection/googlecloudlogk8snode/impl/other_task.go
  pkg/task/inspection/googlecloudlogk8snode/impl/other_task_test.go
  pkg/task/inspection/googlecloudlogk8snode/impl/parser_utility.go
  pkg/task/inspection/googlecloudlogk8snode/impl/parser_utility_test.go
  pkg/testutil/testchangeset/changeset.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix issues pointed by gemini-code-assist
  pkg/core/inspection/logutil/klog.go
  pkg/core/inspection/logutil/klog_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Fix the flaky end time input form default value issue
  pkg/core/inspection/runner.go
  pkg/core/inspection/test/testutil.go
  pkg/task/inspection/googlecloudcommon/impl/inputendtime_task.go
  pkg/task/inspection/googlecloudcommon/impl/inputendtime_task_test.go
  pkg/task/inspection/inspectioncore/contract/contextkey.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix issue pointed by gemini-code-assist
  pkg/core/inspection/test/testutil.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Embed static web files in executable, and use them by default
  .devcontainer/.dockerignore
  .github/workflows/pr-request.yaml
  .gitignore
  Dockerfile
  README.ja.md
  README.md
  docs/en/development-contribution/development-guide.md
  docs/ja/development-contribution/development-guide.md
  pkg/parameters/server.go
  pkg/server/server.go
  pkg/server/server_test.go
  scripts/make/build.mk
  web/GEMINI.md
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima, @renamoo

Simplify StaticFolderPath in server test
  pkg/server/server_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Fix typo in frontend asset path in README.md
  README.md
Owners: none

Imroved efficiency of writing binary data
  pkg/model/binarychunk/builder.go
  pkg/model/binarychunk/builder_test.go
  pkg/model/binarychunk/compressor.go
  pkg/model/binarychunk/compressor_test.go
  pkg/model/binarychunk/writer.go
  pkg/model/binarychunk/writer_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Fix KHI_FRONTEND_ASSET_FOLDER
  README.md
Owners: none

KHI_FRONTEND_ASSET_FOLDER
  .github/workflows/pr-request.yaml
Owners: @kyasbal

KHI_FRONTEND_ASSET_FOLDER
  README.ja.md
Owners: none

Fix: Write only one web files source debug message
  pkg/server/server.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Commit pkg/server/dist directory, but ignore all files in it
  .gitignore
  pkg/server/dist/.gitignore
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

bug: controlplane forms and csm forms were using the same form field priority
  pkg/core/inspection/metadata/form_metadata.go
  pkg/core/inspection/metadata/form_metadata_test.go
  pkg/task/inspection/googlecloudlogcsm/impl/form_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Revert "Commit pkg/server/dist directory, but ignore all files in it"
  .gitignore
  pkg/server/dist/.gitignore
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Do not commit files in pkg/server/dist to the repository
  .gitignore
Owners: none

Change dist to pkg/server/dist in test setup
  .github/workflows/pr-request.yaml
Owners: @kyasbal

Update server parameters test to use the new frontend asset folder default
  pkg/parameters/server_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix problems pointed by gemini-code-assist
  pkg/model/binarychunk/builder.go
  pkg/model/binarychunk/writer.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Optimize HistoryModifier and deprecate HistoryBuilder.ParseLogsByGroups
  pkg/core/inspection/taskbase/historymodifier_task.go
  pkg/model/history/builder.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix issues pointed by gemini-code-assist
  pkg/core/inspection/taskbase/historymodifier_task.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Fix issues after upgrading markdown lint
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/workflows/pr-request.yaml
Owners: @kyasbal

bug: fixed `--base-path` option to be respected with using embedded file system to serve static files
  pkg/server/embedfs.go
  pkg/server/embedfs_test.go
  pkg/server/server.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix issues pointed out by gemini-code-assist
  pkg/server/embedfs.go
  pkg/server/embedfs_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix: panic error due to lack of locks over Resource type
  pkg/model/history/builder.go
  pkg/model/history/history.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix failed tests and issues pointed by gemini-code-assist
  pkg/model/history/builder.go
  pkg/model/history/builder_test.go
  pkg/model/history/sorter_impl_test.go
  pkg/model/history/sorter_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix a lock issue pointed by gemini-code-assist
  pkg/model/history/builder.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

Adding a Make target to build single-binary build artifacts for multiple environment
  .gitignore
  scripts/make/build.mk
Owners: none

fix suggested by gemini-code-assist
  scripts/make/build.mk
Owners: none

feat: add Interceptor support to LocalRunner and InspectionTaskRunner
  pkg/core/inspection/logger/global_logger.go
  pkg/core/inspection/runner.go
  pkg/core/inspection/runner_test.go
  pkg/core/inspection/server.go
  pkg/core/task/interface.go
  pkg/core/task/runner.go
  pkg/core/task/runner_test.go
  pkg/task/inspection/inspectioncore/contract/contextkey.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix suggested by gemini-code-assist
  pkg/core/inspection/runner.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

feat(tracing): integrate Cloud Trace for inspection tasks
  go.mod
  go.sum
  pkg/core/init/default/defaultextension.go
  pkg/core/inspection/server.go
  pkg/core/inspection/taskbase/fieldsetread_task.go
  pkg/core/inspection/taskbase/historymodifier_task.go
  pkg/core/inspection/taskbase/logfilter_task.go
  pkg/core/inspection/taskbase/loggroup_task.go
  pkg/core/inspection/taskbase/logserializer_task.go
  pkg/core/inspection/tracing/tracer.go
  pkg/core/inspection/tracing/tracer_test.go
  pkg/core/task/interface.go
  pkg/core/task/runner.go
  pkg/core/task/runner_test.go
  pkg/parameters/debug.go
  pkg/parameters/debug_test.go
  pkg/task/inspection/googlecloudcommon/contract/listlogentries_task.go
  pkg/task/inspection/inspectioncore/contract/contextkey.go
  pkg/task/inspection/inspectioncore/contract/taskmode.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix test failure
  pkg/core/inspection/tracing/tracer_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

feat: Dynamically generate Cloud Logging resource name input forms based on active tasks in the task graph.
  pkg/task/inspection/googlecloudcommon/contract/legacy_query_task.go
  pkg/task/inspection/googlecloudcommon/contract/listlogentries_task.go
  pkg/task/inspection/googlecloudcommon/contract/resourcename.go
  pkg/task/inspection/googlecloudcommon/contract/tasklabel.go
  pkg/task/inspection/googlecloudcommon/impl/inputloggingfilterresourcename_task.go
  pkg/task/inspection/googlecloudcommon/impl/inputloggingfilterresourcename_task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima

fix issue pointed by gemini-code-assist
  pkg/task/inspection/googlecloudcommon/impl/inputloggingfilterresourcename_task_test.go
Owners: @kyasbal, @RyuSA, @jyane, @yfuruyama, @kkuchima
